<template>
  <div :class="cssClasses">
    <img :src="block.image.path" alt="" />
  </div>
</template>

<script>
export default {
  props: {
    block: null,
    cols: null, //7
  },

  computed: {
    cssClasses() {
      const def = {
        'column': true,
      }

      def[`is-${this.cols}`] = true;

      return def;
    }
  }
}
</script>

<style scoped lang="scss">

</style>
