<template>
  <div :class="cssClasses">
    <h3 class="common-h3">{{block.title}}</h3>
    <div class="textual-content" v-html="block.body">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    block: null,
    cols: null, //5
  },

  computed: {
    cssClasses() {
      const def = {
        'column': true,
      }

      def[`is-${this.cols}`] = true;

      return def;
    }
  }
}
</script>

<style scoped lang="scss">

</style>
