$checkbox-size: 20px;
$checkbox-border-radius: 0;
$checkbox-border-width: 1px;
$checkbox-border-color: $ui-grey-alt;
$checkbox-active-background-color: transparent;
$checkbox-checkmark-color: $ui-blue;

.b-checkbox.checkbox {
  &:hover input[type=checkbox]:not(:disabled), input[type=checkbox]:checked {
    + .check {
      border-color: $ui-grey-alt !important;
    }
  }
  input[type=checkbox] {
    &:checked + .check {
      transition: background 0s;
      background: transparent url("~assets/img/check.svg") no-repeat center center !important;
    }
    &:focus {
      &, &:checked {
        + .check {
          box-shadow: none !important;
        }
      }
    }
  }
}