.margin-top-40 {
  margin-top: rem(40);
}

.light-beige {
  background: $light-beige;
}

.lighter-beige {
  background: $lighter-beige;
}

.app-block {
  padding-top: 114px;
  padding-bottom: 100px;

  @include mobile {
    padding-top: rem(70);
    padding-bottom: rem(60);
  }
}

.text-align-center {
  text-align: center;
}

.common-h3 {
  color: $ui-dark-blue;
  font-size: 45px;
  line-height: 50px;
  font-weight: 300;
  max-width: 215px;
  margin-bottom: rem(40);
  @include mobile {
    max-width: 100%;
  }
}

.common-p,
div.textual-content {
  font-size: rem(25);
  font-weight: 300;
  color: $ui-blue;
  line-height: 1.4;
  padding-right: rem(20);

  p {
    margin-bottom: 1rem;
  }

  @include mobile {
    font-size: $font-size;
    line-height: 1.2;
  }
}

.full-width {
  max-width: unset;
}

.read-more {
  display: block;
  margin-top: 70px;

  span,
  svg {
    display: block;
  }

  span {
    font-size: 18px;
    line-height: 24px;
    color: $ui-dark-blue;
    text-transform: uppercase;
  }
}

.without-top-padding {
  padding-top: 0;
}

.standart-section-offset {
  // margin-top: 160px;
  margin-top: 100px;
}

.control.search-input.has-icons-right {
  input {
    background: transparent;
    border-color: #020202;
    color: #1a1919;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    line-height: 1;
    // text-align: center;
  }

  .icon {
    height: 100%;
  }
}

.navbar .navbar-end a.nuxt-link-exact-active,
.navbar .navbar-end a.nuxt-link-active {
  color: #8c080c;
}

.btn {
  border: 1px solid #8c080c;
  background-color: #8c080c;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s;

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: #8c080c;
    }
  }

  &-close {
    padding: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }
}

.button.is-dark {
  background-color: #8c080c;
}

.pink-color {
  color: #8c080c;
}

.color-black,
.single-product h4.color-black {
  color: #020202;
}

.bigger-gap-columns {
  > .column {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
}

.show-mobile {
  display: none;
}

.basket-container {
  padding: 80px 0 40px;
}

.is-absolute {
  position: absolute !important;
}

.size-input-slider-wrap {
  margin-top: 30px;
  margin-bottom: 30px;

  @include mobile {
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.bubble-image {
  display: block;
  margin-top: -115px;
  margin-right: 0;
  margin-left: auto;

  @include mobile {
    margin-top: 0;
  }
}


body .category-chooser {
  display: flex;
  justify-content: space-between;
  // overflow-x: scroll;

  // padding: 0 rem(20);

  .choose-category-box,
  .choose-category {
    margin-left: 5px;
    margin-right: 5px;

    svg,img {
      width: 8rem;
    }

    img {
      object-fit: contain;
      height: 100%;
    }
  }

  // .choose-category:after {
  //   width: 100px;
  //   height: 100px;
  //   margin-left: -50px;
  //   top: 40px;
  // }
}

.text-content {
  ul {
    list-style: disc;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
  ol {
    padding-left: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .show-mobile {
    display: block;
  }

  body .carousel-wrapper {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  body .about-us-block {
    max-width: 300px;
  }

  body {
    // .products-slider-block .carousel-wrapper .carousel-wrapper-big,
    // .products-slider-block .carousel-wrapper .carousel-wrapper-bigger {
    //   display: none;
    // }

    .products-slider-block .carousel-wrapper .carousel-wrapper-small {
      margin-top: 0;
    }
  }

  .BreadcrumbList {
    display: none;
  }

  .standart-section-offset {
    margin-top: 80px;
  }

  body .shop-page .shop-padder {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  body .category-chooser {
    display: flex;
    overflow-x: scroll;

    padding: 0 rem(20);

    .choose-category-box,
    .choose-category {
      margin-left: 5px;
      margin-right: 5px;

      svg {
        width: 50px;
      }
    }

    .choose-category:after {
      width: 100px;
      height: 100px;
      margin-left: -50px;
      top: 40px;
    }
  }

  body .single-product .left-radius.is-close.common-select-fields select {
    margin-top: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  body .single-product .right-radius.is-close.common-select-fields select {
    margin-top: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  body .prev-item {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
      margin-left: 2.5rem;
      margin-left: 2rem;
    }

    span {
      margin-top: 0;
      margin-left: 10px;
      @include mobile {
        margin-bottom: 0;
      }
    }
  }

  body .next-item {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;

    @include mobile {
      margin-right: 2.5rem;
      margin-right: 2rem;
      flex-direction: row-reverse;

      span {
        margin-left: 0;
        margin-right: 10px;
      }
    }

    span {
      margin-top: 0;
      margin-left: 10px;

      @include mobile {
        margin-bottom: 0;
      }
    }
  }
}

div.container {
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    padding-left: 2.5em;
    padding-right: 2.5em;
    &.fluid-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

div.container.compact {
  max-width: 890px !important; /* jesus sorry for this sin */
}

.blog-post__image {
  @include mobile {
    margin-left: -3rem;
    margin-right: -3rem;

    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.for-mobile {
  display: none !important;
}
@include mobile {
  .for-desktop {
    display: none !important;
  }
  .for-mobile {
    display: flex !important;
  }
}
