#footer {
  .footer-soc-links {
    margin-right: rem(30);

    svg {
      // height: rem(60);
    }

    @include mobile {
      margin-left: rem(10);
      margin-right: rem(10);
    }
  }

  .footer-links-to-sections {

    ul {
      display: flex;
    }

    ul li {

      margin-right: 40px;
    }

    margin-top: 30px;

    @include mobile {
      ul {
        width: 100%;

        li {
          width: 100%;
          margin: 0;
          padding: rem(20) rem(5);
        }
      }
    }
  }

  .footer-links-to-info-sections {

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    ul li a {

      margin-right: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin-left: 10px;
      }

      @include mobile {
        margin-top: rem(20);
        margin-bottom: rem(20);
      }
    }

    margin-top: 30px;

    @include mobile {
      ul {
        flex-wrap: wrap;
      }

      ul li {
        flex: 1 0 45%;
        margin-left: 0;
        margin-right: 0;

        a {
          margin: 0;
          margin-bottom: rem(10);

          svg {
            width: 50px;
            transform: scale(0.75);
          }

          span {
            margin: 0;
          }
        }

        &:nth-child(even) a {
          display: flex;
          flex-direction: row-reverse;
          margin-right: 0;

          span {
            margin-left: 0;
          }
        }
      }
    }
  }

  background: $ui-dark-blue;

  .container {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .subscribe {
    background-color: $ui-darker-blue;
    border: 1px solid $ui-border;
    padding: 6px;
    display: flex;

    input {
      background-color: $ui-darker-blue;
      width: 100%;
      outline: none !important;
      border: none !important;
      color: white;
      margin: 0 17px;

      &::placeholder {
        color: $ui-light-blue
      }
    }

    button {
      height: 52px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .moto {
    margin-top: rem(20);
    text-transform: uppercase;
  }

  @include mobile {
    text-align: center;

    .logo {
      display: flex;
      justify-content: center;
    }

    .paying-options {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  #footer .footer-links-to-info-sections ul li a {
    text-align: left;
    justify-content: flex-start;
  }

  #footer .footer-links-to-info-sections ul li {
    margin-bottom: 10px;
  }
}
