$navbar-height: 16px;
$navbar-padding-vertical: 45px;
$navbar-padding-horizontal: 40px;

$navbar-total-height: $navbar-height+$navbar-padding-vertical * 2;

.has-navbar-padding {
  padding-top: $navbar-total-height;
}

.main-logo-link {
  position: relative;


}
.basket-desk,
.favorite-desk {
  position: relative;

  .tag {
    position: absolute;
    left: 0;
    top: 0.375rem;
    top: 26%;
    // color: $ui-dark-blue;
    color: #fff;
    background-color: transparent;
    text-align: center;
    padding: 0;
    width: 100%;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }

  &.empty .tag {
    color: $ui-dark-blue;
  }
}

.favorite-desk {
  .tag {
    top: 2px;
    width: 100%;
  }
}

.nav-custm-flex {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;

  margin-left: auto;
}

.navbar {
  transition: background-color 0.3s ease;
  z-index: 100;

  &.navbar-white {
    background-color: white !important;

    a {
      color: $primary
    }

    .logo {
      opacity: 1;
    }
  }

  &:not(.navbar-white) {
    background-color: transparent !important;

    a {
      /*color: white*/
    }

    .logo {
      opacity: 1;
    }
  }

  .navbar-start,
  .navbar-end {
    gap: 48px;

    a {
      transition: color 0.3s ease;
      font-size: rem($font-size * 1.2);
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.01em;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .navbar-start {
    .logo {
      margin: 0 auto;
      left: 0px;
      right: 0px;
      /*position: absolute;*/
    }
  }

  .locale-image {
    width: 25px;
    // height: 24px;
  }


}

.blog-page .navbar.navbar-white {
  background-color: $light-beige !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media(max-width: 1024px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;

    .navbar {
      transition: background-color 0.3s ease;

      &.navbar-white {
        background-color: white !important;

        a {
          color: $primary
        }

        .logo {
          opacity: 1;
        }
      }

      &:not(.navbar-white) {
        background-color: #fff !important;

        a {
          color: black
        }

      }

      .navbar-start,
      .navbar-end {
        gap: 48px;

        .navbar-item {
          a {
            transition: color 0.3s ease;
            font-size: 1.563rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.01em;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 1em;
            padding-left: 1em;
          }
        }

      }


      .locale-image {
        width: 25px;
        // height: 24px;
      }

      .navbar-brand {
        color: #020202;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;

        .burger {
          width: 40px;
          height: 40px;
          color: #fff;
        }
      }

      .navbar-menu {
        .navbar-start {
          color: #020202;
        }

        .navbar-item {
          height: auto;
        }
      }

    }

    .logo-mobile {
      margin-left: 1em;
    }

    .mobile-cart {
      align-items: center;
      display: flex;
      position: absolute;
      right: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .navigation-box .desktop {
    display: none;
  }

  .navigation-box .mobile {
    display: block;
  }

  nav#navbar-mob {
    overflow: hidden;
    width: 100vw;
    background-color: #8c080c !important;

    z-index: 41;

    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
    }

    .basket-desk .tag,
    .favorite-desk .tag {
      color: #fff;
    }
  }

  .mobile-nav-menu-modal {
    .modal-background {
      background-color: $ui-dark-blue;
    }

    .custom-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100svh;
      padding: rem(50) 0 rem(100);

      position: relative;

      a {
        display: block;
        width: 100%;
        font-size: rem(30);
        color: #fff;
        padding: rem(20) 0;

        &.nuxt-link-active {
          color: #020202;
          // color: #F2EDE4;
        }
      }

      .languageSwitch {
        position: absolute;
        right: rem(5);
        bottom: rem(5);

        span {
          color: #fff;
        }
      }
    }

    .modal-close {
      top: rem(17);
      right: rem(10);
    }
  }

  .main-content {
    overflow: hidden;
  }

  .mobile-main-logo {
    margin-left: 10px;
    max-width: 230px;
  }

  body .slick-next {
    right: 10px;
    display: none;
  }

  body .slick-prev {
    left: 10px;
    display: none;
  }

  body .navbar-menu {
    background-color: #F2EDE4;
  }

  .navbar .navbar-start .logo {
    margin-left: 15px;
  }

  .menu-informative-text {
    color: #8c080c;
    font-size: 18px;
    margin: 0 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .custom-wrapper {
    margin: 0 15px;
  }

  .navbar .navbar-start a,
  .navbar .navbar-end a {
    margin-bottom: 10px;
  }

  .control.search-input.has-icons-right input {
    font-size: 16px;
  }

  .mobile-search-menu {
    margin-bottom: 40px;
  }
}
