<template>
  <div class="columns is-variable is-3 mb-1" v-if="item">
    <div class="column is-4 is-relative">
      <b-image ratio="17by20" :src="$imagor(image)" />
      <span class="is-absolute is-clean has-text-primary has-text-small has-line-height-100 p-1" style="top: 12px; right: 12px">
        1
      </span>
    </div>
    <div class="column is-8">
      <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
        <div>
          ID: {{ type.jumis_group }}
        </div>
      </div>
      <div class="has-text-large mb-1">
        {{ type.title }}
      </div>
      <div class="has-text-large mb-5">
        {{ $utils.parseCurrency(variation.value) }}
      </div>
    </div>
  </div>
</template>

<script>
export default {

  props: {
    item: {
      type: Object,
      default: null,
    },
  },
  computed: {
    product() {
      ////console.log(this.item);
      return this.item;
    },
    variation() {
      return this.item;
    },

    type() {
      if (this.item) {
        return this.item.gift_card_type;
      }

      return null
    },

    image() {
      if (this.type && this.type.images.length > 0) {
        return this.type.images[0]
      }
      return null;
    },
  }
}
</script>
