<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="66.854" height="66.854" viewBox="0 0 66.854 66.854">
    <g id="Group_1215" data-name="Group 1215" transform="translate(-555.915 -4234.573)">
      <path id="Path_962" data-name="Path 962" d="M298.441,72.43h-4.87a8.116,8.116,0,0,0-8.116,8.116v4.87h-4.87V91.91h4.87V104.9h6.493V91.91h4.87l1.623-6.494h-6.493v-4.87a1.623,1.623,0,0,1,1.623-1.623h4.87Z" transform="translate(299.829 4179.838)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      <g id="Ellipse_117" data-name="Ellipse 117" transform="translate(555.915 4234.573)" fill="none" stroke="#fff" stroke-width="2">
        <circle cx="33.427" cy="33.427" r="33.427" stroke="none"/>
        <circle cx="33.427" cy="33.427" r="32.427" fill="none"/>
      </g>
    </g>
  </svg>

</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
