<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="131.395"
    height="112.623"
    viewBox="0 0 131.395 112.623"
  >
    <g transform="translate(-1181.85 -532.15)">
      <path
        d="M1272.2,636.2q-.85-6.5-4.05-20.8-3.75-16.55-6.35-21.6-3.2,1.451-5.2,0a19.682,19.682,0,0,1-1.6-1.3,14.875,14.875,0,0,0-1.55-1.25,7.671,7.671,0,0,0-4.15-1.35,8.489,8.489,0,0,0-4.2,1q-.35.25-1.6,1.1a9.791,9.791,0,0,1-1.55.95q-2.75,1.25-6.5-2.25v-.05q-2.25,3.551-5.1,15.2-2.9,11.5-4.75,23.45-15.851-8.351-21.2-11.25-8.6-4.6-9.75-6a135.537,135.537,0,0,1,12.5-23.15,101.538,101.538,0,0,1-11.8-.1,76.015,76.015,0,0,1-12.5-1.2,357.425,357.425,0,0,1,11.7-52.6,42.087,42.087,0,0,1,10.4,3.65,61.812,61.812,0,0,1,9.35,5.35q14.35,9.9,20.55,19.85a14.6,14.6,0,0,1,7,.85,28.82,28.82,0,0,0,6.35,1.8,6.284,6.284,0,0,0,4.05-.65q.35-.25.9-.7.75-.6,1-.85a6.925,6.925,0,0,1,3.2-.9,24.963,24.963,0,0,1,3.7.1q3.1-7.35,16.35-16.55a116.446,116.446,0,0,1,25.65-13.8,232.959,232.959,0,0,1,6.45,26.95,197.08,197.08,0,0,1,2.7,20.7q.35,7.6-1.9,10.25-2.3,2.7-4.25,3a46.5,46.5,0,0,1-6.7-.3m4.05-3.8a65.276,65.276,0,0,1-9.7.1q-5-.4-5.45-.475a106.714,106.714,0,0,1,12.65,21.875,122.211,122.211,0,0,1,7.75,23.3l-33.15,8.8m-68.35-54.65a64.236,64.236,0,0,0,9.3-1.25,78.665,78.665,0,0,0,8.3-2.1m10.7,5.1a33.578,33.578,0,0,1-2.05-13.15,84.774,84.774,0,0,1,1.45-13.65m26.2-.35h.2q2.3,3.649,1.55,22.15a135.984,135.984,0,0,0,14.15,2.55q8.9,1.3,11.3,1.375m-25.45-3.925-.2,3.85"
        fill="none"
        stroke="#020202"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      />
    </g>
  </svg>
</template>

<script>
  export default {};
</script>

<style scoped lang="scss">
</style>
