<template>
  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path
        d="M16.5 8.5C16.5 12.9183 12.9183 16.5 8.5 16.5C4.08172 16.5 0.5 12.9183 0.5 8.5C0.5 4.08172 4.08172 0.5 8.5 0.5C12.9183 0.5 16.5 4.08172 16.5 8.5Z"
        stroke="#020202" />
      <path
        d="M8.21429 13V5.72727H9.26786V13H8.21429ZM8.75 4.51515C8.54464 4.51515 8.36756 4.44097 8.21875 4.29261C8.07292 4.14426 8 3.96591 8 3.75758C8 3.54924 8.07292 3.3709 8.21875 3.22254C8.36756 3.07418 8.54464 3 8.75 3C8.95536 3 9.13095 3.07418 9.27679 3.22254C9.4256 3.3709 9.5 3.54924 9.5 3.75758C9.5 3.96591 9.4256 4.14426 9.27679 4.29261C9.13095 4.44097 8.95536 4.51515 8.75 4.51515Z"
        fill="#020202" />
    </g>
  </svg>
</template>
