<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="66.854" height="66.854" viewBox="0 0 66.854 66.854">
    <g id="Group_1214" data-name="Group 1214" transform="translate(-463.743 -4234.573)">
      <g id="Group_561" data-name="Group 561" transform="translate(291.867 4182.148)">
        <rect id="Rectangle_285" data-name="Rectangle 285" width="28.597" height="28.597" rx="8.117" transform="translate(191.303 71.618)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <path id="Path_961" data-name="Path 961" d="M212.49,86.169a5.719,5.719,0,1,1-4.818-4.819A5.719,5.719,0,0,1,212.49,86.169Z" transform="translate(-1.169 -1.152)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <line id="Line_60" data-name="Line 60" x2="0.014" transform="translate(213.465 78.053)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </g>
      <g id="Ellipse_111" data-name="Ellipse 111" transform="translate(463.743 4234.573)" fill="none" stroke="#fff" stroke-width="2">
        <circle cx="33.427" cy="33.427" r="33.427" stroke="none"/>
        <circle cx="33.427" cy="33.427" r="32.427" fill="none"/>
      </g>
    </g>
  </svg>

</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
