<template>

<svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="90" height="24" rx="4" fill="white"/>
<path d="M9.08064 9.92578H6V20.7589H9.08064V9.92578Z" fill="#33CC66"/>
<path d="M16.924 9.92578C16.9266 10.4356 16.8275 10.9408 16.6324 11.4124C16.4374 11.8841 16.1501 12.3128 15.7872 12.6739C15.0495 13.4079 14.0505 13.8251 13.0054 13.8357C11.1421 13.8479 9.35933 14.5829 8.04669 15.8801C6.73425 17.1773 5.99845 18.9311 6 20.7589H9.08064C9.07884 20.249 9.17863 19.7438 9.37427 19.2723C9.56994 18.8008 9.85759 18.3723 10.2207 18.0113C10.9589 17.2774 11.958 16.86 13.0032 16.8488C14.8665 16.8372 16.6491 16.1023 17.9613 14.8048C19.2733 13.5074 20.0079 11.7531 20.0046 9.92578H16.924Z" fill="#000099"/>
<path d="M13.0036 3C11.1405 3.01221 9.35798 3.74717 8.04619 5.0444C6.73444 6.34207 5.99955 8.09613 6.00245 9.92322H9.08084C9.07849 9.41338 9.17779 8.9081 9.37312 8.43647C9.56845 7.96484 9.85589 7.53619 10.2189 7.17514C10.957 6.44114 11.9562 6.02393 13.0014 6.01332C14.049 6.02442 15.0498 6.44176 15.7845 7.17448C16.1476 7.5356 16.435 7.96439 16.6302 8.43613C16.8254 8.9079 16.9246 9.41331 16.9219 9.92322H20.0025C20.0061 8.09634 19.2717 6.34228 17.9601 5.04485C16.6484 3.74762 14.8665 3.01221 13.0036 3Z" fill="#3399FF"/>
<path d="M59.6902 9.08401L58.5647 10.4305C58.0762 9.94882 57.4178 9.67504 56.729 9.66736C56.1513 9.66736 55.8529 9.86182 55.8529 10.2361C55.8529 10.5435 56.0659 10.7066 56.7055 10.9491L57.5008 11.2732C59.0868 11.9004 59.7988 12.5382 59.7988 13.7238C59.815 14.0867 59.7407 14.448 59.5823 14.7755C59.4229 15.1043 59.1847 15.3893 58.8887 15.6057C58.2269 16.0805 57.4233 16.3205 56.6073 16.2871C55.1513 16.2871 54.0279 15.7686 53.2177 14.7293L54.3412 13.3997C55.0531 14.1293 55.8335 14.4869 56.6395 14.4869C57.2342 14.4869 57.682 14.2589 57.682 13.8219C57.682 13.4811 57.4496 13.3515 56.8293 13.0923L55.9528 12.7349C54.448 12.1346 53.7208 11.4696 53.7208 10.2862C53.7208 8.7788 54.9445 7.86915 56.7311 7.86915C57.9655 7.86694 58.944 8.2727 59.6902 9.08401ZM43.5389 8.1264H41.4878V8.99411C40.3558 7.60986 37.5353 7.47801 36.0005 9.11752C34.5358 10.6794 34.4656 13.5082 36.0005 15.1455C37.5353 16.7828 40.3537 16.6509 41.4858 15.2667V16.1346H43.5369L43.5389 8.1264ZM39.2753 14.3342C36.4545 14.3342 36.4503 9.92662 39.2753 9.92662C42.0252 9.92662 42.0359 14.3342 39.2753 14.3342ZM25.2172 18.6374H27.2659V15.2727C28.4002 16.6569 31.2209 16.7888 32.7533 15.1515C34.2865 13.5144 34.218 10.6853 32.7533 9.12132C31.2185 7.48424 28.398 7.61587 27.2659 9.0001V8.13218H25.2193L25.2172 18.6374ZM29.4809 9.93284C32.3038 9.93284 32.2993 14.3404 29.4809 14.3404C26.7202 14.3404 26.733 9.93284 29.4852 9.93284H29.4809ZM83.4484 8.08467H81.3973V8.95217C80.2632 7.56816 77.4448 7.43628 75.9099 9.07558C74.4453 10.6396 74.3751 13.4665 75.9099 15.1038C77.4448 16.7409 80.2632 16.6112 81.3952 15.225V16.0927H83.446L83.4484 8.08467ZM79.1844 14.2925C76.366 14.2925 76.3619 9.88468 79.1844 9.88468C81.9346 9.88468 81.9454 14.2902 79.1823 14.2902L79.1844 14.2925ZM51.0263 8.0698L48.8942 13.3411L46.8922 8.0698H44.5344L47.6685 15.6285C47.5703 16.1679 47.1291 16.7679 45.6751 16.789V18.6811C47.5637 18.8088 48.9772 17.8574 49.6425 16.3624L53.3754 8.06358L51.0263 8.0698ZM74.1361 10.0543V7.96327C73.9072 7.92952 73.6766 7.91203 73.4453 7.91088C72.9522 7.89609 72.4609 7.979 72.0003 8.15482C71.5411 8.33006 71.1217 8.59482 70.7676 8.9335C70.4098 9.28968 70.1304 9.71532 69.9464 10.1837C69.7632 10.6509 69.6799 11.1508 69.7016 11.6516V16.1448H71.936V11.5453C71.9256 11.343 71.9578 11.1408 72.0304 10.9515C72.103 10.7622 72.2144 10.5898 72.3575 10.4454C72.5013 10.2999 72.6735 10.185 72.8634 10.108C73.0542 10.0306 73.2586 9.99245 73.4647 9.99588C73.6894 9.99813 73.9142 10.0175 74.1361 10.0543ZM64.7727 7.87956C63.9238 7.88084 63.094 8.12983 62.3865 8.59544C61.6829 9.05846 61.1342 9.71867 60.8102 10.492C60.4876 11.2625 60.406 12.1112 60.5754 12.9282C60.7459 13.747 61.1594 14.4965 61.7624 15.0807C63.549 16.7639 66.6146 16.5715 68.1816 15.2898L67.329 13.732C66.1561 14.6165 63.3125 14.926 62.7282 12.8059H68.5762C68.6315 11.9988 68.7722 10.8341 68.1498 9.73641C67.118 7.89221 65.199 7.87956 64.7727 7.87956ZM64.6897 9.64852C65.6299 9.64852 66.3802 10.2403 66.4483 11.1686H62.7579C63.0459 10.2403 63.7814 9.64852 64.6897 9.64852Z" fill="#000099"/>
</svg>


</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>

<style lang="scss" scoped ></style>
