<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="159.378"
    height="147.45"
    viewBox="0 0 159.378 147.45"
  >
    <g id="Group_135" data-name="Group 135" transform="translate(0.762 0.705)">
      <path
        id="Path_129"
        data-name="Path 129"
        d="M850.011,5471.625s-21.339,78.514,54.356,64.02c0,0,14.495-45.5-51.94-70.06"
        transform="translate(-847.236 -5401.355)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_130"
        data-name="Path 130"
        d="M900.041,5425.2c-1.208.807-45.162,20.069-52.174,75.262"
        transform="translate(-846.937 -5420.554)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_131"
        data-name="Path 131"
        d="M981.369,5477.76s-3.784,97.872-84.847,55.406c0,0-1.338-59.118,76.566-60.226"
        transform="translate(-823.807 -5397.858)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_132"
        data-name="Path 132"
        d="M912.374,5422.05s76.892,27.992,58.982,93.857"
        transform="translate(-816.271 -5422.05)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_133"
        data-name="Path 133"
        d="M886.641,5501.99s5.9,5.4,17.653,1.359"
        transform="translate(-828.504 -5384.048)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_134"
        data-name="Path 134"
        d="M902.8,5526.9s51.3,7.083,75.58-50.693"
        transform="translate(-820.821 -5396.304)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_135"
        data-name="Path 135"
        d="M853.025,5496.97c19.71,26.674,49.6,18.566,49.6,18.566"
        transform="translate(-844.485 -5386.433)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
    </g>
  </svg>
</template>
