<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="96.637"
    height="156.379"
    viewBox="0 0 96.637 156.379"
  >
    <g
      id="Group_134"
      data-name="Group 134"
      transform="matrix(0.999, -0.035, 0.035, 0.999, 2.106, 3.865)"
    >
      <path
        id="Path_151"
        data-name="Path 151"
        d="M-.7,116.613s8.873,3.779,17.829,13.648c9.411,11.275,19.36,21.523,19.36,21.523H50.6s6.355-13.9,15.374-22.8,22.3-14.247,22.3-14.247-9.3-22.4-9.3-35.929S87.993,44.8,87.993,44.8a36.348,36.348,0,0,1-12.84-6.406,52.726,52.726,0,0,1-9.546-11.416s9.26-28.224-3.74-25.96,0,28.123,0,28.123,1.146,18.7-16.452,19.589-19-19.589-19-19.589S37.5.745,25.665.014s-4.928,26.963-4.928,26.963L12.546,38l-13.6,9.1A123.274,123.274,0,0,1,6.9,62.128c2.133,5,4.035,11.008,4.221,16.676C11.451,88.9,3.485,102.147-.7,116.613Z"
        transform="translate(0 0)"
        fill="none"
        stroke="#020202"
        stroke-width="1.5"
      />
      <path
        id="Path_152"
        data-name="Path 152"
        d="M3.7,3.146c5.951.111,6.575-2.045,16.133-1.908A120.187,120.187,0,0,1,38.231,3.064s7.83-1.851,15.193-2.87S75.216,2.515,75.216,2.515"
        transform="translate(7.834 57.762)"
        fill="none"
        stroke="#020202"
        stroke-width="1.5"
      />
    </g>
  </svg>
</template>
