<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="130.139"
    height="107.006"
    viewBox="0 0 130.139 107.006"
  >
    <g id="Group_583" data-name="Group 583" transform="translate(27.525 22.99)">
      <path
        id="Path_1020"
        data-name="Path 1020"
        d="M111.161-148.3a6.787,6.787,0,0,0,4.877,2.875,8.419,8.419,0,0,0,6.163-1.016,7.449,7.449,0,0,0,2.977-5.82,9.708,9.708,0,0,0-4.814-8.7,9.708,9.708,0,0,0-9.94.366c-1.9,1.269-6.463,5.925-2.8,13.04"
        transform="translate(-106.24 163.797)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_1021"
        data-name="Path 1021"
        d="M171.418-158.9a8.477,8.477,0,0,0,.124,8.785,8.633,8.633,0,0,0,7.951,3.737c3.246-.3,6.557-2.8,7.37-5.242,2.278-6.835-.554-10.34-3.863-12.6-4.278-2.927-10.573-1.5-13.985,1.514a9.557,9.557,0,0,0-2.279,10.074"
        transform="translate(-139.334 165.822)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_1022"
        data-name="Path 1022"
        d="M238.8-156.544c-2.439.2-6.1,7.522-1.626,11.182a8.84,8.84,0,0,0,10.978.2c3.579-2.556,6.3-9.352-1.22-15.248-2.659-2.084-10.368-2.643-13.279,3.207"
        transform="translate(-176.629 163.635)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
    </g>
    <path
      id="Path_1066"
      data-name="Path 1066"
      d="M495.5,1851.024l-11.8-21.282c-1.28-2.31-2.613-4.683-4.688-6.315-2.246-1.767-5.12-2.479-7.892-3.175-17.528-4.4-49.367-10.247-66.168-16.9a6.45,6.45,0,0,1-2.756-1.683,6.517,6.517,0,0,1-1.083-3.45c-1.128-9.737-3.795-36.71-4.923-46.447-.167-1.448,13.052-1.32,16.474-1.282,36.427.4,65.759-3.162,104.33-3.162,2.8,11.013,4.612,34.2,7.414,45.216.543,2.132.859,4.889-1,6.069-.884.562-14.8,3.27-26.883,8.485-.894.386-3.34,4.024-3.388,5.346-.383,10.4,4.005,30.715,3.622,41.113"
      transform="translate(-395.444 -1746.574)"
      fill="none"
      stroke="#020202"
      stroke-miterlimit="10"
      stroke-width="1.5"
    />
  </svg>
</template>
