<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="151.33"
    height="108.716"
    viewBox="0 0 151.33 108.716"
  >
    <g
      id="Group_136"
      data-name="Group 136"
      transform="translate(-600.914 -3425.726)"
    >
      <path
        id="Path_273"
        data-name="Path 273"
        d="M1041.115,5544.241s42.283,8.5,58.137,5.193c2.666-9.844,3.361-9.68,6.166-16.994a176.426,176.426,0,0,0,6.807,16.994c9.957-.912,49.311.838,71.434-5.193-2.094-12.475-12.67-79.385-18.59-101.164-61.916,7.9-85.7-1.2-123.954,0l-7.187,99.011"
        transform="translate(-432.266 -2016.52)"
        fill="none"
        stroke="#020202"
        stroke-miterlimit="10"
        stroke-width="1.5"
      />
      <path
        id="Path_274"
        data-name="Path 274"
        d="M-21608.355,11080.188s60.32,10.117,105.957,3.133"
        transform="translate(22221 -7639)"
        fill="none"
        stroke="#020202"
        stroke-width="1.5"
      />
    </g>
  </svg>
</template>
