<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="66.854" height="66.854" viewBox="0 0 66.854 66.854" >
    <g id="Group_1216" data-name="Group 1216" transform="translate(-642.419 -4234.573)">
      <g id="Group_559" data-name="Group 559" transform="translate(681.464 4186.957)">
        <path id="Path_957" data-name="Path 957" d="M11.491,72.738a4.512,4.512,0,0,0-3.149-3.246C5.55,68.81-5.619,68.81-5.619,68.81s-11.168,0-13.96.747A4.512,4.512,0,0,0-22.728,72.8a50.108,50.108,0,0,0,0,17.24,4.513,4.513,0,0,0,3.149,3.117c2.792.746,13.96.746,13.96.746s11.169,0,13.961-.746a4.515,4.515,0,0,0,3.149-3.247,47.1,47.1,0,0,0,.747-8.522A47.1,47.1,0,0,0,11.491,72.738Z" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <path id="Path_958" data-name="Path 958" d="M-9.271,86.7.063,81.391l-9.334-5.308Z" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </g>
      <g id="Ellipse_118" data-name="Ellipse 118" transform="translate(642.419 4234.573)" fill="none" stroke="#fff" stroke-width="2">
        <circle cx="33.427" cy="33.427" r="33.427" stroke="none"/>
        <circle cx="33.427" cy="33.427" r="32.427" fill="none"/>
      </g>
    </g>
  </svg>
</template>

<script>
import icons from '../../mixins/icons'

export default {
  mixins: [icons]
}
</script>
