<template>
    <section class="about-page blog-page container">
      <div class="standart-section-offset">
        <Breadcrumbs />

        <div class="container">
          <div class="columns is-centered">
            <div class="column is-7">
              <div class="blog-card">

                <div class="mb-6">
                  <ul class="blog-filter">
                    <li v-for="service in this.services" :key="service.id">
                      <nuxt-link :to="localePath('/services/'+service.slug)">
                        {{ service.title }}
                      </nuxt-link>
                    </li>
                  </ul>
                </div>

                <div v-for="service in this.serviceList" :key="service.id"  class="text-content">
                  <nuxt-link :to="localePath('/services/'+service.slug)">
                    <h1>{{ service.title }}</h1>
                  </nuxt-link>
                  <div v-html="service.body"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </template>

  <script>
  import Background from "~/components/pages/home/Background";
  import Breadcrumbs from "~/components/base/Breadcrumbs";
  import InfoSlider from "~/components/pages/home/InfoSlider";
  import AboutUs from "~/components/pages/home/AboutUs";
  import AboutUsBottom from "~/components/pages/home/AboutUsBottom";
  import HowToOrderInfo from "~/components/pages/home/HowToOrderInfo";
  import ChooseProductCategory from "~/components/pages/home/ChooseProductCategory";
  import ProductsSlider from "~/components/pages/home/ProductsSlider";

  export default {
    name: "ServicePage",
    components: {
      Background,
      InfoSlider,
      AboutUs,
      AboutUsBottom,
      HowToOrderInfo,
      ChooseProductCategory,
      ProductsSlider,
      Breadcrumbs,
    },
    async asyncData({ $axios, params }) {
      const [ services ] = await Promise.all([
        $axios.$get("/api/v1/content/services/all"),
      ])

      return {
        services: services.data,
      };
    },
    data: () => ({
      services: null,
    }),
    head() {
      return {
        bodyAttrs: {
          class: "single-page blog-page",
        },
      };
    },
    computed: {
      serviceList() {
        const isServiceSelected = this.services.find( service => service.slug === this.$route.params.slug)
        return isServiceSelected ? this.services.filter(service => service.slug === this.$route.params.slug) : this.services
      },
    },
  };
  </script>

  <style scoped>
  .text-content >>> h1 {
    margin-top: -100px;
    padding-top: 100px;
  }
  </style>
