.carousel-3d-container {

  .carousel-3d-slide {
    background: transparent;
    border: none;

    img {
      object-fit: contain;
      object-fit: cover;
      object-position: center;

      // height: 40vh;
      height: 530px;
    }

    &.left-1,
    &.right-1 {
      opacity: 0.50 !important;
    }

    &.left-2,
    &.right-2 {
      opacity: 0.20 !important;
    }
  }

  .carousel-3d-controls {
    margin-top: -60px !important;

    a {
      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
    .prev {
      left: 30%;
    }
    .next {
      right: 30%;
    }
    @include mobile {
      .prev {
        left: rem(20);
      }
      .next {
        right: rem(20);
      } 
    }
  }
}









.products-slider-block {
  .custom-arrow:before {
    display: none;
  }

  .slide-productsslider {

    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      background-color: $light-beige;
      opacity: 0;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
      object-position: center;
    }

  }

  .carousel-wrapper {
    position: relative;
    padding-top: 10vh;

    .carousel-wrapper-small {

    }

    .carousel-wrapper-big {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;


      .slide-productsslider {
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          background-color: $light-beige;
          opacity: 0.88;
        }
      }

      img {
        height: 100%;

        @include mobile {
          height: 100%;
        }
      }
    }

    .carousel-wrapper-bigger {
      max-width: 778px;
      margin-left: auto;
      margin-right: auto;
      // margin-top: -405px;
      margin-top: -37vh;

      .slide-productsslider {
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          background-color: $light-beige;
          opacity: 0.50;
        }
      }

      img {
        height: 40vh;
      }
    }

    .carousel-wrapper-small {
      // margin-top: -550px;

      margin-top: -53vh;

      img {
        height: 60vh;
      }
    }
  }

  .carousel-wrapper-small {
    max-width: 416px;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-next {
    right: -30px;
    z-index: 3;
    width: 60px;
    height: 60px;
  }

  .slick-prev {
    left: -30px;
    z-index: 3;
    width: 60px;
    height: 60px;
  }

  .tags-chooser {
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;

    p {
      display: block;
      margin-bottom: 20px;
      font-size: 35px;
      color: $ui-blue;
      line-height: 1.5;
    }
  }

  &.is-colors-gallery {
    .carousel-wrapper-bigger {
      margin-top: -231px;
    }

    .carousel-wrapper-small {
      margin-top: -341px;
    }
  }

  &.is-prints-gallery {
    .carousel-wrapper-small {
      margin-top: -590px;
    }
  }

  &.is-pictures-gallery {
    .carousel-wrapper-bigger {
      margin-top: -351px;
    }

    .carousel-wrapper-small {
      margin-top: -480px;
    }
  }
}
