<template>
  <section class="radi-pats page-section">
    <div class="has-navbar-padding">
      <div class="container my-6">
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="mb-6">
              <h1 class="radi-title">{{ $t("check_order.main_title") }}</h1>
            </div>
          </div>
          <div class="column is-6">
          </div>
          <div class="column is-8">

            <h3 class="mb-4">
              {{ $t('checkout.items') }}
            </h3>

            <div v-for="(item, i) in order.items" :key="i">
              <OrderSummaryProduct :item="item" />
            </div>

            <div v-for="(item, i) in order.gift_cards" :key="i">
              <OrderSummaryGiftCard :item="item" />
            </div>
          </div>

          <div class="column is-4">
            <OrderSummary
              :items="order.items"
              :subtotal="order.total_product_post_taxes"
              :deliverySumm="order.total_delivery_post_taxes"
              :discount="discount"
              :total="order.total_post_taxes"

              :state="order.order_state"
              :shippedAt="order.shipped_at"
              :paymentState="order.formated_payment_state"
            />
            <!-- <div class="main-image-box">
              <img :src="mainImage" />
              <div class="main-text">{{ $t("create.main_text") }}</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import OrderSummary from "~/components/pages/check-order/OrderSummary";
import OrderSummaryProduct from "~/components/pages/check-order/OrderSummaryProduct";
import OrderSummaryGiftCard from "~/components/pages/check-order/OrderSummaryGiftCard";

export default {

  components: {
    OrderSummary,
    OrderSummaryProduct,
    OrderSummaryGiftCard,
  },

  async asyncData({error, $axios, redirect, i18n, app, params}) {
    const [
      order,
    ] = await Promise.all([
      $axios.$get(`/api/v1/orders/order/${params.hash}`),
    ]);

    if (!order || order.error) {
      return error(404);
    }

    return {
      order: order.data,
    };
  },

  data() {
    return {};
  },

  computed: {
    discount() {
      let total = 0;

      try {
        this.order.discounts.forEach(discount => {
          total += discount.savings
        });
      } catch (error) {}

      return total * -1;
    }
  }
};
</script>
