<template>
  <div class="payment-list">
    <h3 class="mb-4">
      {{ $t('checkout.payment_method') }}<span class="star"> *</span>
    </h3>

    <notice class="mb-4" v-if="$te('checkout.payment_info')">
      {{ $t('checkout.payment_info') }}
    </notice>

    <div>
      <br-radio
        v-for="(method, index) in methods" :key="method.id"
        v-model="payment"
        :native-value="method"
      >
        {{ method.title }}

        <template #append v-if="method.image || method.description">
          <div class="is-flex is-justify-content-center is-align-items-center">
            <div v-if="method.description" class="is-flex ml-4">
              <div class="description " v-html="method.description"></div>
            </div>

            <div v-if="method.image" class="is-flex is-flex-shrink-0 ml-4">
              <b-image class="mr-1" :src="$statically.image" />
              <b-image class="mr-1" src="/payments/Mastercard-Outlined.svg" />

              <!-- <b-image class="mr-1" src="/payments/Mastercard-Outlined.svg" />
              <b-image class="mr-1" src="/payments/Visa-Outlined.svg" />
              <b-image src="/payments/More-Outlined.svg" /> -->
            </div>
          </div>
        </template>
      </br-radio>

    </div>
  </div>
</template>

<script>

import BrRadio from '~/components/base/BrRadio'
import Notice from '~/components/base/Notice'

export default {
  components: { BrRadio, Notice },

  props: {
    value: null,
    methods: Array,
  },

  computed: {
    payment: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      }
    }
  },
}
</script>

<style lang="scss" scoped>
  .description {
    line-height: 1.5;
  }

  .star{
    color:red;
  }
</style>
