<template>
  <div class="shipping-list">
    <h3 class="checkout__small-heading mb-4">
      {{ $t('checkout.shiping_method') }}<span class="star"> *</span>
    </h3>

    <notice class="mb-4" v-if="$te('checkout.ship_info')">
      {{ $t('checkout.ship_info') }}
    </notice>

    <div>
      <br-radio
        v-for="(method, index) in methods" :key="method.id"
        v-model="delivery"
        :native-value="method"
      >
        {{ method.title }}

        <template #append>
          <div class="is-flex is-justify-content-center is-align-items-center">

            <div v-if="method.description" class="is-flex ml-4">
              <div class="description mx-4" v-html="method.description"></div>
            </div>

            <div v-if="method.image" class="is-flex is-flex-shrink-0 ml-4">
              <b-image class="mr-1" :src="$statically.image" />
              <!-- <b-image class="mr-1" src="/payments/Mastercard-Outlined.svg" />
              <b-image class="mr-1" src="/payments/Visa-Outlined.svg" />
              <b-image src="/payments/More-Outlined.svg" /> -->
            </div>

            <div class="is-flex ml-4">
              {{ appends(method.price) }}
            </div>
          </div>
        </template>

        <template #after>
          <div v-if="method.provider === 'omniva-parcel'" class="is-flex is-justify-content-center is-align-items-center mt-4">
            <ValidationProvider :name="'Piegādes punkts'" rules="required" v-slot="{ errors }" style="width: 100%">
              <omniva-parcel v-model="metaDataModel" :method="method"></omniva-parcel>
              <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
            </ValidationProvider>
          </div>

          <div v-else-if="method.provider === 'dpd'" class="is-flex is-justify-content-center is-align-items-center mt-4">
            <ValidationProvider :name="'Piegādes punkts'" rules="required" v-slot="{ errors }" style="width: 100%">
              <DPD v-model="metaDataModel" :method="method"></DPD>
              <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div>
            </ValidationProvider>
          </div>

          <div v-if="method.secondary_description" class="mt-2 mb-5" v-html="method.secondary_description"></div>
        </template>
      </br-radio>
    </div>
  </div>
</template>

<script>

import BrRadio from '~/components/base/BrRadio'
import Notice from '~/components/base/Notice'
import OmnivaParcel from '../shipping-providers/omniva-parcel.vue';
import DPD from '../shipping-providers/dpd.vue';

import { ValidationProvider, ValidationObserver } from "vee-validate";



export default {
  components: {
    BrRadio,
    Notice,

    ValidationProvider,
    ValidationObserver,

    OmnivaParcel,
    DPD,
  },

  props: {
    value: null,
    methods: Array,
  },

  data() {
    return {
      metaData: null,
    }
  },

  computed: {
    delivery: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      }
    },

    metaDataModel: {
      get() {
        return this.metaData;
      },

      set(newValue) {
        this.metaData = newValue;
        this.$emit('onSetMetadata', newValue);
      }
    }
  },

  methods: {
    appends(price) {
      if (price == 0) {
        return this.$t('checkout.free');
      }

      return this.$utils.parseCurrency(price);
    },
  },
}
</script>

<style lang="scss" scoped>
  .description {
    line-height: 1.5;
  }

  .star{
    color:red;
    }
  .error {
    color: red;
  }
</style>
