<template>
  <section class="shop-page container">
    <div class="standart-section-offset">
      <Breadcrumbs />
      <div class="full-container shop-padder">
        <div class="columns is-multiline">
          <div class="column is-12">
            <ShopMenu :categories="categories" />
          </div>
          <div class="column is-12">
            <div class="columns is-multiline">
              <template v-for="(b, index) in products">
                <ProductInList :key="b.id" :product="b" class="column post is-narrow" />
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img style="display: block" :src="image2" alt="" />
  </section>
</template>

<script>
import Background from "~/components/pages/home/Background";
import Breadcrumbs from "~/components/base/Breadcrumbs";
import InfoSlider from "~/components/pages/home/InfoSlider";
import AboutUs from "~/components/pages/home/AboutUs";
import HowToOrderInfo from "~/components/pages/home/HowToOrderInfo";
import ChooseProductCategory from "~/components/pages/home/ChooseProductCategory";
import ProductsSlider from "~/components/pages/home/ProductsSlider";
import ShopMenu from "~/components/pages/shop/ShopMenu";
import ProductInList from "~/components/partial/ProductInList";

export default {
  name: "HomePage",
  components: {
    Background,
    InfoSlider,
    AboutUs,
    HowToOrderInfo,
    ChooseProductCategory,
    ProductsSlider,
    Breadcrumbs,
    ShopMenu,
    ProductInList,
  },
  nuxtI18n: {
    paths: {
      en: '/shop/:category',
      lv: '/veikals/:category',
    }
  },

  async asyncData({ $axios, params }) {
    const [
      products,
      categories,
      //projects,
    ] = await Promise.all([
      $axios.$get(`/api/v1/products/category/${params.category}`),
      $axios.$get("/api/v1/products/get-categories"),
      //$axios.$get('/api/v1/about/jobs'),
      //$axios.$get('/api/v1/about/projects'),
    ]);

    return {
      products: products.data,
      categories: categories.data,
    };
  },

  /**
   * TO get filtered varations list!!
   */
  // async asyncData({ $axios, params }) {
  //   const data = await $axios.$get("/api/v1/products/filtered");

  //   return {
  //     products: data.data.products.data,
  //     filters: data.data.filters,
  //   };
  // },

  data() {
    return {
      products: null,
      image: "/demo/product.png",
      image2: "/demo/woman.png",
    };
  },

  head() {
    return {
      bodyAttrs: {
        class: "single-page shop-page",
      },
    };
  },
};
</script>
