<template>
  <section class="shop-page container">

    <div class="standart-section-offset">
      <Breadcrumbs />
      <div class="full-container shop-padder">
        <div class="columns is-multiline">
          <div class="column is-12">
            <ShopMenu :categories="categories" />
          </div>

          <div class="column is-12">
            <div class="columns is-multiline">
              <template v-for="(product, index) in products">
                <ProductInList :key="product.id" :product="product" class="column post is-narrow" />
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img
      v-if="shop_bottom_image"
      style="display: block"
      :src="$imagor(shop_bottom_image, 1316, 715)"
      :alt="shop_bottom_image.title"
    />
  </section>
</template>

<script>
import Background from "~/components/pages/home/Background";
import Breadcrumbs from "~/components/base/Breadcrumbs";
import InfoSlider from "~/components/pages/home/InfoSlider";
import AboutUs from "~/components/pages/home/AboutUs";
import HowToOrderInfo from "~/components/pages/home/HowToOrderInfo";
import ChooseProductCategory from "~/components/pages/home/ChooseProductCategory";
import ProductsSlider from "~/components/pages/home/ProductsSlider";
import ShopMenu from "~/components/pages/shop/ShopMenu";
import ProductInList from "~/components/partial/ProductInList";

export default {
  components: {
    Background,
    InfoSlider,
    AboutUs,
    HowToOrderInfo,
    ChooseProductCategory,
    ProductsSlider,
    Breadcrumbs,
    ShopMenu,
    ProductInList,
  },
  middleware: ['fetchProducts'],
  nuxtI18n: {
    paths: {
      en: '/shop',
      lv: '/veikals',
    }
  },

  async asyncData({ $axios, $auth, store }) {
    const requests = [
      $axios.$get("/api/v1/products/get-categories"),
      // $auth.loggedIn ? $axios.$get("/api/v1/profile/favorites/product_ids") : Promise.resolve({ data: [] }),
    ]

    const [categories] = await Promise.all(requests)

    return {
      products: store.getters["products/getProducts"],
      categories: categories.data,
    }
  },

  fetch() {
    this.getBottomImage();
  },

  data() {
    return {
      products: null,
      shop_bottom_image: null,

      image: "/demo/product.png",
      // image2: "/demo/woman.png",
    };
  },

  head() {
    return {
      bodyAttrs: {
        class: "single-page shop-page",
      },
    };
  },

  methods: {
    async getBottomImage() {
      const genericSettings = await this.$axios.$get('/api/v1/generealsettings').then(res => res.data);

      console.log(genericSettings, this.$imagor);
      this.shop_bottom_image = genericSettings.shop_bottom_image
    }
  },
};
</script>
