// .modal.is-full-screen > .animation-content, .modal.is-full-screen > .animation-content > .modal-card

.modal {
  z-index: 50;

  &.is-full-screen {

    .animation-content {
      background-color: transparent;
    }
  }

  .modal-close {
    background-color: $ui-main;
    @media (hover: hover) {
      &:hover {
        background-color: #000;
      }
    }
  }
}
