@use "sass:math";

$font-size-base: 16 !default;

// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    $toDiv: $number * 0 + 1;
    @return math.div($number, $toDiv);
  }

  @return $number;
}

// Relative units from pixels
$mixin--baseFontSize: $font-size-base;

@function rem($pixels, $context: $mixin--baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  @return math.div($u-pixels, $u-context) * 1rem;
}

@mixin xs-only {
  @media screen and (max-width: 768px), print {
    @content
  }
}

@mixin sm-up {
  @media screen and (min-width: 769px), print {
    @content
  }
}
