// $ui-main: #8c080c;
$ui-main: #8c080c;


$ui-blue: #020202;
$ui-darker-blue: #0F1422;
$ui-dark-blue: $ui-main;
$ui-light-blue: #565D70;
$ui-white: #FFFFFF;
$ui-grey: #D9D9D6;
$ui-grey-2: #C6CACE;
$ui-grey-alt: #E2E7EC;
$ui-grey-alt-2: #E6EEF5;
$ui-dark: #0F162B;
$ui-medium: #707A93;
$ui-clean: #F8F8F9;
$ui-info-success: #296F1D;
$light-beige: #F2EDE4;
$lighter-beige: #F8F5EF;

$ui-border: #1D2538;

/** Fonts */

@font-face {
    font-family: 'Aventa-ExtraBoldItallic';
    src: url('fonts/Aventa-ExtraBoldItallic.eot');
    src: url('fonts/Aventa-ExtraBoldItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-ExtraBoldItallic.woff2') format('woff2'),
        url('fonts/Aventa-ExtraBoldItallic.woff') format('woff'),
        url('fonts/Aventa-ExtraBoldItallic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-Regular.eot');
    src: url('fonts/Aventa-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Regular.woff2') format('woff2'),
        url('fonts/Aventa-Regular.woff') format('woff'),
        url('fonts/Aventa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-MediumItallic';
    src: url('fonts/Aventa-MediumItallic.eot');
    src: url('fonts/Aventa-MediumItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-MediumItallic.woff2') format('woff2'),
        url('fonts/Aventa-MediumItallic.woff') format('woff'),
        url('fonts/Aventa-MediumItallic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-ExtraLight.eot');
    src: url('fonts/Aventa-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-ExtraLight.woff2') format('woff2'),
        url('fonts/Aventa-ExtraLight.woff') format('woff'),
        url('fonts/Aventa-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-Itallic';
    src: url('fonts/Aventa-Itallic.eot');
    src: url('fonts/Aventa-Itallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Itallic.woff2') format('woff2'),
        url('fonts/Aventa-Itallic.woff') format('woff'),
        url('fonts/Aventa-Itallic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-SemiBold.eot');
    src: url('fonts/Aventa-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-SemiBold.woff2') format('woff2'),
        url('fonts/Aventa-SemiBold.woff') format('woff'),
        url('fonts/Aventa-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-SemiBoldItallic';
    src: url('fonts/Aventa-SemiBoldItallic.eot');
    src: url('fonts/Aventa-SemiBoldItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-SemiBoldItallic.woff2') format('woff2'),
        url('fonts/Aventa-SemiBoldItallic.woff') format('woff'),
        url('fonts/Aventa-SemiBoldItallic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-Light.eot');
    src: url('fonts/Aventa-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Light.woff2') format('woff2'),
        url('fonts/Aventa-Light.woff') format('woff'),
        url('fonts/Aventa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-ExtraBold.eot');
    src: url('fonts/Aventa-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-ExtraBold.woff2') format('woff2'),
        url('fonts/Aventa-ExtraBold.woff') format('woff'),
        url('fonts/Aventa-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-Medium.eot');
    src: url('fonts/Aventa-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Medium.woff2') format('woff2'),
        url('fonts/Aventa-Medium.woff') format('woff'),
        url('fonts/Aventa-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-LightItallic';
    src: url('fonts/Aventa-LightItallic.eot');
    src: url('fonts/Aventa-LightItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-LightItallic.woff2') format('woff2'),
        url('fonts/Aventa-LightItallic.woff') format('woff'),
        url('fonts/Aventa-LightItallic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-ExtraLightItallic';
    src: url('fonts/Aventa-ExtraLightItallic.eot');
    src: url('fonts/Aventa-ExtraLightItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-ExtraLightItallic.woff2') format('woff2'),
        url('fonts/Aventa-ExtraLightItallic.woff') format('woff'),
        url('fonts/Aventa-ExtraLightItallic.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-Bold.eot');
    src: url('fonts/Aventa-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Bold.woff2') format('woff2'),
        url('fonts/Aventa-Bold.woff') format('woff'),
        url('fonts/Aventa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-ThinItallic';
    src: url('fonts/Aventa-ThinItallic.eot');
    src: url('fonts/Aventa-ThinItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-ThinItallic.woff2') format('woff2'),
        url('fonts/Aventa-ThinItallic.woff') format('woff'),
        url('fonts/Aventa-ThinItallic.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-BoldItallic';
    src: url('fonts/Aventa-BoldItallic.eot');
    src: url('fonts/Aventa-BoldItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-BoldItallic.woff2') format('woff2'),
        url('fonts/Aventa-BoldItallic.woff') format('woff'),
        url('fonts/Aventa-BoldItallic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AventaVariableItallic';
    src: url('fonts/AventaVariableItallic.eot');
    src: url('fonts/AventaVariableItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/AventaVariableItallic.woff2') format('woff2'),
        url('fonts/AventaVariableItallic.woff') format('woff'),
        url('fonts/AventaVariableItallic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-Thin.eot');
    src: url('fonts/Aventa-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Thin.woff2') format('woff2'),
        url('fonts/Aventa-Thin.woff') format('woff'),
        url('fonts/Aventa-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa';
    src: url('fonts/Aventa-Black.eot');
    src: url('fonts/Aventa-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-Black.woff2') format('woff2'),
        url('fonts/Aventa-Black.woff') format('woff'),
        url('fonts/Aventa-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AventaVariable';
    src: url('fonts/AventaVariable.eot');
    src: url('fonts/AventaVariable.eot?#iefix') format('embedded-opentype'),
        url('fonts/AventaVariable.woff2') format('woff2'),
        url('fonts/AventaVariable.woff') format('woff'),
        url('fonts/AventaVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aventa-BlackItallic';
    src: url('fonts/Aventa-BlackItallic.eot');
    src: url('fonts/Aventa-BlackItallic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Aventa-BlackItallic.woff2') format('woff2'),
        url('fonts/Aventa-BlackItallic.woff') format('woff'),
        url('fonts/Aventa-BlackItallic.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




$main-font: "Aventa";

/** Font sizes */
$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size: 16px;
$font-size-small: 12px;

/** Buefy */
$family-primary: $main-font;
$primary: $ui-blue;
$success: $ui-info-success;
$dark: $ui-dark;
$link: $primary;
$text: $primary;

// Font
$body-font-size: $font-size;
$body-line-height: 100%;
$body-weight: 500;

:root {
  --plyr-color-main: #{$primary};
  --color-main: #{$primary};
}

// Hamburgers
$hamburger-padding-x           : 10px;
$hamburger-padding-y           : 10px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 1px;
$hamburger-layer-spacing       : 8px;
$hamburger-layer-color         : #fff;
$hamburger-layer-border-radius : 0px;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
