@import "variables";
@import "mixins";

$input-placeholder-color: #020202;

@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "vendor/hamburgers/hamburgers";

@import "base/common", "base/nav", "base/footer", "base/br-input", "base/textarea", "base/checkbox", "infoslider/infoslider", "aboutus/aboutus", "howtoorderinfo/howtoorderinfo", "chooseproductcategory/chooseproductcategory", "productsslider/productsslider", "breadcrumbs/breadcrumbs";

@import "pages/home";
@import "pages/blog";
@import "pages/shop";
@import "pages/about";
@import "pages/checkout";
@import "pages/sizes";
@import "pages/report";

@import "bulma-overrides/modal.scss";
@import "bulma-overrides/b-select.scss";

@import "./cookie-script-overrides.scss";

.control.has-icons-left .icon, .control.has-icons-right .icon {
	color: #020202;
}

.spacer {
  display: inline-block;
  min-width: 10px;
  flex-grow: 1;
}

h1 {
  color: #8c080c;
  font-size: rem(45);
  line-height: 1.5;
  font-weight: 300;
}

html {
  background-color: $light-beige;
  scroll-behavior: smooth;
}

html {
  @include until(1300px) {
    font-size: #{16 * 0.85}px;
  }
}

body {
  min-height: 100vh;
}

#__nuxt, #__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 200ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.carousel-wrapper {
  padding: 40px;

  .carousel-3d-container {

    .slick-slide {
      // no cursor event
      pointer-events: none;
      &.slick-current {
        pointer-events: auto;
      }
    }
  }


}

.error {
  color: red;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .container.fluid-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
