<template>
  <div>
    <!-- Is Business or Presonal -->
    <div class="columns is-multiline mb-2">
      <div class="column is-6">
        <BrRadio v-model="checkout.is_business" :native-value="false">
          {{ $t('checkout.is_personal') }}
        </BrRadio>
      </div>
      <div class="column is-6">
        <BrRadio v-model="checkout.is_business" :native-value="true">
          {{ $t('checkout.is_business') }}
        </BrRadio>
      </div>
    </div>

    <h3 class="checkout__small-heading mb-4">
      {{ $t('checkout.delivery_address') }} <!-- <span class="star"> *</span> -->
    </h3>

    <!-- Address info -->
    <div class="columns is-multiline mb-4">
      <div class="column is-12" v-if="checkout.is_business">
        <ValidationProvider :name="$t('checkout.business_name')" rules="required" v-slot="{ errors }">
          <br-input v-model="checkout.company" :label="$t('checkout.business_name')" :error="errors[0]" />
          <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
        </ValidationProvider>
      </div>
      <div class="column is-12" v-if="checkout.is_business">
        <ValidationProvider :name="$t('checkout.reg_nr')" rules="required" v-slot="{ errors }">
          <br-input v-model="checkout.reg_nr" :label="$t('checkout.reg_nr')" :error="errors[0]" />
          <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
        </ValidationProvider>
      </div>

      <div class="column is-12">
        <!-- <ValidationProvider :name="$t('checkout.address')" rules="required" v-slot="{ errors }"> -->
        <br-input v-model="checkout.address" :label="$t('checkout.address')" :error="errors[0]" />
        <!-- <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div> -->
        <!-- </ValidationProvider> -->
      </div>

      <div class="column is-8">
        <!-- <ValidationProvider :name="$t('checkout.city')" rules="required" v-slot="{ errors }"> -->
        <br-input v-model="checkout.city" :label="$t('checkout.city')" :error="errors[0]" />
        <!-- <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div> -->
        <!-- </ValidationProvider> -->
      </div>
      <div class="column is-4">
        <!-- <ValidationProvider :name="$t('checkout.zip_code')" rules="required" v-slot="{ errors }"> -->
        <br-input v-model="checkout.zip_code" :label="$t('checkout.zip_code')" :error="errors[0]" />
        <!-- <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div> -->
        <!-- </ValidationProvider> -->
      </div>

      <div class="column is-full">
        <b-select expanded v-model="checkout.country_code" class="br-select-outlined w-100"
          :placeholder="$t('checkout.country')">
          <template v-for="(country, index) in countries">
            <option :value="country.code" :key="`checkout.country_code${index}`">
              {{ country.name }}
            </option>
          </template>
        </b-select>
      </div>
    </div>

    <!-- Is Billing address different -->
    <div class="columns">
      <div class="column is-full">
        <div class="is-flex is-justify-content-flex-start">
          <b-checkbox v-model="checkout.is_different_billing_adress" class="mr-0">
            {{ $t('checkout.is_different_adress') }}
          </b-checkbox>
        </div>
      </div>
    </div>

    <!-- Billing address -->
    <div class="columns is-multiline" v-if="checkout.is_different_billing_adress">
      <div class="column is-full mt-2">
        <h3 class="checkout__small-heading">
          {{ $t('checkout.billing') }} <span class="star"> *</span>
        </h3>
      </div>
      <div class="column is-full">
        <ValidationProvider :name="$t('checkout.address')" rules="required" v-slot="{ errors }">
          <br-input v-model="checkout.billing_address" :label="$t('checkout.address')" :error="errors[0]" />
          <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
        </ValidationProvider>
      </div>
      <div class="column is-8">
        <ValidationProvider :name="$t('checkout.city')" rules="required" v-slot="{ errors }">
          <br-input v-model="checkout.billing_city" :label="$t('checkout.city')" :error="errors[0]" />
          <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
        </ValidationProvider>
      </div>
      <div class="column is-4">
        <ValidationProvider :name="$t('checkout.zip_code')" rules="required" v-slot="{ errors }">
          <br-input v-model="checkout.billing_zip_code" :label="$t('checkout.zip_code')" :error="errors[0]" />
          <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
        </ValidationProvider>
      </div>
      <div class="column is-full">
        <b-select expanded v-model="checkout.billing_country_code" class="br-select-outlined"
          :placeholder="$t('checkout.country')">
          <template v-for="(country, index) in countries">
            <option :value="country.code" :key="`checkout.billing_country_code${index}`">
              {{ country.name }}
            </option>
          </template>
        </b-select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    countries: [],
  }),
  async asyncData({ $axios }) {
    // const countries = await $axios.$get('/countries')
    // return { countries }
  },
  props: {
    checkout: {
      type: Object,
      required: true,
    },
  },
}
</script>