<template>
  <ValidationObserver v-slot="{ invalid, errors }" ref="form">
    <div class="columns is-multiline is-centered">
      <div class="column is-7 mb-6">
        <h1 class="mb-4">{{ $t('profile.page_title') }}</h1>

        <div class="checkout-page__form" @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="reset">

          <div class="columns is-multiline mb-4">
            <div class="column is-12">
              <ValidationProvider :name="$t('checkout.email')" rules="required|email" v-slot="{ errors }"
                ref="emailValidator">
                <br-input v-model="checkout.email" :label="$t('checkout.email')" :error="errors[0]" isLabelOnInput
                  disabled />
                <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
              </ValidationProvider>
            </div>

            <div class="column is-6">
              <ValidationProvider :name="$t('checkout.first_name')" rules="required" v-slot="{ errors }">
                <br-input v-model="checkout.name" :label="$t('checkout.first_name')" :error="errors[0]" />
                <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
              </ValidationProvider>
            </div>

            <div class="column is-6">
              <ValidationProvider :name="$t('checkout.last_name')" rules="required" v-slot="{ errors }">
                <br-input v-model="checkout.lastname" :label="$t('checkout.last_name')" :error="errors[0]" />
                <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
              </ValidationProvider>
            </div>

            <div class="column is-3">
              <ValidationProvider :name="$t('checkout.phone_prefix')" rules="" v-slot="{ errors }"
                ref="phonePrefixValidator">
                <br-input v-model="checkout.phone_prefix" :label="$t('checkout.phone_prefix')" />
                <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
              </ValidationProvider>
            </div>

            <div class="column is-9">
              <ValidationProvider :name="$t('checkout.phone_number')" rules="required|phone" v-slot="{ errors }"
                ref="phoneValidator">
                <br-input v-model="checkout.phone" :label="$t('checkout.phone_number')" />
                <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
              </ValidationProvider>
            </div>
          </div>

        </div>

        <hr class="is-grey-alt" />

        <div class="is-flex is-align-items-center is-justify-content-space-between pb-1">
          <b-button class="btn" @click="onSubmit">{{ $t('profile.save_button') }}</b-button>
          <nuxt-link class="is-hidden-desktop" :to="localePath({name: 'logout'})">{{ $t('auth.logout') }}</nuxt-link>          
        </div>

        <div class="pt-3" v-if="saved">{{ $t('profile.save_success') }}</div>

      </div>
    </div>
  </ValidationObserver>
</template>

<script>
import BrInput from '~/components/base/BrInput'
import BrRadio from '~/components/base/BrRadio'
import Notice from '~/components/base/Notice'
import SelectableBox from '~/components/base/SelectableBox'

import { ValidationProvider, ValidationObserver } from "vee-validate"

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BrRadio,
    BrInput,
    Notice,
    SelectableBox,
  },
  data() {
    return {
      countries: [],
      saved: false,
      checkout: {
        email: this.$auth.user?.email || null,
        name: this.$auth.user?.name || null,
        lastname: this.$auth.user?.surname || null,

        phone: this.$auth.user?.mobile || null,
        phone_prefix: this.$auth.user?.phone ? this.$auth.user.phone.replace(this.$auth.user.mobile, '') : null,

        company: null,
        reg_nr: null,
      }
    }
  },
  async fetch() {
    this.countries = await this.$axios.$get("/api/v1/deliveries/countries").then(res => res.data)
  },
  methods: {
    async onSubmit() {
      const success = await this.$refs.form.validate()
      if (!success) {
        return this.$buefy.toast.open({ message: this.$t('profile.error'), type: 'is-danger', duration: 5000 })
      }

      const { error } = await this.$axios.$post('/api/v1/profile/update', this.checkout)
      if (error) {
        return this.$buefy.toast.open({ message: this.$t('profile.error'), type: 'is-danger', duration: 5000 })
      }
      
      this.$buefy.toast.open({ message: this.$t('profile.save_success'), type: 'is-success', duration: 5000 })
      this.$auth.fetchUser()

      this.saved = true
      setTimeout(() => {
        this.saved = false
      }, 5000)
    },
  },
}
</script>
