<template>
  <div class="columns is-multiline p-6">

    <div class="column is-6 is-narrow p-2" v-for="(b, index) in count">
      <div class="flex ">
        <p class="p-1">
          <b-skeleton active height="300px"></b-skeleton>
        </p>
        <p class="p-1">
          <b-skeleton height="1rem" width="80%"></b-skeleton>
        </p>
        <p class="p-1">
          <b-skeleton height="1rem" width="20%"></b-skeleton>
        </p>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    count: {
      type: Number,
      default: 6
    }
  }
}
</script>