<template>
  <div class="lighter-beige products-slider-block">
    <div class="container fluid-container">
      <div class="carousel-wrapper p-8-desktop">
        <div class="carousel-wrapper-big">
          <VueSlickCarousel v-bind="slickOptionsPS" ref="largeSlider" v-if="showSliders && images.length" >
            <template #prevArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
                  <circle id="Ellipse_182" data-name="Ellipse 182" cx="31" cy="31" r="31" fill="#f2ede4"/>
                  <path id="Path_1107" data-name="Path 1107" d="M5.3,0H0L19.635,19.664,17.625,21.7,0,39.327H5.3L24.963,19.664Z" transform="translate(42.738 51.499) rotate(180)" fill="#8c080c"/>
                </svg>
              </div>
            </template>

            <div v-for="(image, index) in images" :key="`large-gallery-${image?.id}`">
              <div class="slide-productsslider" v-if="image">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12" >
                    <b-image
                      :src="$imagor(image, 1000)"
                      :lazy="false"
                      ratio="1by1"
                    >
                      <template #placeholder>
                          <b-skeleton
                            :rounded="false"
                            class="skeleton-placeholder"
                            height="100%"
                          ></b-skeleton>
                      </template>
                    </b-image>
                    <div class="openFullscreen" @click="openFullScreen(image)">
                      <IconsFullscreen />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <template #nextArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
                  <ellipse id="Ellipse_181" data-name="Ellipse 181" cx="30.5" cy="31" rx="30.5" ry="31" transform="translate(61 62) rotate(180)" fill="#f2ede4"/>
                  <path id="Path_1106" data-name="Path 1106" d="M955.364,530.088h-5.3L969.7,549.751l-2.009,2.041-17.625,17.622h5.3l19.664-19.664Z" transform="translate(-931.336 -519.155)" fill="#8c080c"/>
                </svg>
              </div>
            </template>

          </VueSlickCarousel>
        </div>
      </div>

      <div class="carousel-wrapper">
        <div class="carousel-wrapper-custom-small" style="max-width: 400px; margin: 0 auto;">

          <VueSlickCarousel v-bind="slickOptionsPS2" ref="smallSlider" v-if="showSliders && images.length">
            <template #prevArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
                  <circle id="Ellipse_182" data-name="Ellipse 182" cx="31" cy="31" r="31" fill="#F8F5EF"/>
                  <path id="Path_1107" data-name="Path 1107" d="M5.3,0H0L19.635,19.664,17.625,21.7,0,39.327H5.3L24.963,19.664Z" transform="translate(42.738 51.499) rotate(180)" fill="#8c080c"/>
                </svg>
              </div>
            </template>

            <div v-for="(image, index) in images" :key="`small-gallery-${image?.id}`" class="is-clickable" @click="selectImage(image, index)">
              <div class="slide-productsslider" v-if="image">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <b-image
                      class="image"
                      :src="$imagor(image, 500)"
                      ratio="1by1"
                    >
                      <template #placeholder>
                          <b-skeleton
                            :rounded="false"
                            class="skeleton-placeholder"
                            height="100%"
                          ></b-skeleton>
                      </template>
                    </b-image>
                  </div>

                </div>
              </div>
            </div>

            <template #nextArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
                  <ellipse id="Ellipse_181" data-name="Ellipse 181" cx="30.5" cy="31" rx="30.5" ry="31" transform="translate(61 62) rotate(180)" fill="#F8F5EF"/>
                  <path id="Path_1106" data-name="Path 1106" d="M955.364,530.088h-5.3L969.7,549.751l-2.009,2.041-17.625,17.622h5.3l19.664-19.664Z" transform="translate(-931.336 -519.155)" fill="#8c080c"/>
                </svg>
              </div>
            </template>

          </VueSlickCarousel>

          <div class="text-align-center back-view" @click="showBack">
            <p>{{ $t('look.back_image') }}</p>

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24.6" viewBox="0 0 20 24.6">
              <path id="Path_307" data-name="Path 307" d="M1098.334,588.041v0h-2.8l4.6-4.6h-3.38l-5.9,5.9,5.9,5.9h3.38l-4.6-4.6h2.8v0a7.391,7.391,0,1,1-7.391,7.391h-2.609a10,10,0,1,0,10-10Z" transform="translate(-1088.334 -583.441)" fill="#8c080c"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <transition name="fade">
      <div class="full-screen-zoom" v-if="fullscreenImage">
        <div class="close" @click="closeFullScreen()">
          <IconsClose class="close-button" :size="20" />
        </div>
        <div class="inner">
          <b-image
            :src="$imagor(fullscreenImage)"
            :lazy="false"
          >
            <template #placeholder>
                <b-skeleton
                  :rounded="false"
                  class="skeleton-placeholder"
                  height="100%"
                ></b-skeleton>
            </template>
          </b-image>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: { VueSlickCarousel },

  props: {
    variation: {
      type: Object,
      default: () => null,
    },
  },

  data() {
    return {
      slickOptionsPS: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: false,
        adaptiveHeight: false,
        infinite:true,
        asNavFor: this.$refs.smallSlider,
        //centerMode: true,
      },
      slickOptionsPS2: {
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        fade: false,
        adaptiveHeight: false,
        infinite:true,
        asNavFor: this.$refs.largeSlider
        //centerMode: true,
      },
      showSliders: true,
      isShowBack: false,

      fullscreenImage: null,
    }
  },

  methods: {
    showBack() {
      this.showSliders = false
      this.isShowBack = !this.isShowBack

      this.$nextTick(() => {
        this.showSliders = true
      });
    },
    selectImage(_, index) {
      this.$refs.largeSlider.goTo(index)
    },

    openFullScreen(image) {
      this.fullscreenImage = image;

      if (document) {
        document.addEventListener('keydown', this.closeFullScreen, {passive: true})
      }
    },
    closeFullScreen(event = null) {
      console.log('A?', event);

      if (event) {
        if (event.keyCode != 27) {
          return;
        }

        if (document) {
          document.removeEventListener('keydown', this.closeFullScreen)
        }
      }

      this.fullscreenImage = null;
    },
  },

  computed: {
    product() {
      return this.variation?.product || null
    },

    images() {
      const firstImage = this.variation?.image || null
      const secondaryImage = this.variation?.secondary_image || null

      return [
        this.isShowBack ? secondaryImage : firstImage,
        ...this.product?.images
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
.img-wrapper img {
  margin: auto;
  width: 200px;
  height: 100px;
  background-image: linear-gradient(gray 100%, transparent 0);
}

.slide-productsslider {
  padding-left: 10px;
  padding-right: 10px;
}

.slide-productsslider::v-deep .b-skeleton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.back-view{
  cursor: pointer;
}

.openFullscreen {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  padding: 6px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 150ms;

  * {
    transition: fill 150ms;
  }

  &:hover {
    background-color: #8c080c;

    * {
      fill: #fff;
    }
  }
}

.full-screen-zoom {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;

  z-index: 100;

  background: rgba(0,0,0,.8);

  .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    background: #F8F5EF;
    border: 1px solid #8c080c;
    padding: 0.5rem;
    border-radius: 100%;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    transition: background 150ms;

    ::v-deep(path) {
      transition: stroke 150ms;
    }

    &:hover {
      background-color: #8c080c;

      ::v-deep(path) {
        stroke: #fff !important;
      }
    }
  }

  .inner {
    width: 100%;
    height: 100%;

    .b-image-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  ::v-deep(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


@media(max-width: 700px) {
  div.carousel-wrapper-big {
    .custom-arrow {
      display: block;
      &.slick-next {
        margin-right: 10px;
      }
      &.slick-prev {
        padding-left: 10px;
      }
    }
    svg circle, svg ellipse {
      display: none;
    }
  }
}
</style>
