<template>
  <div>
    <div class="category-chooser shop-category" ref="categoryBox">
      <div
        :data-slug="category.slug"
        v-for="(category, topindex) in categories"
        :key="category.id"
        :class="{
          'choose-category-box': category.children && category.children.length,
        }"
      >
        <template v-if="category.children && category.children.length">
          <nuxt-link
            @click="toggleCategoryIsOpen(category)"
            :to="localePath({
              name: 'shop-category',
              params: {
                category: category.slug,
              }
            })"
            class="choose-category"
            :class="{
              'is-active': isThisCategoryOpen(category)
            }"
          >
            <ShopMenuImage :category="category"/>

            <p> {{category.title}} </p>
          </nuxt-link>
          <div class="choose-category-subbox" :class="{ show: isThisCategoryOpen(category) }" >
            <ul>
              <li
                v-for="(subCategory, subCatIndex) in category.children" :key="subCategory.id"
              >
                <nuxt-link
                  :to="localePath({
                    name: 'shop-category-subcategory',
                    params: {
                      category: category.slug,
                      subcategory: subCategory.slug,
                    }
                  })"
                  :class="{
                    'is-active': subCategory.slug == openCategorySlug
                  }"
                >
                  <span>{{subCategory.title}}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="117.708" height="36.232" viewBox="0 0 117.708 36.232">
                    <g id="Group_682" data-name="Group 682" transform="translate(-702.095 -77.919)">
                      <path id="Path_223" data-name="Path 223" d="M-.087,4.364c57.979-15.613,104.708,7.322,104.708,7.322" transform="translate(702.425 86.861) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                      <path id="Path_222" data-name="Path 222" d="M-.023,1.1C55.8-7.969,97.095,23.516,97.095,23.516" transform="translate(720.974 90.288) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                    </g>
                  </svg>
                </nuxt-link>
              </li>

            </ul>
          </div>
        </template>

        <template v-else>
          <nuxt-link
            class="choose-category"
            :class="{
              'is-active': isThisCategoryOpen(category)
            }"
            :to="localePath({
              name: 'shop-category',
              params: {
                category: category.slug,
              }
            })"
          >
            <ShopMenuImage :category="category"/>
            <p> {{category.title}} </p>
          </nuxt-link>
        </template>
      </div>

      <div class="" >
        <nuxt-link
          class="choose-category"
          :to="localePath({name: 'gift-card'})"
        >
          <div class="choose-category-image is-vcentered">
            <GiftCardIcon />
          </div>
          <p> {{ $t('shop.category-gift-cards') }} </p>
        </nuxt-link>
      </div>

    </div>
  </div>
</template>

<script>
import ShopMenuImage from "~/components/pages/shop/ShopMenuImage.vue";
import GiftCardIcon from "~/components/icons/GiftCardIcon.vue";

export default {
  components: {
    ShopMenuImage,
    GiftCardIcon,
  },

  data () {
    return {
      openCategoryId: null,
    }
  },

  props: {
    msg: String,

    categories: {
      type: [Array],
      default: () => null,
    }
  },

  computed: {
    openCategorySlug() {
      return this.$route?.params?.category || ''
    },
  },

  mounted() {
    this.repositionView(this.openCategorySlug)
  },

  methods: {
    toggleCategoryIsOpen(category) {
      this.openCategoryId = category.id
    },

    isThisCategoryOpen(category) {
      const openCatSlug = this.openCategorySlug;

      if (openCatSlug == null || this.openCategoryId != null) {
        return this.openCategoryId == category.id;
      }

      if (openCatSlug == category.slug) {
        return true;
      }

      if (category.children && category.children.length) {
        const hasChild = category.children?.find(child => child.slug === openCatSlug) || false

        if (hasChild) {
          return true
        }
      }
    },
    repositionView(category_slug) {
      const categoryBox = this.$refs.categoryBox
      const findActive = categoryBox.querySelector(`[data-slug="${category_slug}"]`)
      if (findActive) {
        categoryBox.scrollLeft = findActive.offsetLeft - (categoryBox.offsetWidth / 2)
      }
    }
  },

  // watch $route.params.category change
  watch: {
    '$route.params.category': function(newCategory) {
      // timeout here is to prevent bug when the view is not yet rendered
      setTimeout(() => {
        this.repositionView(newCategory)
      },  300)
    }
  }

}
</script>
