<template>
  <div
    v-if="hasCategorySvg"
    class="choose-category-image is-vcentered is-svg"
    v-html="category.main_image_svg"
  >
  </div>

  <div
    v-else-if="category?.main_image?.path"
    class="choose-category-image is-vcentered is-image"
  >
    <img v-if="category" class="image" :src="$imagor(category.main_image, 600)" :alt="category.title">
  </div>

  <div
    v-else
    class="choose-category-image is-vcentered"
  >
  </div>
</template>

<script>
export default {
  props: {
    category: {
      type: Object,
      default: null,
    }
  },

  computed: {
    hasCategorySvg() {
      return this.category.main_image_svg !== null && this.category.main_image_svg !== ''
    }
  },
}
</script>

<style scoped lang="scss">
.image {
  z-index: 10;
}
</style>
