<template>
  <div class="full-container shop-padder you-may-like" v-if="products && products.length">
    <h4 class="color-black">{{ $t('product.you_may_also_like') }}</h4>
    <!-- <div class="columns "> -->
    <div class="carousel-wrapper">
    <VueSlickCarousel v-bind="slickOptions">
      <template #prevArrow="arrowOption">
        <div class="custom-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="44.475" height="29.208" viewBox="0 0 44.475 29.208">
            <path id="Path_270" data-name="Path 270" d="M936.425,530.088h3.936l-13.09,13.088H966.3v3.032H927.27L940.36,559.3h-3.936l-14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c"/>
          </svg>
        </div>
      </template>

      <div class="slide-infoslider" v-for="(product, index) in products" :key="index">
        <nuxt-link class="column product-card"
          :to="localePath({
            name: 'product-list',
            params: {
              list: getFirstVariantId(product),
            }
          })"
          @click.native="scrollToTop"
        >
          <div class="product-image">
            <img :src="$imagor(product.main_image, 800, 800, 'fit-in')" alt="" />
          </div>
          <div class="title">{{product.name}}</div>
        </nuxt-link>
      </div>

      <template #nextArrow="arrowOption">
        <div class="custom-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="44.474" height="29.208" viewBox="0 0 44.474 29.208">
            <path id="Path_269" data-name="Path 269" d="M951.691,530.088h-3.936l13.09,13.088H921.821v3.032h39.025L947.755,559.3h3.936l14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c"/>
          </svg>
        </div>
      </template>
    </VueSlickCarousel>
    </div>
    <!-- </div> -->
  </div>
</template>

<style lang="scss" scoped>
.product-card {
  display: flex;
  flex-direction: column;

  .product-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

  }
}

@media screen and (max-width: 1024px) {
  .carousel-wrapper {

    ::v-deep(.slick-next) {
      right: 0px;
    }

    ::v-deep(.slick-prev) {
      left: 0px;
    }
  }

  .custom-arrow {
    display: block !important;
    width: 25px;

    ::v-deep(svg) {
      width: 100%;
    }
  }
}
</style>

<script>

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  props: {
    variation_id: {
      type: String|Number,
      default: null,
    },
  },

  components: { VueSlickCarousel },

  data: () => ({
    products: [],

    slickOptions: {
      slidesToShow: 4,
      arrows: true,
      // fade: true,
      infinite: true,
      // adaptiveHeight: true, // don't use this! it breaks back scrolling functionality

      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            arrows: true,
          }
        },
      ]
    }
  }),

  methods: {
    getFirstVariantId(product) {
      const variations = product?.variations || []
      return variations.length ? variations[0].id : null
    },
    scrollToTop() {
      window.scrollTo(0, 0)
    },
  },

  created() {
    this.$axios.$get(`/api/v1/products/related/other/${this.variation_id}/8`).then(res => {
      this.products = res.data
    })
  },
}
</script>
