<template>
  <div>
    <h4>
      <span v-html="attribute.title"></span>
      <b-tooltip v-if="attribute.info_image" class="tooltip-main" type="is-light" position="is-right">
        <template v-slot:content>
          <b-image class="tooltip-image" :src="$imagor(attribute.info_image, 1000)"></b-image>
        </template>

        <IconsInfo />
      </b-tooltip>
    </h4>

    <div v-if="attribute.type == 'options-attribute'">
      <OptionsAttribute :attribute="attribute" v-model="model" />
    </div>

    <div v-else-if="attribute.type == 'options-dropdown-attribute'">
      <OptionsDropdownAttribute :attribute="attribute" v-model="model" />
    </div>

    <div v-else-if="attribute.type == 'color-attribute'">
      <ColorAttribute :attribute="attribute" v-model="model" />
    </div>

    <div v-else-if="attribute.type == 'input-color-list-attribute'">
      <InputColorListAttribute :attribute="attribute" v-model="model" />
    </div>

    <div v-else-if="attribute.type == 'input-attribute'">
      <InputAttribute :attribute="attribute" v-model="model" />
    </div>

    <div v-else-if="attribute.type == 'custom-color-attribute'">
      <CustomColorAttribute :attribute="attribute" v-model="model" />
    </div>

    <div v-else>??</div>

    <div v-if="errors[0]" class="error mt-4">
      <small>{{ errors[0] }}</small>
    </div>
  </div>
</template>

<script>
import OptionsAttribute from '~/components/product-attributes/OptionsAttribute.vue'
import OptionsDropdownAttribute from '~/components/product-attributes/OptionsDropdownAttribute.vue'
import ColorAttribute from '~/components/product-attributes/ColorAttribute.vue'
import InputColorListAttribute from '~/components/product-attributes/InputColorListAttribute.vue'
import InputAttribute from '~/components/product-attributes/InputAttribute.vue'
import CustomColorAttribute from '~/components/product-attributes/CustomColorAttribute.vue'
import IconsInfo from '~/components/icons/Info'

export default {
  components: {
    OptionsAttribute,
    OptionsDropdownAttribute,
    ColorAttribute,
    InputColorListAttribute,
    InputAttribute,
    CustomColorAttribute
  },

  props: {
    attribute: {
      type: Object,
      default: () => { }
    },

    errors: {
      type: [Object, Array, String],
      default: () => []
    },

    value: null
  },

  computed: {
    model: {
      get() {
        return this.value || null
      },

      set(newValue) {
        this.$emit('input', newValue)
        this.$emit('update', this.attribute, newValue)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.tooltip-image {
  width: 10rem;
}

.tooltip-main {
  top: 2px;
}
</style>
