<template>
  <ul class="product-properties color-list">
    <li v-for="(valueObject, valueKey) in attribute.options" :key="`color-attribute--${valueKey}`">
      <div class="color" :class="{
      'is-active': isActive(valueObject),
      'is-disabled': isDisabled(valueObject),
    }" @click="setActive(valueObject)">
        <template v-if="valueObject.value_type == 'mediafinder'">
          <b-image class="color-image" :src="$utils.mediaLibraryUrl(valueObject.value)" :rounded="true"
            ratio="1by1"></b-image>
        </template>

        <template v-else-if="valueObject.value_type == 'custom'">
          <div class="custom-color-attribute">
            <span>
              <BrColorPicker is-disabled :value="model" :is-active="isActive(valueObject)"
                @set-color="setColor($event, valueObject)">
                <div class="color-image">&nbsp;</div>
              </BrColorPicker>
            </span>
            <span>{{ $t('product_attribute.pick_a_color') }}</span>
          </div>
        </template>

        <template v-else>
          <div class="color-image" :style="{ 'background-color': valueObject.value }">&nbsp;</div>
        </template>

        <!-- <span class="color-title">{{ valueObject.value_name }}</span> -->
      </div>
    </li>
  </ul>
</template>

<script>
import BrColorPicker from "~/components/base/BrColorPicker.vue"

export default {
  components: {
    BrColorPicker,
  },
  data: () => ({
    modal: null,
  }),
  props: {
    attribute: {
      type: Object,
      default: () => { },
    },

    value: null,
  },

  computed: {
    model: {
      get() {
        return this.$utils.get(this, 'value', null);
      },

      set(newValue) {
        this.$emit('input', newValue);
      },
    }
  },
  methods: {
    _split(value) {
      return (typeof value === 'string')
        ? value.split(':')
        : [value];
    },

    setActive(valueObject) {
      /* this.modal = this.$buefy.modal.open({
        canCancel: false,
      }) */

      if (!this.isDisabled(valueObject)) {
        this.model = valueObject.value
      }
    },

    isActive(valueObject) {
      const split = this._split(this.model)
      return split[0] === valueObject.value
    },

    setColor(color, valueObject) {
      // const split = this._split(this.model);

      if (valueObject.value_type == 'custom') {
        this.model = `${valueObject.value}:${color}`
      }
    },

    isDisabled(valueObject) {
      const isEnabled = this.$utils.get(valueObject, 'enabled', null);

      if (isEnabled !== null) {
        return !isEnabled;
      }

      return true;
    },

  },
}
</script>

<style scoped lang="scss">
.color {
  cursor: pointer;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: (25px + 10) * 15;
  gap: 10px;

  li {
    display: block;
    flex-shrink: 0;
  }
}

.color-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px transparent;
  transition: all;

  width: 25px;
  height: 25px;

  flex-shrink: 0;
}

.is-active {
  .color-image {
    // background-color: #8c080c;
    // border: 3px solid #8c080c;
    box-shadow: 0 0 0 2px #8c080c;
  }

  .option-title {
    color: #8c080c;
  }
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.custom-color-attribute {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // margin-top: -10px;
  span {
    &:first-child {
      width: auto;
      margin-right: 10px;
    }
    &:last-child {
      margin-top: -3px;
      text-align: left;
    }
  }
}
</style>
