<template>

  <ul class="product-properties color-list">
    <!-- <li v-for="(valueObject, valueKey) in attribute.options" :key="`custom-color-attribute--${valueKey}`"> -->
      <BrColorPicker
        is-block
        :is-active="true"
        :value="model"
        @set-color="setColor"
      >
        <div class="color-image">&nbsp;</div>
      </BrColorPicker>
    <!-- </li> -->
  </ul>

</template>

<script>

import BrColorPicker from "~/components/base/BrColorPicker.vue"

export default {
  components: {
    BrColorPicker
  },

  props: {
    attribute: {
      type: Object,
      default: () => {},
    },

    value: null,
  },

  computed: {
    model: {
      get() {
        return this.$utils.get(this, 'value', null);
      },

      set(newValue) {
        this.$emit('input', newValue);
      },
    }
  },

  methods: {
    setActive(valueObject) {
      if (!this.isDisabled(valueObject)) {
        this.model = valueObject.value
      }
    },

    setColor(color) {
      this.model = color
    },

  },
}
</script>

<style scoped lang="scss">
.color {
  cursor: pointer;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: (25px + 10) * 15;
  gap: 10px;

  li {
    display: block;
    flex-shrink: 0;
  }
}

.color-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px transparent;
  transition: all;

  width: 25px;
  height: 25px;

  flex-shrink: 0;
}
.is-active {
  .color-image {
    // background-color: #8c080c;
    // border: 3px solid #8c080c;
    box-shadow: 0 0 0 2px #8c080c;
  }

  .option-title {
    color: #8c080c;
  }
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

</style>
