<template>
  <div class="product-properties ">
    <b-field class="input-group">
        <b-input  v-model="model"></b-input>
    </b-field>
  </div>
</template>

<script>
export default {
  props: {
    attribute: {
      type: Object,
      default: () => {},
    },

    value: null,
  },

  computed: {
    model: {
      get() {
        return this.$utils.get(this, 'value', null);
      },

      set(newValue) {
        this.$emit('input', newValue);
      },
    }
  },

  methods: {
    setActive(valueObject) {
      if (!this.isDisabled(valueObject)) {
        this.model = valueObject.value
      }
    },

    isActive(valueObject) {
      return this.model == valueObject.value
    },

    isDisabled(valueObject) {
      const isEnabled = this.$utils.get(valueObject, 'enabled' , null);

      if (isEnabled !== null) {
        return !isEnabled;
      }

      return true;
    },

  },
}
</script>

<style scoped lang="scss">
.color {
  cursor: pointer;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;

  li {
    display: block;
  }
}

.color-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px transparent;
  transition: all;

  width: 25px;
  height: 25px;
}
.is-active {
  .color-image {
    // background-color: #8c080c;
    // border: 3px solid #8c080c;
    box-shadow: 0 0 0 2px #8c080c;
  }

  .option-title {
    color: #8c080c;
  }
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.input-group {
  min-width: 100%;
}

</style>
