<template>

  <ul class="product-properties color-list">
    <li v-for="(valueObject, valueKey) in attribute.values" :key="`color-list-attribute--${valueKey}`">
      <div
        class="color"
        :class="{'is-active' : isActive(valueObject)}"
        @click="setActive(valueObject)"
      >
        <template v-if="valueObject.value_type == 'mediafinder'">
          <b-image
            class="color-image"
            :src="$utils.mediaLibraryUrl(valueObject.color.mediafinder)"
            :rounded="true"
            ratio="1by1"
          ></b-image>
        </template>

        <template v-else-if="valueObject.value_type == 'custom'">
          <BrColorPicker
            :value="getColor"
            :is-active="isActive(valueObject)"
            @set-color="setColor"
          >
            <div class="color-image">&nbsp;</div>
          </BrColorPicker>

        </template>

        <template v-else>
          <div class="color-image" :style="{'background-color': valueObject.color.colorpicker}"></div>
        </template>

        <!-- <span class="color-title">{{ valueObject.value_name }}</span> -->
      </div>
    </li>
  </ul>

</template>

<script>

import BrColorPicker from "~/components/base/BrColorPicker.vue"

export default {

  components: {
    BrColorPicker
  },

  props: {
    attribute: {
      type: Object,
      default: () => {},
    },

    value: null,
  },

  computed: {
    model: {
      get() {
        return this.$utils.get(this, 'value', null);
      },

      set(newValue) {
        this.$emit('input', newValue);
      },
    },
    getColor() {
      const split = this.model?.split(':') || ["FF0000"]
      return split.length > 1 ? split[1] : this.model
    }
  },

  methods: {
    _split(value) {
      return (typeof value === 'string')
        ? value.split(':')
        : [value];
    },

    setActive(valueObject) {
      this.model = valueObject.name
    },

    isActive(valueObject) {
      const split = this._split(this.model);
      return split[0] == valueObject.name
    },

    setColor(color) {
      const split = this._split(this.model)
      if (split[0] == 'custom-color') {
        this.model = `${split[0]}:${color}`
      }
    }
  },
}
</script>

<style scoped lang="scss">
.color {
  cursor: pointer;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: (25px + 10) * 15;
  gap: 10px;

  li {
    display: block;
    flex-shrink: 0;
  }
}

.color-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px transparent;
  transition: all;

  width: 25px;
  height: 25px;

  flex-shrink: 0;
}
.is-active {
  .color-image {
    // background-color: #8c080c;
    // border: 3px solid #8c080c;
    box-shadow: 0 0 0 2px #8c080c;
  }

  .option-title {
    color: #8c080c;
  }
}
</style>
