<template>

  <ul class="product-properties">
    <li v-for="(valueObject, valueKey) in attribute.options" :key="`options-attribute--${valueKey}`">
      <div
        class="option"
        :class="{
          'is-active' : isActive(valueObject),
          'is-disabled' : isDisabled(valueObject),
        }"
        @click="setActive(valueObject)"
      >
        <b-image
          class="option-image"
          :src="$utils.mediaLibraryUrl( getIcon(valueObject) )"
          ratio="1by1"
          :rounded="true"
        ></b-image>
        <span class="option-title">{{ getName(valueObject) }}</span>
      </div>
    </li>
  </ul>

</template>

<script>
export default {
  props: {
    attribute: {
      type: Object,
      default: () => {},
    },

    value: null,
  },

  computed: {
    model: {
      get() {
        return this.$utils.get(this, 'value', null);
      },

      set(newValue) {
        this.$emit('input', newValue);
      },
    }
  },

  methods: {
    setActive(valueObject) {
      if (!this.isDisabled(valueObject)) {
        let newVal = valueObject.value || valueObject.slug;
        this.model = newVal
      }
    },
    isActive(valueObject) {
      let value = valueObject.value || valueObject.slug;

      return this.model == value;
    },

    isDisabled(valueObject) {
      const isEnabled = this.$utils.get(valueObject, 'enabled' , null);

      // if (isEnabled !== null) {
      //   return !isEnabled;
      // }

      return false;
      return true;
    },

    getName(valueObject) {
      const slug = valueObject.value || valueObject.slug;
      const attr =  this.$utils.get(this, `attribute.values.${slug}`, null);

      if (attr) {
        return attr.name;
      }

      return null;
    },
    getIcon(valueObject) {
      const slug = valueObject.value || valueObject.slug;
      const attr =  this.$utils.get(this, `attribute.values.${slug}`, null);

      if (attr) {
        return attr.icon;
      }

      return null;
    },

  },
}
</script>

<style scoped lang="scss">
.option {
  cursor: pointer;
}
.option-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px transparent;

  transition: all;
}
.is-active {
  .option-image {
    // background-color: #8c080c;
    // border: 3px solid #8c080c;
    box-shadow: 0 0 0 2px #8c080c;
  }

  .option-title {
    color: #8c080c;
  }
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

</style>
