<template>
  <section class="shop-page single-product">
    <ValidationObserver v-slot="{ invalid, errors }" ref="attributesValiadtor">
      <div class="standart-section-offset">
        <Breadcrumbs />

        <div class="full-container shop-padder">
          <div class="columns is-multiline" v-for="(item, index) in selectedProducts" :key="index">
            <div class="column is-5">
              <OpenedProductSlider :variation="item.variation" />

              <div class="text-align-center w-100 is-hidden-mobile"
                v-if="isSingleProduct && item.product.bundable_category_ids">
                <button class="btn" @click="onLoadBundleProductList(item.variation.id)">
                  {{ item.product.bundle_name }}
                </button>
              </div>
            </div>
            <div class="column is-7">
              <div class="columns is-multiline">
                <div class="column is-12">
                  <h3>
                    <span>{{ item.product.name }}</span>
                    <RemoveProductFromList :index="index" :list="selectedProducts" />
                  </h3>

                  <div>
                    <div v-html="item.product.description"></div>
                    <div v-if="item.product.more_info && !more_info" class="read_more" @click="toggleMoreInfo">{{ $t('common.read_more') }}</div>
                    <Transition name="text">
                      <div v-if="more_info" v-html="item.product.more_info" class="more_info_description"></div>
                    </Transition>
                    <div v-if="item.product.more_info && more_info" class="read_more" @click="toggleMoreInfo">{{ $t('common.read_less') }}</div>
                  </div>

                  <div class="product-attributes" v-if="loaded && item.attributes">

                    <ValidationProvider v-for="(attribute, attributesIndex) in item.attributes" :name="attribute.title"
                      :key="attributesIndex" rules="required" v-slot="{ errors }"
                      v-if="attributeIsVisible(attribute, item)">

                      <Attribute v-if="attribute.pivot.create_product_variation === '1'"
                        class="my-6"
                        :attribute="attribute"
                        :value="item.attributeValues[ attribute.id ]"
                        :errors="errors"
                        @update="(_, newValue) => onUpdateAttribute(attribute, item, newValue, index)" />

                      <Attribute v-else class="my-6" v-model="item.attributeValues[ attribute.id ]"
                        :attribute="attribute"
                        :errors="errors"
                        @update="(_, newValue) => onUpdateAttribute(attribute, item, newValue, index)" />
                    </ValidationProvider>
                  </div>

                  <div v-if="$auth.loggedIn" class="favorite-item-icon" @click="() => toggleFavourite(item)"
                    :class="{ 'is-active': isFavourite }">
                    <button class="btn">
                      {{ isFavourite ? $t('favorite.del') : $t('favorite.add') }}
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="text-align-center w-100 is-hidden-desktop"
              v-if="isSingleProduct && item.product.bundable_category_ids">
              <button class="btn" @click="onLoadBundleProductList(item.variation.id)">
                {{ item.product.bundle_name }}
              </button>
            </div>
          </div>

          <div class="columns">
            <div class="column is-5"> </div>
            <div class="column is-7">
              <ProductPriceBreakdown :items="selectedProducts" :last-refreshed-attributes="lastUpdatedPrices"/>
            </div>
          </div>

          <div class="text-align-center next-step mt-6">
            <p>
              <span class="pink-color">{{ $t('shop.next_step') }} -</span>

              <button v-if="itemsHaveSizes" class="btn" @click="validateAndContinue" :to="localePath({ name: 'sizes' })">
                {{ $t('sizes.action_button') }}
              </button>

              <button v-else class="btn" @click="validateAndContinue" :to="localePath({ name: 'cart' })">
                {{ $t('sizes.no_sizes_action_button') }}
              </button>
            </p>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <YouMayLike v-if="isSingleProduct" :variation_id="selectedProducts[0].variation.id" />

    <b-modal v-model="isAddProductModalOpen" full-screen>
      <div class="container" style="background-color: #f2ede4">
        <div class="columns is-multiline px-6 pt-6 pb-0">
          <h3>{{ $t('shop.add_product') }}</h3>
        </div>
        <div class="columns is-multiline px-6 pt-0 pb-6" v-if="canBeBundledProductsList">
          <ProductInList v-for="(b, index) in canBeBundledProductsList" class="column post is-narrow" :key="b.id"
            :product="b" :other-variation-id="selectedProducts[0].variation.id" no-favourite no-scroll />
        </div>

        <LoadingSkeleton v-else :count="6" />
      </div>
    </b-modal>
  </section>
</template>

<style lang="scss" scoped>
.read_more {
  cursor: pointer;
  color: #8c080c;
  padding-top: 1vw;
}
.more_info_description {
  padding-top: 1vw;
}

// animate transition named "text" in Nuxt
.text-enter-active, .text-leave-active {
  transition: opacity 0.5s;
}
.text-enter, .text-leave-to {
  opacity: 0;
}
</style>

<script>
import Breadcrumbs            from '~/components/base/Breadcrumbs'
import OpenedProductSlider    from '~/components/pages/shop/OpenedProductSlider'
import YouMayLike             from '~/components/pages/shop/YouMayLike'
import ProductInList          from '~/components/partial/ProductInList'
import Attribute              from '~/components/product-attributes/Attribute.vue'
import LoadingSkeleton        from '~/components/pages/shop/LoadingSkeleton.vue'
import RemoveProductFromList  from '~/components/partial/RemoveProductFromList.vue'
import ProductPriceBreakdown  from '~/components/partial/ProductPriceBreakdown.vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'

export default {
  scrollToTop: false,
  middleware: ['fetchProducts', 'fetchFavorites'],

  components: {
    ValidationProvider,
    ValidationObserver,

    Breadcrumbs,
    YouMayLike,
    OpenedProductSlider,
    ProductInList,
    Attribute,
    LoadingSkeleton,
    RemoveProductFromList,
    ProductPriceBreakdown,
  },
  nuxtI18n: {
    paths: {
      en: '/product/:list',
      lv: '/produkts/:list',
    }
  },

  data() {
    return {
      loaded: false,
      more_info: false,
      lastUpdatedPrices: new Date(),
    }
  },

  asyncData({ route, store, redirect, localePath }) {
    const list = route.params.list ? route.params.list.split('-') : []

    // check if all items all numeric
    if (list.some((item) => isNaN(item))) {
      return redirect(localePath({
        name: 'shop',
      }))
    }


    const selectedProducts = list.map((item) => {
      const product = store.getters['products/getProductByVariationId'](item)
      const variation = store.getters['products/getVariationById'](item)

      const attributeValues = (variation.attributevalues || []).reduce((acc, item) => {
        acc[item.product_attribute_id] = item.value
        return acc
      }, {})

      const attributes = product.product_attributes.map((attribute) => {
        if (attribute.pivot.create_product_variation != '1') {
          return {
            ...attribute,
            options: attribute.values
          }
        }

        // Atrodam visas iespējamās vērtības konkrētam Attribūtam, starp visām Produkta variācijām
        const optionsQuery =
          (product?.variations.map((variant) =>
            variant.attributevalues.find(
              (attr) => attr.product_attribute_id === attribute.id
            )
          ) || [])
            .filter((attr) => !!attr?.value) // eksistē undefined variācijas, jo tām nav vērtības

        const options = optionsQuery
          //Paņemam tikai unikālās variācijas salīdzinot pēc "value" lauka
          .filter((optionItem, index, self) => self.findIndex((t) => t?.value == optionItem?.value) == index)
          .map((option) => {
            const productAttributesWithVariations = product.product_attributes
              .filter((attr) => attr.pivot.create_product_variation == '1')
              .map(attr => attr.id)

            const variation = store.getters['products/getVariationById'](option.variation_id)
            const variationAttributes = variation.attributevalues.map(attr => attr.product_attribute_id)
            const isSame = productAttributesWithVariations.every(attr => variationAttributes.includes(attr))

            return {
              ...option,
              count: isSame ? 1 : 0,
              enabled: isSame
            }
          })

        return {
          ...attribute,
          options
        }
      })

      return {
        product,
        variation,
        attributeValues,
        attributes,
      }
    })

    return {
      isAddProductModalOpen: false,
      canBeBundledProductsList: null,
      selectedProducts,
    }
  },

  head: () => ({
    bodyAttrs: {
      class: 'single-page shop-page'
    }
  }),

  computed: {
    sizingCartList() {
      return this.$store.state.forSizingBasket.items
    },
    isSingleProduct() {
      return this.selectedProducts?.length === 1
    },
    isFavourite() {
      const favorites = this.$store.getters['favorite/getFavorites']
      const getFavoriteId = this.$route.query?.favoriteId || null
      return favorites.some((item) => item?.pivot?.id === getFavoriteId)
    },

    itemsHaveSizes() {
      return this.selectedProducts.some((item) => item.product.usersizes.length > 0);
    }
  },

  methods: {
    addToTempCartAndContinue() {
      const items = this.selectedProducts.map(item => ({
        product: item.product,
        variation: item.variation,
        count: 1,
        variation_data: {
          attributes: item.attributeValues
        }
      }))

      this.$store.commit('basket/START_LOADING')
      this.$store.dispatch('forSizingBasket/RESET')

      this.$store
        .dispatch('forSizingBasket/ADD_MANY_PRODUCTS', items)
        .then((result) => {
          this.$store.commit('basket/STOP_LOADING');
          this.$router.push(this.localePath({ name: 'sizes' }))
        })
        .catch((err) => {
          this.$store.commit('basket/STOP_LOADING')
          this.$utils.toast(err.message, "is-danger")
        })
    },

    addToCartAndContinue() {
      this.$store.commit('basket/START_LOADING')

      const productLine = this.selectedProducts.map(item => {

        const cartItem = {
          product: item.product,
          variation: item.variation,
          count: 1,
          variation_data: {
            attributes: item.attributeValues
          }
        }

        return this.$store.dispatch('basket/ADD_PRODUCT', cartItem)
      })

      Promise.all(productLine)
        .then((r) => {
          this.$utils.toast(this.$t('Prece pievienota grozam'), 'is-success')
          this.$store.commit('basket/STOP_LOADING')

          this.$router.push(this.localePath({
            name: 'basket'
          }))
        })
        .catch((err) => {
          this.$store.commit('basket/STOP_LOADING')
          this.$utils.toast(this.$t(err.message), 'is-danger')
        })
    },

    validateAndContinue() {
      this.$refs.attributesValiadtor.validate()
        .then(success => {
          if (success) {

            if (this.itemsHaveSizes) {
              this.addToTempCartAndContinue()
            } else {
              this.addToCartAndContinue()
            }

          } else {
            this.$utils.toast(this.$t('shop.error_attributes'), 'is-danger')
          }
        })
    },

    toggleMoreInfo() {
      this.more_info = !this.more_info
    },

    onUpdateAttribute(attribute, item, newValue, index) {
      this.lastUpdatedPrices = new Date;

      const attributeCreatesVariations = attribute.pivot.create_product_variation == "1" || false

      if (!attributeCreatesVariations) {
        return this.$router.push(this.localePath({
          path: this.$route.fullPath,
          query: {
            [index + '-' + attribute.id]: item.attributeValues[attribute.id]
          },
        }))
      }

      const variations = item?.product?.variations || []
      const variation = variations.filter(variant => variant.attributevalues.find(attr => attr.product_attribute_id === attribute.id && attr.value === newValue))

      const needToFind = { ...item.attributeValues }
      needToFind[attribute.id] = newValue

      const newItem = variation
        .find(attr => attr.attributevalues
          .filter(attr => attr.value)
          .every((attr) => attr.value === needToFind[parseInt(attr.product_attribute_id)]))

      if (!newItem) {
        console.log(`❌`, `No variation found!`, newItem)
        this.$utils.toast(this.$t('variation.error'), "is-danger")
        return
      }

      const list = this.$route.params.list.split('-')
      list[index] = newItem.id

      const { favoriteId, ...query } = this.$route.query // removes favoriteId from query

      this.$router.push(this.localePath({
        name: 'product-list',
        params: {
          list: list.join('-')
        },
        query,
      }))
    },

    async onLoadBundleProductList(variant) {
      this.canBeBundledProductsList = await this.$axios
        .$get(`/api/v1/products/related/bundelable-to/${variant}`)
        .then((res) => res.data)
      this.isAddProductModalOpen = true
    },

    fillFieldsWithQueryData() {
      const { query } = this.$route // {0-5: 'bez-svarciniem', 0-21: 'bez-savilkuma', 1-1: 'bez-volana'}

      Object.entries(query).forEach(([key, value]) => {
        const [item_index, attribute_id] = key.split('-')
        const product = this.selectedProducts[item_index]

        if (product) {
          const attribute = product.attributes.find((attr) => attr.id === attribute_id)
          const hasVariants = attribute?.pivot?.create_product_variation === '1'
          if (!hasVariants) {
            product.attributeValues[attribute_id] = value
          }
        }
      })

      setTimeout(() => {
        this.lastUpdatedPrices = new Date;
      }, 10);

      this.loaded = true
    },

    attributeIsVisible(attribute, item) {
      const trigger_action = attribute?.pivot?.trigger_action || 'none'
      const trigger_attribute_id = attribute?.pivot?.trigger_attribute_id || null
      const trigger_attribute_value = attribute?.pivot?.trigger_attribute_value || null

      if (trigger_action === null || trigger_action === 'none') {
        return true
      }

      if (trigger_attribute_id !== null) {
        const attrToWatch = item.attributes.find((attrInList) => attrInList.pivot.id === trigger_attribute_id)
        if (attrToWatch && item.attributeValues[attrToWatch.id] === trigger_attribute_value) {
          return true
        }
      }

      return false
    },

    async toggleFavourite(item) {
      if (!this.isFavourite) {
        const newFavId = await this.$store.dispatch('favorite/addFavorite', item)
        this.$router.push({
          query: {
            favoriteId: newFavId
          }
        })
      } else {
        const favoriteId = this.$route.query?.favoriteId || null
        if (!favoriteId) return
        this.$store.dispatch('favorite/removeFavorite', favoriteId)
      }

      this.$auth.fetchUser()
    },

  },

  mounted() {
    this.fillFieldsWithQueryData()

    // const favorites = this.$store.getters['favourite/getFavorites']
    // console.log(`💛`, favorites)
  },
  watch: {
    $route(to, from) {
      // to repair scroll after bundle product is added
      this.isAddProductModalOpen = false
    }
  }
}
</script>
