<template>

</template>

<script>
export default {
    nuxtI18n: {
        paths: {
            en: '/product/',
            lv: '/produkts/',
        }
    },
    async asyncData({ redirect, localePath }) {
        return redirect(localePath({
            name: 'shop',
        }))
    }
}
</script>