<template>
  <section class="blog-page single-page container">
    <div class="standart-section-offset">
      <Breadcrumbs />
      <div class="columns is-multiline is-vcentered" v-if="post">
        <div class="column is-2">
          <template>
            <nuxt-link :to="localePath({ name: 'blog' })" class="prev-item has-text-left for-mobile mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="44.475" height="29.208" viewBox="0 0 44.475 29.208">
                <path id="Path_270" data-name="Path 270" d="M936.425,530.088h3.936l-13.09,13.088H966.3v3.032H927.27L940.36,559.3h-3.936l-14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c" />
              </svg>
              <span>{{ $t("nav.back") }}</span>
            </nuxt-link>
          </template>
          <template v-if="previous_post">
            <nuxt-link
              :to="
                localePath({
                  name: 'blog-post-id',
                  params: { id: previous_post.slug },
                })
              "
              class="prev-item has-text-left for-desktop"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="44.475"
                height="29.208"
                viewBox="0 0 44.475 29.208"
              >
                <path
                  id="Path_270"
                  data-name="Path 270"
                  d="M936.425,530.088h3.936l-13.09,13.088H966.3v3.032H927.27L940.36,559.3h-3.936l-14.6-14.6Z"
                  transform="translate(-921.821 -530.088)"
                  fill="#8c080c"
                />
              </svg>
              <span>{{ $t("nav.previous_article") }}</span>
            </nuxt-link>
          </template>
        </div>

        <div class="column is-1"></div>

        <div class="column is-6">
          <!-- <div class="container">
            <h1>{{ $t("nav.blog") }}</h1>
          </div> -->
          <div class="container">
            <div class="blog-card">
              <div class="columns is-multiline is-vcentered">
                <div class="column is-12 blog-image-column">
                  <img
                    v-if="post.image"
                    :src="$imagor(post.image.path, 800)"
                    class="post-image blog-post__image"
                    alt="Blog"
                  />
                </div>
                <div class="column is-12">
                  <span class="date">
                    {{ formatDate(post.date_published) }}
                  </span>
                  <h2>{{ post.title }}</h2>
                  <div class="text-content" v-html="parsedBody"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-1"></div>

        <div class="column is-2">
          <template v-if="previous_post">
            <nuxt-link
              :to="
                localePath({
                  name: 'blog-post-id',
                  params: { id: previous_post.slug },
                })
              "
              class="prev-item has-text-left for-mobile"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="44.475"
                height="29.208"
                viewBox="0 0 44.475 29.208"
              >
                <path
                  id="Path_270"
                  data-name="Path 270"
                  d="M936.425,530.088h3.936l-13.09,13.088H966.3v3.032H927.27L940.36,559.3h-3.936l-14.6-14.6Z"
                  transform="translate(-921.821 -530.088)"
                  fill="#8c080c"
                />
              </svg>
              <span>{{ $t("nav.previous_article") }}</span>
            </nuxt-link>
          </template>
          <template v-if="next_post">
            <nuxt-link
              :to="
                localePath({
                  name: 'blog-post-id',
                  params: { id: next_post.slug },
                })
              "
              class="next-item has-text-right"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="44.474"
                height="29.208"
                viewBox="0 0 44.474 29.208"
              >
                <path
                  id="Path_269"
                  data-name="Path 269"
                  d="M951.691,530.088h-3.936l13.09,13.088H921.821v3.032h39.025L947.755,559.3h3.936l14.6-14.6Z"
                  transform="translate(-921.821 -530.088)"
                  fill="#8c080c"
                />
              </svg>
              <span>{{ $t("nav.next_article") }}</span>
            </nuxt-link>
          </template>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
  import _get                   from 'lodash/get'

  import Background             from "~/components/pages/home/Background";
  import Breadcrumbs            from "~/components/base/Breadcrumbs";
  import InfoSlider             from "~/components/pages/home/InfoSlider";
  import AboutUs                from "~/components/pages/home/AboutUs";
  import HowToOrderInfo         from "~/components/pages/home/HowToOrderInfo";
  import ChooseProductCategory  from "~/components/pages/home/ChooseProductCategory";
  import ProductsSlider         from "~/components/pages/home/ProductsSlider";

  export default {
    name: "HomePage",

    components: {
      Background,
      InfoSlider,
      AboutUs,
      HowToOrderInfo,
      ChooseProductCategory,
      ProductsSlider,
      Breadcrumbs,
    },

    head() {
      return {
        bodyAttrs: {
          class: "single-page blog-page",
        },
      };
    },

    async asyncData({ $axios, params, error }) {
      const [
        post,
        nextpost,
        previouspost,
        // related,
      ] = await Promise.all([
        $axios.$get("/api/v1/news/post/" + params.id),
        $axios.$get("/api/v1/news/post/next/" + params.id),
        $axios.$get("/api/v1/news/post/previous/" + params.id),
        //$axios.$get(`/api/v1/news/posts/related-to/${params.id}`),
      ]);

      if (post.error || post.data == null) {
        return error(404);
      }

      return {
        post: post.data,
        next_post: nextpost,
        previous_post: previouspost,
        //related: related.data,
      };
    },

    data() {
      return {
        post: null,

        options: {
          arrows: false,
          infinite: true,
          focusOnSelect: true,
        },
      };
    },

    methods: {
      formatDate(date) {
        return this.$dayjs(date).format('DD/MM/YYYY')
      }
    },

    computed: {
      parsedBody() {
        // let body = this.pages[4].body;
        let fixedBody = _get(this.post, 'body', '');

        try {
          if (fixedBody.includes('youtube.com')) {
            fixedBody = fixedBody
              .replace('figure', 'iframe class=\"article-video\" controls muted autoplay width="100%" height="420" frameborder="0"')
              .replaceAll('figure', 'iframe')
              .replace('data-video', 'src')
              .replace('www.youtube.com/watch?v=', 'www.youtube.com/embed/')
          } else {
            fixedBody = fixedBody
              .replace('figure', 'video class=\"article-video\" controls="true"')
              .replaceAll('figure', 'video')
              .replace('data-video', 'src');
          }

          // fixedBody = fixedBody.replaceAll('src=\"/storage', 'src=\"https://backend-intranet.spice.lv/storage');

        } catch (error) {
          console.error(`❗ Error: `, error);
        }

        return fixedBody;
      },
    }
  };
</script>

<style lang="scss">
  .prev-item,
  .next-item {

    & > span {
      width: 100px;
      margin: auto;
    }
  }

  .prev-item {
    & > span {
      margin-left: 0;
    }
  }

  .next-item {

    & > span {
      margin-right: 0;
    }
  }
</style>
