<template>
  <div class="blog-card">
    <div class="columns is-multiline is-vcentered">

      <div class="column is-4 image-wrapper">
        <template v-if="post.image != null">
         <nuxt-link :to="localePath({
            name: 'blog-post-id',
            params: {id: post.slug},
          })">
           <b-image class="blog-post__image" :src="$imagor(post.image.path, 800)" responsive />
         </nuxt-link>
       </template>
      </div>

      <div class="column is-8">
        <span class="date">
          {{formatDate(post.date_published)}}
        </span>

        <h4>
          <nuxt-link :to="localePath({
              name: 'blog-post-id',
              params: {id: post.slug},
            })"
          >
            {{ post.title }}
          </nuxt-link>
        </h4>

        <p>{{post.intro}}</p>

        <nuxt-link :to="localePath({
            name: 'blog-post-id',
            params: {
              id: post.slug
            },
          })"
          class="read-more"
        >
          {{ $t('nav.read_more') }}

          <svg xmlns="http://www.w3.org/2000/svg" width="117.708" height="36.232" viewBox="0 0 117.708 36.232">
            <g id="Group_682" data-name="Group 682" transform="translate(-702.095 -77.919)">
              <path id="Path_223" data-name="Path 223" d="M-.087,4.364c57.979-15.613,104.708,7.322,104.708,7.322" transform="translate(702.425 86.861) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
              <path id="Path_222" data-name="Path 222" d="M-.023,1.1C55.8-7.969,97.095,23.516,97.095,23.516" transform="translate(720.974 90.288) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
            </g>
          </svg>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    post: {
      type: Object
    }
  },

  methods: {
    formatDate(date) {
      return this.$dayjs(date).format('DD/MM/YYYY')
    }
  },
}
</script>
<style lang="scss">
</style>
