<template>
  <div class="instagram-container container">
    <!-- <h3 class="common-h3 full-width">Instagrams</h3> -->
    <blockquote
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/swimbe_swimwear/"
      data-instgrm-version="12"
    ></blockquote>

    <script src="https://www.instagram.com/embed.js"></script>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.instagram-media {
  border: 0;
  margin: 1px;
  padding: 0;

  width: 100%;

  max-width: 770px;
  min-width: 326px;
  // max-height: 100vh !important;
}
</style>

<style lang="scss" scoped>
  .instagram-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 2rem;
  }
</style>
