<template>
  <section class="legal-notice-block">
    <div class="container text-align-center">
      <div class="textual-content" v-html="$t('footer.closure')"></div>
      <img :src="$utils.mediaLibraryUrl('uploaded-files/MLBiznesainkubatori_ERAF_webam_lv.png')" alt="" />
    </div>
  </section>
</template>