<template>
  <div class="column item" :class="cssCalsses">
    <NuxtLink :to="productLink" @click.native="scrollToTop">
      <div class="product-div">
        <div class="image-div">
          <img :src="$imagor(product.main_image, 800, 800, 'fit-in')" alt="" />
        </div>
        <div>
          <p>
            <span>{{ product.name }}</span>
          </p>
          <div class="price-span" v-html="getPriceString"></div>
        </div>
      </div>
    </NuxtLink>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object
    },
    otherVariationId: {
      type: [Number, String],
      default: null,
    },
    noFavourite: {
      type: Boolean,
      default: false,
    },
    col: {
      type: Number,
      default: 4
    },
    faveList: {
      type: Array,
      default: () => [],
    },
    noScroll: {
      type: Boolean,
      default: null,
    },
  },

  data() {
    return {
      isFaved: false,
    }
  },

  computed: {
    cssCalsses() {
      return { [`is-${this.col}`]: true }
    },
    productLink() {
      return this.localePath({
        name: 'product-list',
        params: {
          list: [
            ...(this.otherVariationId ? [this.otherVariationId] : []),
            this.getFirstVariantId(this.product)
          ].join('-'),
        },
        query: this.otherVariationId ? this.$route.query : {},
      })
    },
    getPriceString() {
      const lovestPrice = this.product.lovest_price
      if (lovestPrice == null) {
        console.log('lovestPrice', this.product);
      }
      return `${this.$t('product.lowest_price')} ${this.$utils.parseCurrency(lovestPrice)}`
    }
  },

  methods: {
    getFirstVariantId(product) {
      const variations = product?.variations || []
      return variations.length ? variations[0].id : null
    },

    scrollToTop() {
      if (this.noScroll) return
      window.scrollTo(0, 0)
    }
  },
}
</script>
<style lang="scss" scoped>
.item {
  position: relative;

  & > a {
    height: 100%;
    & > .product-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

  }

  &.is-2 {
    .product-div {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    .image-div {
      width: 6rem;
    }

    p {
      span {
        margin: 0;
        text-align: left;
        font-size: 1rem
      }
    }

    .price-span {
      text-align: left;
      font-size: 1rem;
      margin: 0.5rem 0 0;
    }
  }
}

.favorite-item-icon {
  cursor: pointer;
}
</style>
