<template>
  <div class="price-breakdown">
    <h4>Cenas kopsavilkums</h4>

    <div class="product-list">
      <div v-for="(item, index) in items" :key="index" class="product-list__product">

        <div v-if="pricingDetails[index] && pricingDetails[index].variation">
          <div class="product-list__line">
            <div class="name">
              {{item.product.name}}
            </div>

            <div class="spacer"></div>

            <div class="price">
              {{ $utils.parseCurrency(item.variation.price) }}
            </div>
          </div>

          <template v-for="(attr, attrIndex) in pricingDetails[index].attributes.freezed_attributes">
            <div class="product-list__line" v-if="attr.price && attr.price.amount > 0" :key="attrIndex" >
              <div class="padding">+</div>
              <div class="name">
                {{attr.title}}
              </div>

              <div class="spacer"></div>

              <div class="price">
                {{ $utils.parseCurrency(attr.price) }}
              </div>
            </div>
          </template>
        </div>

      </div>
    </div>

    <div class="product-list__product product-list--totals" v-if="total">
      <div class="product-list__line">
        <div class="name">
          Kopā
        </div>

        <div class="spacer"></div>

        <div class="price">
          {{ total }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  props: {
    items: {
      type: Array,
      defaut: []
    },

    lastRefreshedAttributes: {
      type: [Date, String],
      default: () => null,
    }
  },

  data() {
    return {
      pricingDetails: [],

      index: 0,
    }
  },

  methods: {
    getAllPrices() {
      if (this.items) {
        this.items.forEach( (product, index) => {
          this.getProductPrice(product, index);
        } )
      }
    },

    getProductPrice(item, index) {
      console.log("getProductPrice::", item);

      this.$axios
        .$post(`/api/v1/products/product-price/${item.variation.id}`, {
          attributes: item.attributeValues
        })
        .then((res) => {
          this.$set(this.pricingDetails, index, res.data);
        });

    }
  },

  computed: {
    total() {
      const lastRefreshedAttributes = this.lastRefreshedAttributes;

      const items          = this.items;
      const pricingDetails = this.pricingDetails;

      const total = {
        amount: 0,
        currency: this.$utils.optional(items, '0.variation.price.currency', 'EUR'),
      };

      if (items && items.length) {

        items.forEach( (item, index) => {
          total.amount += parseInt(item.variation.price.amount);

          const attributes = this.$utils.optional(pricingDetails, `${index}.attributes.freezed_attributes`, []);

          for (const [attrKey, attr] of Object.entries(attributes)) {
            if (attr.price && attr.price.amount > 0) {
              total.amount += parseInt(attr.price.amount);
            }
          }
        })

        return this.$utils.parseCurrency(total);
      }

      return null;
    }
  },

  mounted() {
    this.getAllPrices()
  },

  watch: {
    lastRefreshedAttributes(newValue) {
      this.getAllPrices()
    }
  }
}
</script>

<style scoped lang="scss">
.price-breakdown {
  border-top: 1px solid #8c080c;

  max-width: 400px;
}

.product-list {
  width: 100%;

  &__product {
    margin-top: 1rem;
  }
  &__line {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    // justify-content: space-between;
    > * {
      flex-shrink: 0;
    }

    .spacer {
      flex-grow: 1;
      // border-bottom: 1px dotted #8c080c;
      // transform: translateY(-45%);
    }

    .padding {
      width: 0.2rem;
    }
  }

  &--totals {
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid #8c080c;
  }
}
</style>
