<template>
  <nuxt-link
    v-if="index > 0 && removeProductLink"
    :to="removeProductLink"
    @click.native="scrollToTop"
  >
    <div class="btn btn-close">
      &#x2715;
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    index: {
      type: Number,
      default: null,
    },
    list: {
      type: Array,
      default: [],
    },
  },

  methods: {
    getFirstVariantId(product) {
      const variations = product?.variations || []
      return variations.length ? variations[0].id : null
    },

    scrollToTop() {
      if (this.noScroll) return
      window.scrollTo(0, 0)
    }
  },

  computed: {
    removeProductLink() {
      const list = [...this.list];
      const index = this.index;

      if (index > 0) {
        list.splice(index, 1)

        const stripedList = list.map( (item) => {
          return this.getFirstVariantId(item.product)
        });

        return this.localePath({
          name: 'product-list',
          params: {
            list: stripedList.join('-'),
          },
          query: {},
          // query: this.otherVariationId ? this.$route.query : {},
        })
      }

      return this.localePath({
        name: 'product-list',
        query: {},
      });
    }
  }
}
</script>

<style scoped lang="scss">

</style>
