<template>
        <div class="carousel-wrapper">
          <VueSlickCarousel v-bind="slickOptions">
            <template #prevArrow="arrowOption">
            <div class="custom-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="44.475" height="29.208" viewBox="0 0 44.475 29.208">
                <path id="Path_270" data-name="Path 270" d="M936.425,530.088h3.936l-13.09,13.088H966.3v3.032H927.27L940.36,559.3h-3.936l-14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c"/>
              </svg>
            </div>
          </template>
            <div v-for="(item, index) in gallery" :key="index" :class="isHeightFixed" >
                  <img :src="$imagor(item.path, 500, 600)" alt="" />
            </div>
            <template #nextArrow="arrowOption">
            <div class="custom-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="44.474" height="29.208" viewBox="0 0 44.474 29.208">
                <path id="Path_269" data-name="Path 269" d="M951.691,530.088h-3.936l13.09,13.088H921.821v3.032h39.025L947.755,559.3h3.936l14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c"/>
              </svg>
            </div>
          </template>
          </VueSlickCarousel>
        </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    components: { VueSlickCarousel },
    data() {
        return {
            slickOptions: {
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true
            },
        }
    },
    props: {
        gallery: {
            default: null
        },
        hasFixedHeightPrints: {
            type: Boolean,
            default: false
        },
        hasFixedHeightPictures: {
            type: Boolean,
            default: false
        },
        hasFixedHeightColors: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        isHeightFixed() {
            if (this.hasFixedHeightPrints) {
                return 'has-fixed-height--prints'
            } else if(this.hasFixedHeightPictures) {
                return 'has-fixed-height--pictures'
            } else if(this.hasFixedHeightColors) {
                return 'has-fixed-height--colors'
            }
            return null
        }
    }
}
</script>

<style lang="scss" scoped>
.light-beige {
  width: 100%;
}
.slick-prev {
  left: -47px;
}

.has-fixed-height {
    &--prints, &--pictures, &--colors {
        img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
      }
    }
}
</style>
