<template>
  <div class="column item" :class="cssCalsses">
    <NuxtLink :to="variationLink" @click.native="scrollToTop">
      <div class="product-div">
        <div class="image-div">
          <img :src="$imagor(variation.image, 800, 800, 'fit-in')" alt="" />
        </div>
        <div>
          <p>
            <!--span>{{ product.name }}</span-->
          </p>
        </div>
        <div class="price-span">{{ this.$utils.parseCurrency(variation.price.amount) }}</div>
      </div>
    </NuxtLink>
    <slot name="footer"></slot>
  </div>
</template>
<script>
export default {
  props: {
    variation: {
      type: Object
    },
    col: {
      type: Number,
      default: 6
    },
    noScroll: {
      type: Boolean,
      default: null,
    },
    favoriteId: {
      type: String,
      default: null,
    }
  },

  computed: {
    cssCalsses() {
      return { [`is-${this.col}`]: true }
    },
    variationLink() {
      const attributes = this.variation?.pivot?.variation_attributes || []

      // adding 0- prefix to the keys to apply attributes to first variation
      Object.keys(attributes).forEach((key) => {
        attributes[`0-${key}`] = attributes[key]
        delete attributes[key]
      })

      return this.localePath({
        name: 'product-list',
        params: {
          list: this.variation.id,
        },
        query: ({
          ...attributes,
          ...(this.favoriteId ? { favoriteId: this.favoriteId } : {}),
        })
      })
    },
  },

  methods: {
    scrollToTop() {
      if (this.noScroll) return
      window.scrollTo(0, 0)
    }
  },
}
</script>
<style lang="scss" scoped>
.item {
  position: relative;
}

.favorite-item-icon {
  cursor: pointer;
}
</style>
