<template>
  <div class="lighter-beige app-block" style="padding-bottom: 0;" v-if="block">
    <div class="container text-align-left">
      <h3 class="common-h3 full-width">{{block.title}}</h3>
    </div>
    <img v-if="block.image" class="bubble-image" :src="block.image.path" alt="" />
  </div>
</template>

<script>
export default {
  props: {
    employees: Array,
    block: Object,
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
