<template>
  <div>
    <template  v-for="(block, blockIndex ) in employees">

      <AboutUsBottom v-if="block.is_image_in_bubble == '1' || block.is_image_in_bubble === 1" :block="block" />

      <div v-else-if="block.image"  :key="block.id" :class="{'lighter-beige app-block': blockIndex % 2, 'light-beige': !(blockIndex % 2)}">

        <div class="container">
          <div class="columns is-multiline is-vcentered">
            <template v-if="blockIndex % 2">
              <text-col :cols="5" :block="block"/>
              <img-col  :cols="7" :block="block" class="has-text-right"/>
            </template>

            <template v-else>
              <img-col  :cols="7" :block="block"/>
              <text-col :cols="5" :block="block"/>
            </template>
          </div>
        </div>

      </div>

      <div v-else class="app-block" :class="{'lighter-beige': blockIndex%2}" >
        <div class="container text-align-center">
          <h3 class="common-h3 full-width">{{block.title}}</h3>
          <div class="about-us-block">
            <div class="textual-content" v-html="block.body"> </div>
            <img v-if="block.image" :src="block.image.path" alt="" />
          </div>
        </div>
      </div>

    </template>

  </div>
</template>

<script>
import TextCol from "./AboutUs/TextCol";
import ImgCol from "./AboutUs/ImgCol";
import AboutUsBottom from '~/components/pages/home/AboutUsBottom.vue'

export default {
  props: {
    employees: Array
  },

  components: {
    TextCol,
    ImgCol,
    AboutUsBottom,
  },

  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped >
  .container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      flex-grow: 1;
    }

    > .columns {
      width: 100%;
    }
  }
</style>
