<template>
  <div class="lighter-beige app-block" v-if="block">
    <div class="container text-align-center">
      <h3 class="common-h3 full-width">{{block.title}}</h3>
      <div class="about-us-block">
        <div class="textual-content"  v-html="block.body">
        </div>

        <img v-if="block.image" :src="block.image.path" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    block: Object
  },
  data () {
    return {
    }
  }
}
</script>
