<template>
  <section class="home-background">
    <VueSlickCarousel
      v-if="images.length"
      class="home-background-slider"
      :autoplay="true"
      :autoplaySpeed="5000"
      :swipeToSlide="true"
      :arrows="false"
    >
      <div v-for="(img, index) in images" class="slides" :key="index">
        <template v-if="img.url !== ''">
          <a draggable="false" :href="img.url">
            <img
              class="is-hidden-touch"
              :src="img.image.path"
              alt="Swimbe"
              draggable="false"
            />
            <img
              class="is-hidden-desktop"
              :src="getMobileImage(img)"
              alt="Swimbe"
              draggable="false"
            />
          </a>
        </template>
        <template v-else>
          <img
            class="is-hidden-touch"
            :src="img.image.path"
            alt="Swimbe"
            draggable="false"
          />
          <img
            class="is-hidden-desktop"
            :src="getMobileImage(img)"
            alt="Swimbe"
            draggable="false"
          />
        </template>
      </div>
    </VueSlickCarousel>

    <div class="show-mobile">
      <nuxt-link class="main-logo-link" :to="localePath('/')">
        <img :src="logo" class="logo" alt="Logo" />
      </nuxt-link>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.home-background-slider {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;

  .slides {
    width: 100%;
    height: 100vh;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      &.is-hidden-desktop {}
    }
  }
}

.show-mobile {
  position: absolute;
  top: 85px
}
</style>

<script>
import VueSlickCarousel from 'vue-slick-carousel'

export default {
  components: { VueSlickCarousel },
  data() {
    return {
      image: '/demo/home/1.png',
      logo: require('~/assets/img/main/logo.svg'),
      images: []
    }
  },
  async fetch() {
    const spotlight = await this.$axios
      .$get('/api/v1/content/galleries/spotlight')
      .then((res) => res?.data)
    this.images = spotlight
  },

  methods: {
    getMobileImage(item) {
      return this.$utils.optional(item, 'image_mobile.path', item.image.path)
    }
  }
}
</script>
