<template>
  <div class="light-beige app-block without-top-padding">
    <div class="container text-align-center">
      <div class="c1040container">
        <h3 class="common-h3 full-width">Izvēlies produktu kategoriju</h3>
        <div class="choose-product-category">
          <div class="columns is-multiline is-vcentered">
            <div class="column is-3">
              <nuxt-link :to="makeTo('sievietem')" class="choose-category">
                <div class="choose-category-image is-vcentered">
                  <SvgBra/>
                </div>
                <p>Sievietes</p>
              </nuxt-link>
            </div>
            <div class="column is-3">
              <nuxt-link :to="makeTo('viriesiem')" class="choose-category">
                <div class="choose-category-image is-vcentered">
                  <SvgShorts/>
                </div>
                <p>Vīrieši</p>
              </nuxt-link>
            </div>
            <div class="column is-3">
              <nuxt-link :to="makeTo('meitenem')" class="choose-category">
                <div class="choose-category-image is-vcentered">
                  <SvgKids/>
                </div>
                <p>Bērni</p>
              </nuxt-link>
            </div>
            <div class="column is-3">
              <nuxt-link :to="localePath({name: 'gift-card'})" class="choose-category">
                <div class="choose-category-image is-vcentered">
                  <GiftCard/>
                </div>
                <p>Dāvanu kartes</p>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SvgBra from "~/components/icons/SvgBra.vue";
  import SvgShorts from "~/components/icons/SvgShorts.vue";
  import SvgKids from "~/components/icons/SvgKids.vue";
  import SvgOther from "~/components/icons/SvgOther.vue";
  import GiftCard from "~/components/icons/GiftCardIcon.vue";

  export default {
    components: {
      SvgBra,
      SvgShorts,
      SvgKids,
      SvgOther,
      GiftCard,
    },

    data() {
      return {};
    },

    methods: {
      makeTo(category) {
        return this.localePath({
          name:'shop-category',
          params: {
            category: category,
          }
        });
      }
    },
  };
</script>
