<template>
  <div class="light-beige app-block">
    <div class="container text-align-center ">
      <div class="c850container">
        <h3 class="common-h3 full-width">{{$t('howtoorder.title')}}</h3>
        <div class="how-to-order-info-block">
          <div class="columns is-multiline is-vcentered">
            <div class="column is-3 block-item">
              <div class="choose-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="79.277" viewBox="0 0 70 79.277">
                  <g id="Group_282" data-name="Group 282" transform="translate(-355.447 -2298.823)">
                    <text id="_1." data-name="1." transform="translate(376 2352)" fill="#0b0b0b" font-size="40" font-family="Aventa"><tspan x="0" y="0">1.</tspan></text>
                    <g id="Group_93" data-name="Group 93" transform="translate(84.941 1801.282)">
                      <path id="Path_190" data-name="Path 190" d="M329.512,552.707c8.712-25.293,2.926-47.525-13.5-53.183s-35.489,6.441-42.579,27.025,2.83,42.542,19.256,48.2,45.184-2.747,47.317-48.294" fill="none" stroke="#8c080c" stroke-miterlimit="10" stroke-width="1"/>
                    </g>
                  </g>
                </svg>
              </div>
              <p v-html="$t('howtoorder.step1')"></p>
            </div>
            <div class="column is-3 block-item">
              <div class="choose-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="97.668" height="101.939" viewBox="0 0 97.668 101.939">
                  <g id="Group_283" data-name="Group 283" transform="translate(-559.425 -2287.542)">
                    <text id="_2." data-name="2." transform="translate(599.09 2352)" fill="#0b0b0b" font-size="40" font-family="Aventa"><tspan x="0" y="0">2.</tspan></text>
                    <g id="Group_98" data-name="Group 98" transform="matrix(-0.899, 0.438, -0.438, -0.899, 1118.329, 2687.4)">
                      <path id="Path_190" data-name="Path 190" d="M329.512,552.707c8.712-25.293,2.926-47.525-13.5-53.183s-35.489,6.441-42.579,27.025,2.83,42.542,19.256,48.2,45.184-2.747,47.317-48.294" fill="none" stroke="#8c080c" stroke-miterlimit="10" stroke-width="1"/>
                    </g>
                  </g>
                </svg>
              </div>
              <p v-html="$t('howtoorder.step2')"></p>
            </div>
            <div class="column is-3 block-item">
              <div class="choose-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="86.039" height="92.991" viewBox="0 0 86.039 92.991">
                  <g id="Group_284" data-name="Group 284" transform="translate(-761.722 -2292.054)">
                    <text id="_3." data-name="3." transform="translate(794.198 2352)" fill="#0b0b0b" font-size="40" font-family="Aventa"><tspan x="0" y="0">3.</tspan></text>
                    <g id="Group_95" data-name="Group 95" transform="translate(981.578 2930.685) rotate(-167)">
                      <path id="Path_190" data-name="Path 190" d="M329.512,552.707c8.712-25.293,2.926-47.525-13.5-53.183s-35.489,6.441-42.579,27.025,2.83,42.542,19.256,48.2,45.184-2.747,47.317-48.294" fill="none" stroke="#8c080c" stroke-miterlimit="10" stroke-width="1"/>
                    </g>
                  </g>
                </svg>
              </div>
              <p v-html="$t('howtoorder.step3')"></p>
            </div>
            <div class="column is-3 block-item">
              <div class="choose-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="69.999" height="79.277" viewBox="0 0 69.999 79.277">
                  <g id="Group_285" data-name="Group 285" transform="translate(-981.952 -2298.9)">
                    <text id="_4." data-name="4." transform="translate(1004.398 2352)" fill="#0b0b0b" font-size="40" font-family="Aventa"><tspan x="0" y="0">4.</tspan></text>
                    <g id="Group_96" data-name="Group 96" transform="translate(982.451 2299.414)">
                      <path id="Path_190" data-name="Path 190" d="M281.6,521.729c-8.712,25.293-2.926,47.525,13.5,53.183s35.489-6.441,42.579-27.025-2.83-42.542-19.256-48.2-45.184,2.747-47.317,48.294" transform="translate(-271.111 -498.132)" fill="none" stroke="#8c080c" stroke-miterlimit="10" stroke-width="1"/>
                    </g>
                  </g>
                </svg>
              </div>
              <p v-html="$t('howtoorder.step4')"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {

    }
  }
}
</script>
