<template>
  <div class="light-beige">
    <div class="container">
      <div class="carousel-wrapper about-us">
        <VueSlickCarousel v-bind="slickOptions">

          <template #prevArrow="arrowOption">
            <div class="custom-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="44.475" height="29.208" viewBox="0 0 44.475 29.208">
                <path id="Path_270" data-name="Path 270" d="M936.425,530.088h3.936l-13.09,13.088H966.3v3.032H927.27L940.36,559.3h-3.936l-14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c"/>
              </svg>
            </div>
          </template>

          <div>
            <div class="slide-infoslider">
              <div class="columns is-multiline is-vcentered">
                <div class="column is-7">
                  <img :src="$get(employees[0], 'image.path')" alt="" />
                </div>
                <div class="column is-5">
                  <h3 class="common-h3">{{$get(employees[0], 'title')}}</h3>
                  <div class="textual-content is-hidden-mobile" v-html="employees[0]?.body"></div>
                  <div class="textual-content is-hidden-desktop" v-html="employees[0]?.excerpt_text !== '' ? employees[0]?.excerpt_text : employees[0]?.body"></div>
                  <nuxt-link class="read-more" :to="localePath({name: 'about'})">
                    <span>{{ $t('common.read_more') }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="217.114" height="44.513" viewBox="0 0 217.114 44.513">
                      <g id="Group_100" data-name="Group 100" transform="translate(-821.77 -1229.016)">
                        <path id="Path_50" data-name="Path 50" d="M27.267-.446C137.894-8.731,229.824,13.719,229.824,13.719" transform="translate(794.803 1247.866) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                        <path id="Path_193" data-name="Path 193" d="M40.919-13.894c111.1-2.795,196.472,26.47,196.472,26.47" transform="translate(801 1263.366) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                      </g>
                    </svg>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="slide-infoslider">
              <div class="columns is-multiline is-vcentered">
                <div class="column is-7">
                  <img :src="$get(employees[1], 'image.path')" alt="" />
                </div>
                <div class="column is-5">
                  <h3 class="common-h3">{{$get(employees[1], 'title')}}</h3>
                  <div class="textual-content is-hidden-mobile" v-html="employees[1]?.body"></div>
                  <div class="textual-content is-hidden-desktop" v-html="employees[1]?.excerpt_text !== '' ? employees[1]?.excerpt_text : employees[1]?.body"></div>
                  <nuxt-link class="read-more" :to="localePath({name: 'about'})">
                    <span>{{ $t('common.read_more') }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="217.114" height="44.513" viewBox="0 0 217.114 44.513">
                      <g id="Group_100" data-name="Group 100" transform="translate(-821.77 -1229.016)">
                        <path id="Path_50" data-name="Path 50" d="M27.267-.446C137.894-8.731,229.824,13.719,229.824,13.719" transform="translate(794.803 1247.866) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                        <path id="Path_193" data-name="Path 193" d="M40.919-13.894c111.1-2.795,196.472,26.47,196.472,26.47" transform="translate(801 1263.366) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                      </g>
                    </svg>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="slide-infoslider">
              <div class="columns is-multiline is-vcentered">
                <div class="column is-7">
                  <img :src="$get(employees[2], 'image.path')" alt="" />
                </div>
                <div class="column is-5">
                  <h3 class="common-h3">{{$get(employees[2], 'title')}}</h3>
                  <div class="textual-content is-hidden-mobile" v-html="employees[2]?.body"></div>
                  <div class="textual-content is-hidden-desktop" v-html="employees[2]?.excerpt_text !== '' ? employees[2]?.excerpt_text : employees[2]?.body"></div>
                  <nuxt-link class="read-more" :to="localePath({name: 'about'})">
                    <span>{{ $t('common.read_more') }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="217.114" height="44.513" viewBox="0 0 217.114 44.513">
                      <g id="Group_100" data-name="Group 100" transform="translate(-821.77 -1229.016)">
                        <path id="Path_50" data-name="Path 50" d="M27.267-.446C137.894-8.731,229.824,13.719,229.824,13.719" transform="translate(794.803 1247.866) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                        <path id="Path_193" data-name="Path 193" d="M40.919-13.894c111.1-2.795,196.472,26.47,196.472,26.47" transform="translate(801 1263.366) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
                      </g>
                    </svg>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>

          <template #nextArrow="arrowOption">
            <div class="custom-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="44.474" height="29.208" viewBox="0 0 44.474 29.208">
                <path id="Path_269" data-name="Path 269" d="M951.691,530.088h-3.936l13.09,13.088H921.821v3.032h39.025L947.755,559.3h3.936l14.6-14.6Z" transform="translate(-921.821 -530.088)" fill="#8c080c"/>
              </svg>
            </div>
          </template>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  props: {
    employees: Array
  },
  components: { VueSlickCarousel },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: true,
        fade: true,
        // adaptiveHeight: true, // don't use this! it breaks back scrolling functionality
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.carousel-wrapper {
  padding: 00px;

  ::v-deep(.slick-track) {
    display: flex;
    align-items: center;
  }
}

.img-wrapper img {
  margin: auto;
  width: 200px;
  // height: 100px;
  background-image: linear-gradient(gray 100%, transparent 0);
}

@media(max-width: 700px) {
  .about-us {
    .custom-arrow {
      display: block;
      width: 25px;
      height: auto;
      top: 300px;

      ::v-deep(svg) {
        width: 100%;
      }


      &.slick-prev {
        left: -30px;
      }

      &.slick-next {
        right: -30px;
      }
    }
  }
}

// @media screen and (max-width: 1024px) {
//   .carousel-wrapper {

//     ::v-deep(.slick-next) {
//       right: 0px !important;
//     }

//     ::v-deep(.slick-prev) {
//       left: 0px !important;
//     }
//   }

//   .custom-arrow {
//     display: block !important;
//     width: 25px !important;

//     ::v-deep(svg) {
//       width: 100%;
//     }
//   }
// }
</style>
