<template>
  <div class="light-beige products-slider-block" :class="cssClass">
    <div class="container">
      <div class="carousel-wrapper">
        <div class="carousel-wrapper-big">
          <VueSlickCarousel ref="c1"  v-bind="slickOptionsPS3">
            <template #prevArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
                  <circle id="Ellipse_182" data-name="Ellipse 182" cx="31" cy="31" r="31" fill="#f2ede4"/>
                  <path id="Path_1107" data-name="Path 1107" d="M5.3,0H0L19.635,19.664,17.625,21.7,0,39.327H5.3L24.963,19.664Z" transform="translate(42.738 51.499) rotate(180)" fill="#f35"/>
                </svg>
              </div>
            </template>
            <div v-for="(item, index) in gallery" :key="index">
              <div class="slide-productsslider">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <img :src="item.path" alt="" />
                  </div>

                </div>
              </div>
            </div>
            <div v-for="(item, index) in gallery" :key="index">
              <div class="slide-productsslider">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <img :src="item.path" alt="" />
                  </div>

                </div>
              </div>
            </div>

            <template #nextArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
                  <ellipse id="Ellipse_181" data-name="Ellipse 181" cx="30.5" cy="31" rx="30.5" ry="31" transform="translate(61 62) rotate(180)" fill="#f2ede4"/>
                  <path id="Path_1106" data-name="Path 1106" d="M955.364,530.088h-5.3L969.7,549.751l-2.009,2.041-17.625,17.622h5.3l19.664-19.664Z" transform="translate(-931.336 -519.155)" fill="#f35"/>
                </svg>
              </div>
            </template>

          </VueSlickCarousel>
        </div>
        <div class="carousel-wrapper-bigger">
          <VueSlickCarousel ref="c2" v-bind="slickOptionsPS2" >
            <template #prevArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
                  <circle id="Ellipse_182" data-name="Ellipse 182" cx="31" cy="31" r="31" fill="#f2ede4"/>
                  <path id="Path_1107" data-name="Path 1107" d="M5.3,0H0L19.635,19.664,17.625,21.7,0,39.327H5.3L24.963,19.664Z" transform="translate(42.738 51.499) rotate(180)" fill="#f35"/>
                </svg>
              </div>
            </template>
            <div v-for="(item, index) in gallery" :key="index">
              <div class="slide-productsslider">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <img :src="item.path" alt="" />
                  </div>

                </div>
              </div>
            </div>
            <div v-for="(item, index) in gallery" :key="index">
              <div class="slide-productsslider">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <img :src="item.path" alt="" />
                  </div>

                </div>
              </div>
            </div>
            <template #nextArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
                  <ellipse id="Ellipse_181" data-name="Ellipse 181" cx="30.5" cy="31" rx="30.5" ry="31" transform="translate(61 62) rotate(180)" fill="#f2ede4"/>
                  <path id="Path_1106" data-name="Path 1106" d="M955.364,530.088h-5.3L969.7,549.751l-2.009,2.041-17.625,17.622h5.3l19.664-19.664Z" transform="translate(-931.336 -519.155)" fill="#f35"/>
                </svg>
              </div>
            </template>

          </VueSlickCarousel>
        </div>
        <div class="carousel-wrapper-small">
          <VueSlickCarousel ref="c3" v-bind="slickOptionsPS" @beforeChange="syncSliders">
            <template #prevArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
                  <circle id="Ellipse_182" data-name="Ellipse 182" cx="31" cy="31" r="31" fill="#f2ede4"/>
                  <path id="Path_1107" data-name="Path 1107" d="M5.3,0H0L19.635,19.664,17.625,21.7,0,39.327H5.3L24.963,19.664Z" transform="translate(42.738 51.499) rotate(180)" fill="#f35"/>
                </svg>
              </div>
            </template>
            <div v-for="(item, index) in gallery" :key="index">
              <div class="slide-productsslider">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <img :src="item.path" alt="" />
                  </div>

                </div>
              </div>
            </div>
            <div v-for="(item, index) in gallery" :key="index">
              <div class="slide-productsslider">
                <div class="columns is-multiline is-vcentered">
                  <div class="column is-12">
                    <img :src="item.path" alt="" />
                  </div>

                </div>
              </div>
            </div>
            <template #nextArrow="arrowOption">
              <div class="custom-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
                  <ellipse id="Ellipse_181" data-name="Ellipse 181" cx="30.5" cy="31" rx="30.5" ry="31" transform="translate(61 62) rotate(180)" fill="#f2ede4"/>
                  <path id="Path_1106" data-name="Path 1106" d="M955.364,530.088h-5.3L969.7,549.751l-2.009,2.041-17.625,17.622h5.3l19.664-19.664Z" transform="translate(-931.336 -519.155)" fill="#f35"/>
                </svg>
              </div>
            </template>

          </VueSlickCarousel>
        </div>
      </div>
      <div class="tags-chooser">

      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  //name: 'MyComponent',
  components: { VueSlickCarousel },
   methods: {
    syncSliders(currentPosition, nextPosition) {
      this.$refs['c1'].goTo(nextPosition)
      this.$refs['c2'].goTo(nextPosition)
    }
  },
  data() {
    return {
      slickOptionsPS: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: false,
        adaptiveHeight: false,
        infinite:true,
        //asNavFor: this.$refs.c2
        //centerMode: true,
      },
      slickOptionsPS2: {
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false,
        fade: false,
        adaptiveHeight: false,
        infinite:true,
        //asNavFor: this.$refs.c3
        //centerMode: true,
      },
      slickOptionsPS3: {
        slidesToShow: 5,
        slidesToScroll: 1,
        arrows: false,
        fade: false,
        adaptiveHeight: false,
        infinite:true,
        //asNavFor: this.$refs.c3

        //centerMode: true,
      },
      image: '/demo/home/women.png',
      image2: '/demo/home/women.png',
      image3: '/demo/home/women.png',
    }
  },
  props: {
    gallery: {
      // type: Object,
      default: null,
    },
    cssClass: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.carousel-wrapper {
  padding: 40px;
}
.img-wrapper img {
  margin: auto;
  width: 200px;
  height: 100px;
  background-image: linear-gradient(gray 100%, transparent 0);
}
</style>
