<template>
  <div class="light-beige products-slider-block">
    <client-only>
      <div class="container" v-if="images.length">
        <div class="carousel-wrapper">
          <carousel-3d
            :height="600"
            :perspective="0"
            :space="200"
            :display="5"
            :controls-visible="true"
            :controls-prev-html="prevArrow"
            :controls-next-html="nextArrow"
            :controls-width="60"
            :controls-height="60"
            :clickable="false"
          >
            <slide v-for="(image, index) in images" :key="index" :index="index">
              <img :src="$imagor(image, 1000)" alt="" />
            </slide>
          </carousel-3d>
        </div>

        <!-- <div class="tags-chooser">
          <div><p>#sarkans</p></div>
          <div><p>#zaļš</p></div>
          <div><p>#apdrukāts</p></div>
        </div> -->
      </div>
    </client-only>
  </div>
</template>

<script>
  export default {
    props: {
      images: [],
    },

    data() {
      return {

        prevArrow: `<div class="custom-arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
                        <circle id="Ellipse_182" data-name="Ellipse 182" cx="31" cy="31" r="31" fill="#f2ede4"/>
                        <path id="Path_1107" data-name="Path 1107" d="M5.3,0H0L19.635,19.664,17.625,21.7,0,39.327H5.3L24.963,19.664Z" transform="translate(42.738 51.499) rotate(180)" fill="#8c080c"/>
                      </svg>
                    </div>`,
        nextArrow: `<div class="custom-arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
                        <ellipse id="Ellipse_181" data-name="Ellipse 181" cx="30.5" cy="31" rx="30.5" ry="31" transform="translate(61 62) rotate(180)" fill="#f2ede4"/>
                        <path id="Path_1106" data-name="Path 1106" d="M955.364,530.088h-5.3L969.7,549.751l-2.009,2.041-17.625,17.622h5.3l19.664-19.664Z" transform="translate(-931.336 -519.155)" fill="#8c080c"/>
                      </svg>
                    </div>`,
      };
    },

    methods: {},
  };
</script>

<style>
  .carousel-wrapper {
    padding: 40px;
  }
  .img-wrapper img {
    margin: auto;
    width: 200px;
    height: 100px;
    background-image: linear-gradient(gray 100%, transparent 0);
  }
</style>
