<template>
  <div class="custom-color-item" style="" @click="colorpickercolor_clicked = true">

    <template v-if="isDisabled">
      <div class="custom-color-item-inner" :style="colorPickerCssStyles">
        <slot></slot>
      </div>
    </template>

    <template v-else>
      <client-only>
        <b-colorpicker ref="colorPicker" append-to-body :value="colorpickercolor" :color-formatter="formatter"
          @active-change="isOpened">
          <template #trigger>
            <div class="custom-color-item-inner" :style="colorPickerCssStyles">
              <slot></slot>
            </div>
          </template>
          <template #footer>
            <div class="text-align-center mb-4">
              <br-input class="color-input" v-model="colorpickerinput" :label="$t('product.color')" isLabelOnInput
                maxLength="7" @focus="colorpicker_input_focused = true" @blur="colorpicker_input_focused = false" />
            </div>
            <div class="text-align-center">
              <b-button class="has-text-normal is-dark" @click="close">{{ $t("colorpicker.save") }}</b-button>
            </div>
          </template>
        </b-colorpicker>
        <span v-if="isBlock" style="text-align:left">
          {{ this.colorpickercolor }}
        </span>
        <span v-else style="text-align:left">
          {{ $t('product_attribute.pick_a_color') }}
        </span>
      </client-only>
    </template>
  </div>
</template>

<script>
import BrInput from '~/components/base/BrInput'

export default {
  components: {
    BrInput,
  },

  props: {
    isBlock: {
      type: Boolean,
      default: false,
    },

    isDisabled: {
      type: Boolean,
      default: false,
    },

    value: {
      type: String | null,
      default: 'FF0000',
    },

    isActive: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    colorpickercolor: null,
    colorpickerinput: null,
    colorpickercolor_clicked: false,
    colorpicker_input_focused: false,
  }),
  mounted() {
    const initialColor = this.makeHexColor(this.value || 'FF0000')
    this.colorpickercolor = '#' + initialColor
    this.colorpickerinput = initialColor
  },
  computed: {
    colorPickerCssStyles() {
      if (this.isDisabled) {
        return {
          'background-image': `url(${require(`~/assets/img/color.png`)})`,
        }
      }

      if (this.isActive) {
        return {
          'background-color': this.colorpickercolor,
        }
      }

      return {
        'background-image': `url(${require(`~/assets/img/color.png`)})`,
      }
    },
  },
  methods: {
    close() {
      this.$refs.colorPicker?.toggle()
    },
    isOpened(state) {
      const isOpen = !!state
      if (!isOpen) { // on close
        this.$emit('set-color', this.colorpickercolor)
      }
    },
    _split(value) {
      return (typeof value === 'string')
        ? value.split(':')
        : [value];
    },
    formatter(color) {
      const safeColor = this.makeHexColor(color.toString())
      this.colorpickercolor = `#${safeColor}`

      const notFocused = !this.colorpicker_input_focused
      if (notFocused) {
        this.colorpickerinput = `#${safeColor}`
      }
    },
    makeHexColor(color) {
      const validHexRegex = /^[0-9A-Fa-f]+$/
      const sanitizedColor = color.replace('#', '')

      if (validHexRegex.test(sanitizedColor)) {
        return sanitizedColor.padEnd(6, '0')
      } else {
        return 'FF0000'
      }
    },
  },
  watch: {
    colorpickerinput(val) {
      const color = this.makeHexColor(val)
      this.colorpickercolor = `#${color}`
    },
  },
}
</script>

<style scoped lang="scss">
.custom-color-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  >span {
    margin-left: 10px;
    margin-top: 0;
    width: 100px;
    display: block;
    &:last-child {
      margin-top: -3px;
    }
  }

}

.custom-color-item-inner {
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.color-input {
  background-color: #f2ede4;
}
</style>
