<template>
  <div class="BreadcrumbList">
    <ol
      vocab="http://schema.org/"
      typeof="BreadcrumbList"
    >
      <li property="itemListElement" typeof="ListItem">
        <nuxt-link property="item" typeof="WebPage" :to="localePath('/')">
          <span property="name">{{ $t('breadcrumbs.homepage') }}</span>
        </nuxt-link>
        <meta property="position" content="1" />
      </li>
      <li
        v-for="(crumb, index) in crumbs"
        :key="index"
        property="itemListElement"
        typeof="ListItem"
      >
        <nuxt-link property="item" typeof="WebPage" :to="crumb.path">
          <span property="name">{{
            makeBreadCrumbTitle(crumb)
          }}</span>
        </nuxt-link>
        <meta property="position" :content="index + 2" />
      </li>
    </ol>
  </div>
</template>

<script>
import slugify from "slugify"

const titleCase = require('ap-style-title-case')
export default {
  middleware: ['fetchProducts'],
  props: {
    title: {
      type: String,
      default: null,
    },
  },
  computed: {
    crumbs() {
      const fullPath = this.$route.path
      const params = fullPath.startsWith('/')
        ? fullPath.substring(1).split('/')
        : fullPath.split('/')
      const crumbs = []
      let path = ''

      params.forEach((param, index) => {
        path = `${path}/${param}`
        const match = this.$router.match(path)
        if (index == 0) {
          // do nothing -> this ir language path
        }
        else if (match.name.indexOf('list___lv') > -1) {
          const products_id = match.params.list.split('-')
          const names = products_id.map(id => this.$store.getters['products/getVariationById'](id)?.product?.name)
          crumbs.push({
            title: names.join(' ' + this.$t('breadcrumbs.and') + ' '),
            ...match,
          })
        }
        else if (match.name !== null) {
          crumbs.push({
            title: titleCase(param.replace(/-/g, ' ')),
            ...match,
          })
        }
      })
      return crumbs
    },
  },

  methods: {
    makeBreadCrumbTitle(crumb) {
      const slug = slugify(crumb.title, {
        replacement: '_',
        lower: true,
        strict: true,
      });

      const translated = this.$t(`breadcrumbs.${slug}`);

      if (translated.indexOf('breadcrumbs.') > -1) {
        return this.$route.fullPath === crumb.path && this.title !== null ? this.title : crumb.title
      }

      return translated;
    },
  },
}
</script>

<style scoped>
ol {
  list-style: none;
}
li {
  display: inline;
}
li:after {
  content: ' > ';
  display: inline;
  font-size: 0.9em;
  color: #aaa;
  padding: 0 0.0725em 0 0.15em;
}
li:last-child:after {
  content: '';
}
li a {
  color: black;
}
li a.nuxt-link-exact-active.nuxt-link-active {
  color: grey;
}
</style>
