<template>
  <div class="mb-4">

    <div
      class="br-radio"
      :class="{
        'br-radio--is-active': model === nativeValue
      }"
      @click="model = nativeValue"
    >
      <b-radio v-model="model" :native-value="nativeValue" v-bind="$attrs" class="has-text-normal">
        <slot />
      </b-radio>
      <div class="has-text-normal">
        <slot name="append">
          {{ append }}
        </slot>
      </div>
    </div>

    <slot v-if="model === nativeValue" name="after">
      {{ after }}
    </slot>

  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Number, Boolean, Function, Object, Array],
      default: null
    },
    nativeValue: {
      type: [String, Number, Boolean, Function, Object, Array],
      default: null
    },
    append: {
      type: String,
      default: null
    },
    after: {
      type: String,
      default: null
    },
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    }
  }
}
</script>
