<template>
  <div
    class="br-input br-textarea"
    :class="{
      'br-input--is-focused': isFocused,
      'br-input--is-dirty': !!innerValue,
      'br-input--is-disabled': disabled,
      'br-input--has-error': hasError,
    }"
    @click.self="$refs.input.focus()"
  >
    <label @click="$refs.input.focus()" v-text="label" />
    <div v-if="showCounter" class="inner-counter">
      <span> {{currentLength}} </span>
      <span>/</span>
      <span> {{maxlength}} </span>
    </div>
    <textarea
      ref="input"
      v-bind="$attrs"
      v-model="model"
      :disabled="disabled"
      @focus="isFocused = true"
      @blur="isFocused = false"
      style="width: 100%; max-width: 100%; height: 200px"
    >
    </textarea>
    <!-- <span v-if="error" v-html="error"></span> -->
    <slot name="append-inner" />
  </div>
</template>

<script>

import _isEmpty from "lodash/isEmpty";

export default {
  props: {
    value: {
      type: [Number, String],
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: null
    },
    error: null,
  },
  data () {
    return {
      innerValue: '',
      isFocused: false
    }
  },
  computed: {
    model: {
      get () {
        return this.innerValue
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    maxlength() {
      const hasMaxValue = typeof this.$attrs.maxlength !== "undefined" && this.$attrs.maxlength != null;

      if (hasMaxValue) {
        return this.$attrs.maxlength;
      }

      return null
    },

    currentLength() {
      const hasValue = this.innerValue != '' && this.innerValue != null;

      if (hasValue) {
        return this.innerValue.length;
      }

      return 0;
    },

    showCounter() {
      let hasMaxValue = this.maxlength != null;

      return hasMaxValue;
    },

    hasError() {
      return !_isEmpty(this.error);
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal) {
        this.innerValue = newVal
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .br-input--is-disabled {
    cursor: not-allowed;

    label {
      color: #ccc;
      cursor: not-allowed;
    }

    input {
      cursor: not-allowed;
    }
  }

  .inner-counter {
    position: absolute;
    top: 10px;
    right: 5px;

    display: flex;
    font-size: 12px;
    color: #707A93;
  }

</style>
