<template>
  <!-- <div class="is-flex is-justify-content-space-between is-align-items-center"> -->
  <div class="">
    <b-checkbox
      class="checkbox-box pb-4"
      :native-value="nativeValue"
      v-model="model"
      expanded
    >
      <b-image
          :src="$imagor(image)"
          src-fallback="images/placeholder.png"
          :alt="imageAlt"
          ratio="1by1"
          style="width:100%"
      ></b-image>

      <div class="text">
        <slot></slot>
      </div>
    </b-checkbox>
  </div>
</template>
<script>
import ColorCircle from './ColorCircle'
export default {
  components: { ColorCircle },
  props: {
    value: null,
    nativeValue: {
      type: [Boolean, String, Object, Number],
      default: true,
    },
    image: {
      type: [Object, String],
      default: null
    },
    imageAlt: {
      type: String,
      default: null
    },
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    background() {
      return this.circleProps !== null ? this.circleProps : null
    }
  }
}
</script>

<style lang="scss" scoped>

  .checkbox-box ::v-deep {

    .check {
      display: block;
      margin-top: -1px;
      margin-left: -1px;
    }

    .control-label {
      padding: 0;
      display: block;
      margin-top: -20px;
    }

    .image {

      img {
        padding: 1rem 30% 3rem;
        object-fit: contain;
      }
    }
  }

  .checkbox-box {
    position: relative;
    display: block;
    margin: 0 !important;
    padding: 0;

    border: 1px solid #E2E7EC ;
  }

  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;
  }
</style>
