<template>
  <footer id="footer">
    <div class="container" style="padding-bottom: 34px">
      <div class="columns is-multiline">
        <div class="column is-4 has-text-white">
          <div class="">
            <!-- <div class="column has-text-large">
              {{ $t('footer.question_title') }}
            </div>

            <div class="column has-text-right has-text-large">
              <a href="tel:37129490223" class="has-text-white">
                (+371) 29–490–223
              </a>
            </div> -->
            <div class="logo">
              <nuxt-link :to="this.localePath('/')">
                <b-image class="" style="width: 256px" src="/logo-horiz.svg" />
              </nuxt-link>
            </div>
            <div class="moto">
              <p>{{ $t('logo.moto') }}</p>
            </div>
          </div>

          <hr style="margin-bottom: 42px; opacity: 0" />

          <!-- <div>
            <div class="has-text-medium" style="margin-bottom: 20px">
              {{ $t("footer.subscribe_newsletter") }}
            </div>
            <div class="subscribe">
              <input
                class="has-text-normal"
                placeholder="your.email@example.com"
              />
              <b-button type="is-primary" class="has-text-normal">
                {{ $t("footer.subscribe_button") }}
              </b-button>
            </div>
          </div> -->
        </div>

        <div class="column is-8 has-text-white">
          <div>
            <a
              class="footer-soc-links"
              href="https://www.facebook.com/swimbepeldkostimi/"
              target="_blank"
            >
              <Facebook color="white" />
            </a>
            <!-- <a href="https://twitter.com/BaltuRotas" target="_blank">
              <Twitter color="white" />
            </a> -->
            <a
              class="footer-soc-links"
              href="https://www.instagram.com/swimbe_swimwear/"
              target="_blank"
            >
              <Instagram color="white" />
            </a>
            <a
              class="footer-soc-links"
              href="https://www.youtube.com/channel/UCW5AqNEkehSq3DYZ2judsIA/"
              target="_blank"
            >
              <Youtube color="white" />
            </a>
          </div>
          <div class="footer-links-to-sections">
            <ul class="is-flex is-flex-wrap-wrap">
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'shop' })"
                >
                  {{ $t('nav.shop') }}
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="has-text-white" :to="localePath('/services')">
                  {{ $t('nav.services') }}
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'blog' })"
                >
                  {{ $t('nav.blog') }}
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'about' })"
                >
                  {{ $t('nav.about_us') }}
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'contacts' })"
                >
                  {{ $t('nav.contacts') }}
                </nuxt-link>
              </li>
            </ul>
          </div>

          <div class="footer-links-to-info-sections">
            <ul>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'how-to-order' })"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="37.75"
                    height="39.05"
                    viewBox="0 0 37.75 39.05"
                  >
                    <g
                      id="Group_590"
                      data-name="Group 590"
                      transform="translate(-856.337 -1014.578)"
                    >
                      <path
                        id="Path_1026"
                        data-name="Path 1026"
                        d="M888.934,1053.124H861.49l-4.153-23.4h35.75Z"
                        transform="translate(0 -0.496)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      />
                      <path
                        id="Path_1027"
                        data-name="Path 1027"
                        d="M862.052,1028.9a13.325,13.325,0,1,1,26.65,0"
                        transform="translate(-0.165 0)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <path
                        id="Path_1028"
                        data-name="Path 1028"
                        d="M869.656,1039.729l4.72,7.67,7.965-12.685"
                        transform="translate(-0.432 -0.671)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      />
                    </g>
                  </svg>
                  <span>{{ $t('nav.how_to_order') }}</span>
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'delivery' })"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="68.964"
                    height="37.78"
                    viewBox="0 0 68.964 37.78"
                  >
                    <g
                      id="Group_591"
                      data-name="Group 591"
                      transform="translate(-918.986 -1021.344)"
                    >
                      <path
                        id="Path_1029"
                        data-name="Path 1029"
                        d="M982.153,1047.707l2.384.031a2.383,2.383,0,0,0,2.413-2.382v-7.4a2.383,2.383,0,0,0-2.383-2.382h-2.68a2.382,2.382,0,0,1-2.248-1.6l-2.047-5.852a2.382,2.382,0,0,0-2.249-1.6H962.982"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <line
                        id="Line_61"
                        data-name="Line 61"
                        x2="3.744"
                        y2="0.048"
                        transform="translate(962.982 1047.46)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <path
                        id="Path_1030"
                        data-name="Path 1030"
                        d="M951.878,1047.52h11.271V1027.4a5.055,5.055,0,0,0-5.055-5.054h-26.3"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <line
                        id="Line_62"
                        data-name="Line 62"
                        x2="5.634"
                        transform="translate(931.794 1047.52)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <circle
                        id="Ellipse_114"
                        data-name="Ellipse 114"
                        cx="7.545"
                        cy="7.545"
                        r="7.545"
                        transform="translate(937.369 1043.034)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <circle
                        id="Ellipse_115"
                        data-name="Ellipse 115"
                        cx="7.545"
                        cy="7.545"
                        r="7.545"
                        transform="translate(966.817 1043.034)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <line
                        id="Line_63"
                        data-name="Line 63"
                        x1="16.039"
                        transform="translate(924.397 1029.135)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <line
                        id="Line_64"
                        data-name="Line 64"
                        x2="17.643"
                        transform="translate(928.407 1035.15)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <line
                        id="Line_65"
                        data-name="Line 65"
                        x2="16.841"
                        transform="translate(919.986 1040.966)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                    </g>
                  </svg>
                  <span>{{ $t('nav.shipping') }}</span>
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'payment' })"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="51.169"
                    height="37.958"
                    viewBox="0 0 51.169 37.958"
                  >
                    <g
                      id="Group_593"
                      data-name="Group 593"
                      transform="translate(-1022.85 -1024.475)"
                    >
                      <rect
                        id="Rectangle_292"
                        data-name="Rectangle 292"
                        width="41.802"
                        height="28.664"
                        rx="5.559"
                        transform="translate(1023.85 1032.769)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <path
                        id="Path_1031"
                        data-name="Path 1031"
                        d="M1030.332,1031.795a6.319,6.319,0,0,1,6.32-6.32h29.161a6.319,6.319,0,0,1,6.32,6.32v16.025a6.319,6.319,0,0,1-6.32,6.32"
                        transform="translate(0.887)"
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <g
                        id="Group_592"
                        data-name="Group 592"
                        transform="translate(1037.482 1038.947)"
                      >
                        <path
                          id="Path_1032"
                          data-name="Path 1032"
                          d="M1049.33,1050.814a7.9,7.9,0,1,1,0-11.174"
                          transform="translate(-1035.841 -1037.325)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <line
                          id="Line_66"
                          data-name="Line 66"
                          x1="8.78"
                          transform="translate(0.352 5.97)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <line
                          id="Line_67"
                          data-name="Line 67"
                          x1="8.78"
                          transform="translate(0.352 10.184)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <span>{{ $t('nav.payment') }}</span>
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'faq' })"
                >
                  <svg width="37px" height="37px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 22C13.1756 22 15.3023 21.3549 17.1113 20.1462C18.9202 18.9375 20.3301 17.2195 21.1627 15.2095C21.9952 13.1995 22.2131 10.9878 21.7886 8.85401C21.3642 6.72022 20.3165 4.76021 18.7782 3.22183C17.2398 1.68345 15.2798 0.635804 13.146 0.211367C11.0122 -0.213071 8.80047 0.00476611 6.79048 0.83733C4.78049 1.66989 3.06253 3.07979 1.85383 4.88873C0.645139 6.69767 0 8.82441 0 11C0.00332728 13.9164 1.16332 16.7123 3.2255 18.7745C5.28768 20.8367 8.08364 21.9967 11 22ZM11 1.04762C12.9684 1.04762 14.8926 1.63132 16.5292 2.7249C18.1659 3.81848 19.4415 5.37283 20.1948 7.19139C20.9481 9.00995 21.1452 11.011 20.7611 12.9416C20.3771 14.8722 19.4293 16.6455 18.0374 18.0374C16.6455 19.4293 14.8722 20.3771 12.9416 20.7612C11.011 21.1452 9.00995 20.9481 7.19139 20.1948C5.37283 19.4415 3.81848 18.1659 2.7249 16.5292C1.63132 14.8926 1.04762 12.9684 1.04762 11C1.05067 8.3614 2.1002 5.83175 3.96597 3.96598C5.83174 2.1002 8.3614 1.05067 11 1.04762ZM11.5238 16.7619C11.5238 16.8655 11.4931 16.9668 11.4355 17.0529C11.378 17.1391 11.2962 17.2062 11.2005 17.2458C11.1047 17.2855 10.9994 17.2959 10.8978 17.2757C10.7962 17.2554 10.7029 17.2056 10.6296 17.1323C10.5564 17.059 10.5065 16.9657 10.4863 16.8641C10.466 16.7625 10.4764 16.6572 10.5161 16.5615C10.5557 16.4657 10.6228 16.3839 10.709 16.3264C10.7951 16.2688 10.8964 16.2381 11 16.2381C11.1389 16.2381 11.2722 16.2933 11.3704 16.3915C11.4686 16.4898 11.5238 16.623 11.5238 16.7619ZM7.33333 8.90477C7.33322 8.25789 7.50424 7.6225 7.82904 7.06308C8.15384 6.50366 8.62085 6.04013 9.18268 5.71952C9.74451 5.39891 10.3812 5.23264 11.028 5.23758C11.6749 5.24252 12.3089 5.4185 12.8658 5.74766C13.4226 6.07682 13.8825 6.54744 14.1987 7.11176C14.5149 7.67608 14.6762 8.31401 14.6662 8.9608C14.6562 9.6076 14.4753 10.2402 14.1418 10.7945C13.8083 11.3488 13.3341 11.805 12.7673 12.1168C12.4047 12.297 12.0976 12.572 11.8787 12.9127C11.6597 13.2534 11.5371 13.647 11.5238 14.0517C11.5252 14.1954 11.4719 14.3342 11.3746 14.4399C11.2772 14.5456 11.1433 14.6102 11 14.6206C10.9338 14.6257 10.8672 14.6173 10.8043 14.5957C10.7415 14.5741 10.6838 14.5399 10.6347 14.4951C10.5856 14.4503 10.5462 14.396 10.5189 14.3354C10.4917 14.2748 10.4771 14.2093 10.4762 14.1429V14.0517C10.4875 13.4591 10.6597 12.8808 10.9743 12.3785C11.2889 11.8762 11.7341 11.4689 12.2624 11.2001C12.6672 10.9774 13.0059 10.6516 13.2441 10.2557C13.4823 9.85988 13.6115 9.40805 13.6187 8.9461C13.6259 8.48415 13.5108 8.02852 13.285 7.62544C13.0592 7.22236 12.7308 6.88618 12.3331 6.65101C11.9355 6.41584 11.4827 6.29004 11.0207 6.2864C10.5587 6.28275 10.1039 6.40138 9.7026 6.63025C9.30126 6.85911 8.96761 7.19007 8.73549 7.58953C8.50337 7.989 8.38106 8.44276 8.38095 8.90477C8.38095 9.04369 8.32576 9.17692 8.22753 9.27516C8.1293 9.37339 7.99606 9.42857 7.85714 9.42857C7.71822 9.42857 7.58499 9.37339 7.48675 9.27516C7.38852 9.17692 7.33333 9.04369 7.33333 8.90477Z" fill="#fff"/>
                  </svg>
                  <span>{{ $t('nav.faq') }}</span>
                </nuxt-link>
              </li>
              <li>
                <nuxt-link
                  class="has-text-white"
                  :to="localePath({ name: 'rules' })"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25.501"
                    height="34.61"
                    viewBox="0 0 25.501 34.61"
                  >
                    <g
                      id="Group_597"
                      data-name="Group 597"
                      transform="translate(-928 -5122.672)"
                    >
                      <g
                        id="Group_596"
                        data-name="Group 596"
                        transform="translate(929 5123.672)"
                      >
                        <path
                          id="Path_1035"
                          data-name="Path 1035"
                          d="M1152.048,1013h12.758v32.566h-23.5V1023.4"
                          transform="translate(-1141.305 -1012.952)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_1036"
                          data-name="Path 1036"
                          d="M1152.113,1012.988V1023.4h-10.407Z"
                          transform="translate(-1141.37 -1012.944)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        />
                        <line
                          id="Line_68"
                          data-name="Line 68"
                          x2="13.429"
                          transform="translate(5.036 27.239)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <line
                          id="Line_69"
                          data-name="Line 69"
                          x2="13.429"
                          transform="translate(5.036 22.035)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <line
                          id="Line_70"
                          data-name="Line 70"
                          x2="13.429"
                          transform="translate(5.036 16.831)"
                          fill="none"
                          stroke="#fff"
                          stroke-linecap="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <span>
                    {{ $t('nav.terms') }}
                  </span>
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="column">
          <b-image class="ml-auto" style="width: 48px" src="/logo_small_dark.svg" />
        </div> -->

        <div class="column is-12 has-text-light-blue">
          <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-offset-1">
              <hr style="margin-bottom: 2rem; height: 1px" />
            </div>
          </div>
          <div class="columns">
            <div class="column is-3">
              <div class="columns is-justify-content-space-between">
                <div class="column is-flex is-narrow" style="gap: 32px"></div>
              </div>
            </div>
            <div class="column is-offset-1">
              <div class="columns is-justify-content-space-between">
                <div class="column is-narrow has-text-white">
                  {{ $t('footer.all_rights') }} {{ new Date().getFullYear() }}
                </div>
                <div
                  class="column is-flex is-narrow paying-options"
                  style="gap: 8px"
                >
                  <!-- <b-image src="/payments/ApplePay.svg" /> -->
                  <b-image src="/payments/Visa.svg" />
                  <b-image src="/payments/Mastercard.svg" />
                  <PayseraLogo />
                  <!-- <b-image src="/payments/Maestro.svg" /> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import Facebook from '~/components/icons/Facebook'
import Twitter from '~/components/icons/Twitter'
import Instagram from '~/components/icons/Instagram'
import Youtube from '~/components/icons/Youtube'
import Link from '~/components/icons/Link'
import PayseraLogo from '~/components/icons/PayseraLogo'

import _map from 'lodash/map'

export default {
  components: { Youtube, Instagram, Twitter, Facebook, Link, PayseraLogo },

  data() {
    return {
      //shops: [],
      showAllRetailStores: false,
      maxRetailStoresCount: 1,
      allRetailStoresCount: 0 // default value is set later in retailStoresLinks()
    }
  },

  async fetch() {
    //const shops = await this.$axios.$get('/api/v1/shops/footer-list');
    //this.shops = shops.data
  },

  methods: {
    getOurShopsList() {
      const me = this
      return _map(this.shops, function (item) {
        return {
          title: item.simple_name,
          isExternal: false,
          to: me.localePath({
            name: 'contact-us',
            hash: `#${item.slug}`
          })
        }
      })
      return [
        {
          // title: "Shop at Riga City",
          title: 'Rīgas veikals',
          isExternal: true,
          to: 'https://google.lv'
        },
        {
          // title: "Shop at Sigulda City",
          title: 'Siguldas veikals',
          isExternal: true,
          to: 'https://google.lv'
        }
      ]
    }
  },

  computed: {
    footerLinks() {
      return [
        {
          title: 'Products',
          key: 'products',
          children: [
            {
              title: 'Products list',
              key: 'products_list',
              to: this.localePath({
                name: 'products'
              })
            },
            {
              title: 'Create Your Own',
              key: 'create_your_own',
              to: this.localePath({
                name: 'products-slug',
                params: { slug: 'custom' }
              })
            },
            {
              title: 'Gift Card',
              key: 'gift_cards',
              to: this.localePath({
                name: 'gift-card'
              })
            }
          ]
        },
        {
          title: 'Our Shops',
          key: 'our-shops',
          children: this.getOurShopsList()
        },
        {
          title: 'Info',
          key: 'info',
          children: [
            {
              title: 'About Us',
              key: 'about_us',
              to: this.localePath({
                name: 'about-us'
              })
            },
            {
              title: 'Contact Us',
              key: 'contact_us',
              to: this.localePath({
                name: 'contact-us'
              })
            },
            {
              title: 'Ring Size',
              key: 'ring_sizes',
              to: this.localePath({
                name: 'blog-id',
                params: { id: 'izmeru-celvedis' }
              })
            },
            {
              title: 'FAQ',
              key: 'faq',
              to: this.localePath({
                name: 'faq'
              })
            }
          ]
        },
        {
          title: 'Legal Terms & Policies',
          key: 'legal_terms',
          children: [
            {
              title: 'Privacy Policy',
              key: 'privacy_policy',
              to: this.localePath('/legal#privacy-policy')
            },
            // {
            //   title: "Cookies Policy",
            //   key: "cookies_policy",
            //   to: this.localePath("/legal#cookies-policy"),
            // },
            {
              title: 'Terms of Use',
              key: 'terms_of_use',
              to: this.localePath('/legal#terms-of-use')
            }
          ]
        }
      ]
    },

    retailStoresLinks() {
      const items = [
        {
          title: 'KUULD',
          isExternal: true,
          to: 'https://www.facebook.com/kuuldkuldiga/'
        },
        {
          title: 'RIIJA',
          isExternal: true,
          to: 'https://riija.lv/'
        },
        {
          title: 'MusMajas',
          isExternal: true,
          to: 'https://musmaja.lv/lv/index'
        }
      ]

      this.allRetailStoresCount = items.length

      if (this.showAllRetailStores) {
        return items
      }

      return items.splice(0, this.maxRetailStoresCount)
    }
  }
}
</script>
