<template>
  <div class="menu-item-underlined">
    <span v-html="title"></span>
    <div class="underline">
      <svg xmlns="http://www.w3.org/2000/svg" width="117.708" height="36.232" viewBox="0 0 117.708 36.232">
          <g id="Group_682" data-name="Group 682" transform="translate(-702.095 -77.919)">
              <path id="Path_223" data-name="Path 223" d="M-.087,4.364c57.979-15.613,104.708,7.322,104.708,7.322" transform="translate(702.425 86.861) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
              <path id="Path_222" data-name="Path 222" d="M-.023,1.1C55.8-7.969,97.095,23.516,97.095,23.516" transform="translate(720.974 90.288) rotate(-4)" fill="none" stroke="#8c080c" stroke-width="1"/>
          </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: null,
    }
  },


}
</script>

<style scoped lang="scss">
.menu-item-underlined {
  position: relative;

  .underline {
    opacity: 0;
  }

  @media (hover: hover) {
    &:hover {
      .underline {
        opacity: 1;
      }
    }
  }
  &.is-active {
    .underline {
      opacity: 1;
    }
  }
}

.underline {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  transition: opacity 100ms ease;
}
</style>

<style lang="scss">
  .nuxt-link-active {

    .menu-item-underlined {

      .underline {
        opacity: 1;
      }
    }
  }
</style>
