<template>
  <div class="navigation-box">
    <div class="desktop">
      <b-navbar id="navbar" v-scroll="handleScroll" spaced fixed-top>

        <template #start>
          <nuxt-link class="main-logo-link" :to="localePath('/')">
            <img :src="logo" class="logo" alt="Logo">
          </nuxt-link>
        </template>

        <template #end>

          <!-- <nuxt-link :to="localePath({name: 'gift-card'})">
            {{ $t('nav.gift_cards') }}
          </nuxt-link> -->
          <!-- <nuxt-link :to="localePath('/')">
             <img :src="home" class="home-icon">
            <Home :size="14" class="home-icon" />{{ $t('nav.home') }}
          </nuxt-link> -->

          <nuxt-link :to="localePath({name: 'shop'})" :class="{'nuxt-link-active' : $route.name && $route.name.indexOf('products-') > -1}">
            <MenuWithUnderline :title="$t('nav.shop')" />
          </nuxt-link>

          <nuxt-link :to="localePath('/services')">
            <MenuWithUnderline :title="$t('nav.services')" />
          </nuxt-link>

          <nuxt-link :to="localePath({name: 'blog'})">
            <MenuWithUnderline :title="$t('nav.blog')" />
          </nuxt-link>

          <nuxt-link :to="localePath({name: 'about'})">
            <MenuWithUnderline :title="$t('nav.about_us')" />
          </nuxt-link>

          <div class="nav-custm-flex">
            <nuxt-link class="" style="max-height: 100%;" :to="localePath({name: 'faq'})">
              <svg width="32px" height="32px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 22C13.1756 22 15.3023 21.3549 17.1113 20.1462C18.9202 18.9375 20.3301 17.2195 21.1627 15.2095C21.9952 13.1995 22.2131 10.9878 21.7886 8.85401C21.3642 6.72022 20.3165 4.76021 18.7782 3.22183C17.2398 1.68345 15.2798 0.635804 13.146 0.211367C11.0122 -0.213071 8.80047 0.00476611 6.79048 0.83733C4.78049 1.66989 3.06253 3.07979 1.85383 4.88873C0.645139 6.69767 0 8.82441 0 11C0.00332728 13.9164 1.16332 16.7123 3.2255 18.7745C5.28768 20.8367 8.08364 21.9967 11 22ZM11 1.04762C12.9684 1.04762 14.8926 1.63132 16.5292 2.7249C18.1659 3.81848 19.4415 5.37283 20.1948 7.19139C20.9481 9.00995 21.1452 11.011 20.7611 12.9416C20.3771 14.8722 19.4293 16.6455 18.0374 18.0374C16.6455 19.4293 14.8722 20.3771 12.9416 20.7612C11.011 21.1452 9.00995 20.9481 7.19139 20.1948C5.37283 19.4415 3.81848 18.1659 2.7249 16.5292C1.63132 14.8926 1.04762 12.9684 1.04762 11C1.05067 8.3614 2.1002 5.83175 3.96597 3.96598C5.83174 2.1002 8.3614 1.05067 11 1.04762ZM11.5238 16.7619C11.5238 16.8655 11.4931 16.9668 11.4355 17.0529C11.378 17.1391 11.2962 17.2062 11.2005 17.2458C11.1047 17.2855 10.9994 17.2959 10.8978 17.2757C10.7962 17.2554 10.7029 17.2056 10.6296 17.1323C10.5564 17.059 10.5065 16.9657 10.4863 16.8641C10.466 16.7625 10.4764 16.6572 10.5161 16.5615C10.5557 16.4657 10.6228 16.3839 10.709 16.3264C10.7951 16.2688 10.8964 16.2381 11 16.2381C11.1389 16.2381 11.2722 16.2933 11.3704 16.3915C11.4686 16.4898 11.5238 16.623 11.5238 16.7619ZM7.33333 8.90477C7.33322 8.25789 7.50424 7.6225 7.82904 7.06308C8.15384 6.50366 8.62085 6.04013 9.18268 5.71952C9.74451 5.39891 10.3812 5.23264 11.028 5.23758C11.6749 5.24252 12.3089 5.4185 12.8658 5.74766C13.4226 6.07682 13.8825 6.54744 14.1987 7.11176C14.5149 7.67608 14.6762 8.31401 14.6662 8.9608C14.6562 9.6076 14.4753 10.2402 14.1418 10.7945C13.8083 11.3488 13.3341 11.805 12.7673 12.1168C12.4047 12.297 12.0976 12.572 11.8787 12.9127C11.6597 13.2534 11.5371 13.647 11.5238 14.0517C11.5252 14.1954 11.4719 14.3342 11.3746 14.4399C11.2772 14.5456 11.1433 14.6102 11 14.6206C10.9338 14.6257 10.8672 14.6173 10.8043 14.5957C10.7415 14.5741 10.6838 14.5399 10.6347 14.4951C10.5856 14.4503 10.5462 14.396 10.5189 14.3354C10.4917 14.2748 10.4771 14.2093 10.4762 14.1429V14.0517C10.4875 13.4591 10.6597 12.8808 10.9743 12.3785C11.2889 11.8762 11.7341 11.4689 12.2624 11.2001C12.6672 10.9774 13.0059 10.6516 13.2441 10.2557C13.4823 9.85988 13.6115 9.40805 13.6187 8.9461C13.6259 8.48415 13.5108 8.02852 13.285 7.62544C13.0592 7.22236 12.7308 6.88618 12.3331 6.65101C11.9355 6.41584 11.4827 6.29004 11.0207 6.2864C10.5587 6.28275 10.1039 6.40138 9.7026 6.63025C9.30126 6.85911 8.96761 7.19007 8.73549 7.58953C8.50337 7.989 8.38106 8.44276 8.38095 8.90477C8.38095 9.04369 8.32576 9.17692 8.22753 9.27516C8.1293 9.37339 7.99606 9.42857 7.85714 9.42857C7.71822 9.42857 7.58499 9.37339 7.48675 9.27516C7.38852 9.17692 7.33333 9.04369 7.33333 8.90477Z" fill="#8C080C"/>
              </svg>
            </nuxt-link>

            <template v-if="isLoggedIn">
              <b-dropdown class="profile-icon" aria-role="list" position="is-bottom-left">
                <template #trigger="{ active }">
                  <span class="profile-desk" :to="localePath({name: 'profile'})">
                    <img :src="profile_logo" class="profile-logo" alt="Profile">
                  </span>
                </template>

                <b-dropdown-item aria-role="listitem">
                  <nuxt-link :to="localePath({name: 'profile'})">{{ $t('breadcrumbs.profile') }}</nuxt-link>
                </b-dropdown-item>
                <b-dropdown-item aria-role="listitem">
                  <nuxt-link :to="localePath({name: 'logout'})">{{ $t('auth.logout') }}</nuxt-link>
                </b-dropdown-item>
              </b-dropdown>
            </template>

            <template v-else>
              <nuxt-link class="profile-desk" :to="localePath({name: 'profile'})">
                <img :src="profile_logo" class="profile-logo" alt="Profile">
              </nuxt-link>
            </template>

            <nuxt-link class="favorite-desk" :to="localePath({name: 'profile-favorites'})">

              <b-tag>
                {{ favCount }}
              </b-tag>
              <img :src="favorite_logo" class="favorite-logo" alt="Favorite">
            </nuxt-link>

            <nuxt-link class="basket-desk" :class="{empty: basketCount==0}" :to="localePath({name: 'basket'})">

              <b-tag>
                {{ basketCount }}
              </b-tag>

              <img v-if="basketCount == 0" :src="cart_logo" class="basket-logo">
              <img v-else :src="cart_inverse_logo" class="basket-logo">
            </nuxt-link>
          </div>

          <div class="languageSwitch">
            <template v-for="(lang, langIndex) in $i18n.locales" >
              <span v-if="langIndex > 0"> / </span>
              <a :href="switchLocalePath(lang.code)" :class="{'active': $i18n.locale === lang.code}" :key="lang.code"> {{ lang.code }} </a>
            </template>
          </div>
        </template>
      </b-navbar>
    </div>

    <div class="mobile">
      <b-navbar id="navbar-mob" spaced fixed-top>
        <template #brand>
          <nuxt-link :to="localePath('/')" class="mobile-main-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="51.703" height="43.388" viewBox="0 0 51.703 43.388">
              <g id="Group_994" data-name="Group 994" transform="translate(-93.711 -21.144)">
                <g id="Group_90" data-name="Group 90" transform="translate(93.711 21.144)">
                  <path id="Path_179" data-name="Path 179" d="M98.723,64.532a3.057,3.057,0,0,1-1.62-.464c-1.879-1.156-2.48-3.994-2.619-4.836a57.622,57.622,0,0,1,3.368-30.856l1.43.573A56.08,56.08,0,0,0,96,58.981a5.674,5.674,0,0,0,1.907,3.775,1.593,1.593,0,0,0,1.382.142,2.418,2.418,0,0,0,.876-.517c3.467-3.078,5.612-7.318,7.686-11.418,1.274-2.518,2.618-5.176,3.879-7.928a57.576,57.576,0,0,1,.718-10.228,19.307,19.307,0,0,1,.632-2.741,2.283,2.283,0,0,1,2.868-1.55,2.308,2.308,0,0,1,1.666,2.843,69.12,69.12,0,0,1-4.336,12q.038,1.5.156,3c.237,2.982.821,7.339,3.152,10.737a3.428,3.428,0,0,0,1.628,1.477,3.583,3.583,0,0,0,2.887-.744,27.43,27.43,0,0,0,6.618-6.346,93.338,93.338,0,0,0,16.221-30.337l1.47.461a93.587,93.587,0,0,1-16.492,30.842,28.785,28.785,0,0,1-7,6.689c-1.609,1-2.977,1.292-4.179.9a5.039,5.039,0,0,1-2.418-2.07c-2.54-3.7-3.167-8.328-3.417-11.486,0-.053-.008-.107-.013-.16-.888,1.837-1.79,3.621-2.661,5.341-2.04,4.032-4.352,8.6-8.038,11.874a3.942,3.942,0,0,1-1.439.835A3.444,3.444,0,0,1,98.723,64.532Zm16.554-34.566a.72.72,0,0,0-.725.564,17.852,17.852,0,0,0-.581,2.522,56.083,56.083,0,0,0-.65,6.334,59.977,59.977,0,0,0,2.8-8.392.784.784,0,0,0-.585-.993A1,1,0,0,0,115.277,29.966Z" transform="translate(-93.711 -21.144)" fill="#f2ede4"/>
                </g>
              </g>
            </svg>

          </nuxt-link>

          <div class="nav-custm-flex">
            <nuxt-link class="profile-desk" :to="localePath({name: 'profile'})">
              <img :src="profile_logo_white" class="profile-logo" alt="Profile">
            </nuxt-link>

            <nuxt-link class="favorite-desk" :to="localePath({name: 'profile-favorites'})">

              <b-tag>
                {{ favCount }}
              </b-tag>
              <img :src="favorite_logo_white" class="favorite-logo" alt="Profile">
            </nuxt-link>

            <nuxt-link class="basket-desk" :to="localePath({name: 'basket'})">

              <b-tag>
                {{ basketCount }}
              </b-tag>
              <img :src="cart_logo_white" class="basket-logo" alt="Basket">
            </nuxt-link>

            <nuxt-link class="" style="max-height: 100%;" :to="localePath({name: 'faq'})">
              <svg width="32px" height="32px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 22C13.1756 22 15.3023 21.3549 17.1113 20.1462C18.9202 18.9375 20.3301 17.2195 21.1627 15.2095C21.9952 13.1995 22.2131 10.9878 21.7886 8.85401C21.3642 6.72022 20.3165 4.76021 18.7782 3.22183C17.2398 1.68345 15.2798 0.635804 13.146 0.211367C11.0122 -0.213071 8.80047 0.00476611 6.79048 0.83733C4.78049 1.66989 3.06253 3.07979 1.85383 4.88873C0.645139 6.69767 0 8.82441 0 11C0.00332728 13.9164 1.16332 16.7123 3.2255 18.7745C5.28768 20.8367 8.08364 21.9967 11 22ZM11 1.04762C12.9684 1.04762 14.8926 1.63132 16.5292 2.7249C18.1659 3.81848 19.4415 5.37283 20.1948 7.19139C20.9481 9.00995 21.1452 11.011 20.7611 12.9416C20.3771 14.8722 19.4293 16.6455 18.0374 18.0374C16.6455 19.4293 14.8722 20.3771 12.9416 20.7612C11.011 21.1452 9.00995 20.9481 7.19139 20.1948C5.37283 19.4415 3.81848 18.1659 2.7249 16.5292C1.63132 14.8926 1.04762 12.9684 1.04762 11C1.05067 8.3614 2.1002 5.83175 3.96597 3.96598C5.83174 2.1002 8.3614 1.05067 11 1.04762ZM11.5238 16.7619C11.5238 16.8655 11.4931 16.9668 11.4355 17.0529C11.378 17.1391 11.2962 17.2062 11.2005 17.2458C11.1047 17.2855 10.9994 17.2959 10.8978 17.2757C10.7962 17.2554 10.7029 17.2056 10.6296 17.1323C10.5564 17.059 10.5065 16.9657 10.4863 16.8641C10.466 16.7625 10.4764 16.6572 10.5161 16.5615C10.5557 16.4657 10.6228 16.3839 10.709 16.3264C10.7951 16.2688 10.8964 16.2381 11 16.2381C11.1389 16.2381 11.2722 16.2933 11.3704 16.3915C11.4686 16.4898 11.5238 16.623 11.5238 16.7619ZM7.33333 8.90477C7.33322 8.25789 7.50424 7.6225 7.82904 7.06308C8.15384 6.50366 8.62085 6.04013 9.18268 5.71952C9.74451 5.39891 10.3812 5.23264 11.028 5.23758C11.6749 5.24252 12.3089 5.4185 12.8658 5.74766C13.4226 6.07682 13.8825 6.54744 14.1987 7.11176C14.5149 7.67608 14.6762 8.31401 14.6662 8.9608C14.6562 9.6076 14.4753 10.2402 14.1418 10.7945C13.8083 11.3488 13.3341 11.805 12.7673 12.1168C12.4047 12.297 12.0976 12.572 11.8787 12.9127C11.6597 13.2534 11.5371 13.647 11.5238 14.0517C11.5252 14.1954 11.4719 14.3342 11.3746 14.4399C11.2772 14.5456 11.1433 14.6102 11 14.6206C10.9338 14.6257 10.8672 14.6173 10.8043 14.5957C10.7415 14.5741 10.6838 14.5399 10.6347 14.4951C10.5856 14.4503 10.5462 14.396 10.5189 14.3354C10.4917 14.2748 10.4771 14.2093 10.4762 14.1429V14.0517C10.4875 13.4591 10.6597 12.8808 10.9743 12.3785C11.2889 11.8762 11.7341 11.4689 12.2624 11.2001C12.6672 10.9774 13.0059 10.6516 13.2441 10.2557C13.4823 9.85988 13.6115 9.40805 13.6187 8.9461C13.6259 8.48415 13.5108 8.02852 13.285 7.62544C13.0592 7.22236 12.7308 6.88618 12.3331 6.65101C11.9355 6.41584 11.4827 6.29004 11.0207 6.2864C10.5587 6.28275 10.1039 6.40138 9.7026 6.63025C9.30126 6.85911 8.96761 7.19007 8.73549 7.58953C8.50337 7.989 8.38106 8.44276 8.38095 8.90477C8.38095 9.04369 8.32576 9.17692 8.22753 9.27516C8.1293 9.37339 7.99606 9.42857 7.85714 9.42857C7.71822 9.42857 7.58499 9.37339 7.48675 9.27516C7.38852 9.17692 7.33333 9.04369 7.33333 8.90477Z" fill="white"/>
              </svg>
            </nuxt-link>
          </div>

          <button class="hamburger hamburger--collapse" type="button" :class="{'is-active': mobileModalOpen}" @click="mobileModalOpen = !mobileModalOpen">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </template>

        <template #start>
          <nuxt-link class="main-logo-link" :to="localePath('/')">
            <img :src="logo" class="logo" alt="Basket">
          </nuxt-link>
          <p class="menu-informative-text">{{ $t('logo.moto') }}</p>
          <div class="custom-wrapper">
            <nuxt-link :to="localePath({name: 'shop'})">
              {{ $t('nav.shop') }}
            </nuxt-link>
            <nuxt-link :to="localePath('/services')">
              {{ $t('nav.services') }}
            </nuxt-link>
            <nuxt-link :to="localePath({name: 'blog'})">
              {{ $t('nav.blog') }}
            </nuxt-link>

            <nuxt-link :to="localePath({name: 'about'})">
              {{ $t('nav.about_us') }}
            </nuxt-link>

            <div class="mobile-search-menu">
              <b-field>
                  <b-input class="search-input" placeholder="Meklēt"
                      type="search"
                      icon-right="magnify"
                      >
                  </b-input>
              </b-field>
            </div>

          </div>
        </template>
      </b-navbar>

      <b-modal
        class="mobile-nav-menu-modal"
        v-model="mobileModalOpen"
        full-screen
      >
        <div class="custom-wrapper pb-6">
          <nuxt-link class="main-logo-link mb-6" :to="localePath('/')">
            <img :src="logo_mobile_light" class="logo" alt="Logo">
          </nuxt-link>

          <nuxt-link :to="localePath({name: 'shop'})" @click.native="closeNavigation">
            {{ $t('nav.shop') }}
          </nuxt-link>
          <nuxt-link :to="localePath('/services')" @click.native="closeNavigation">
            {{ $t('nav.services') }}
          </nuxt-link>
          <nuxt-link :to="localePath({name: 'blog'})" @click.native="closeNavigation">
            {{ $t('nav.blog') }}
          </nuxt-link>
          <nuxt-link :to="localePath({name: 'about'})" @click.native="closeNavigation">
            {{ $t('nav.about_us') }}
          </nuxt-link>

          <div class="languageSwitch">
            <template v-for="(lang, langIndex) in $i18n.locales" >
              <span v-if="langIndex > 0"> / </span>
              <a :href="switchLocalePath(lang.code)" :class="{'active': $i18n.locale === lang.code}" :key="lang.code"> {{ lang.code }} </a>
            </template>
          </div>
        </div>
      </b-modal>
    </div>
  </div>

</template>

<script>
import { mapGetters }    from 'vuex'
import Home              from "~/components/icons/Home";
import MenuWithUnderline from "~/components/base/MenuWithUnderline";

export default {
  components: {
    Home,
    MenuWithUnderline,
  },

  data () {
    return {
      logo: require("~/assets/img/main/logo.svg"),
      home: require("~/assets/img/main/home.svg"),
      logo_mobile: require("~/assets/img/main/logo_mobile.svg"),
      logo_mobile_light: require("~/assets/img/main/logo_mobile_light.svg"),
      cart_logo: require("~/assets/img/main/cart_logo.svg"),
      cart_inverse_logo: require("~/assets/img/main/cart_inverse_logo.svg"),
      favorite_logo: require("~/assets/img/main/favorite_logo.svg"),
      profile_logo: require("~/assets/img/main/profile_logo.svg"),
      cart_logo_white: require("~/assets/img/main/cart_logo_white.svg"),
      favorite_logo_white: require("~/assets/img/main/favorite_logo_white.svg"),
      profile_logo_white: require("~/assets/img/main/profile_logo_white.svg"),

      isNavTop: true,

      mobileModalOpen: false,
    }
  },

  computed: {
    isLoggedIn() {
      return this.$auth.loggedIn;
    },

    ...mapGetters({
      basketCount: 'basket/count'
    }),

    flagSrc() {
      const locales = this.$i18n.locales.filter( loc => loc.code != this.$i18n.locale);
      let locale = this.$i18n.localeProperties;
      if (locales.length > 0) {
        locale = locales[0];
      }

      return `https://flagcdn.com/w40/${locale.flag}.png`
    },

    langText() {
      const locales = this.$i18n.locales.filter( loc => loc.code != this.$i18n.locale);
      let locale = this.$i18n.localeProperties;
      if (locales.length > 0) {
        locale = locales[0];
      }

      return locale.name;
    },

    favCount() {
      if (this.$auth.loggedIn) {
        return this.$get(this.$auth.user, 'favourite_count', 0);
      }

      return null;
    }
  },

  watch: {
    $route () {
      this.mobileModalOpen = false;
      this.handleScroll(null, document.getElementById('navbar'))
    }
  },

  methods: {
    closeNavigation() {
      this.mobileModalOpen = false
    },

    handleScroll (evt, el) {
      if (this.$route.name && this.$route.name.startsWith('index___')) {
        if (window.scrollY > 50) {
          this.isNavTop = false;
          el.classList.add('navbar-white')
        } else {
          this.isNavTop = true;
          el.classList.remove('navbar-white')
        }
      } else {
        el.classList.add('navbar-white')
      }
    },
  },

  mounted () {
    this.handleScroll(null, document.getElementById('navbar'))
  },
}
</script>

<style lang="scss" scoped>
.profile-icon {
  cursor: pointer;
}

.languageSwitch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;

  .active {
    font-weight: bold;
  }


}
</style>
