<template>
  <div class="is-flex br-numberinput is-align-items-center">
    <a
      :class="{
        'is-disabled': !removeEnabled
      }"
      @click="remove"
    >
      <Minus size="20" />
    </a>
    <div class="has-text-centered input-field">
      <h3>
        {{ value }}
      </h3>
    </div>
    <a
      :class="{
        'is-disabled': !addEnabled
      }"
      @click="add"
    >
      <Plus size="20" />
    </a>
  </div>
</template>

<script>
import Minus from '../icons/Minus'
import Plus from '../icons/Plus'
export default {
  components: { Plus, Minus },
  props: {
    value: {
      type: [Number, String],
      default: 1
    },
    min: {
      type: [Number, String],
      default: 1
    },
    max: {
      type: [Number, String],
      default: null
    }
  },

  methods: {
    add() {
      if(this.addEnabled) {
        this.model = parseInt(this.value) + 1;
      }
    },

    remove() {
      if(this.removeEnabled) {
        this.model = parseInt(this.value) - 1;
      }
    }
  },

  computed: {
    isDisabled () {
      return {
        minus: this.min != null && this.value <= this.min,
        plus: this.max != null && this.value >= this.max
      }
    },

    addEnabled() {
      if (this.max != null) {
        return this.value < this.max;
      }

      return true;
    },

    removeEnabled() {
      if (this.min != null) {
        return this.value > 1 && this.value > this.min;
      }

      return true;
    },

    model: {
      get () {
        return parseInt(this.value)
      },
      set (newVal) {
        this.$emit('input', parseInt(newVal) )
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.br-numberinput {
  margin-left: 1rem;
  margin-right: 1rem;

  @media(max-width: 900px) {
    margin-right: 1rem !important;
  }
}

.input-field {
  width: 62px;

  @media(max-width: 900px) {
    width: 45px;
  }
}
</style>
