<template>
  <div
    class="selectable-box has-text-small"
    :class="{
      'selectable-box-active': isActive && !disabled,
      'selectable-box-disabled': disabled
    }"
  >
    <b-checkbox :native-value="nativeValue" :disabled="disabled" v-model="model" >
      <slot />
    </b-checkbox>
  </div>

</template>

<script>
import _includes from "lodash/includes";

export default {
  props: {
    value: null,
    nativeValue: {
      type: [Boolean, String, Object, Number],
      default: true,
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    },

    isActive: {
      get () {
        return _includes(this.value, this.nativeValue);
      },
      set (newVal) {
      //   if (!this.disabled) {
      //     this.$emit('input', newVal)
      //   }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .selectable-box ::v-deep {
    .b-checkbox {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;

      .check {
        position: absolute;
        opacity: 0;
      }

      .control-label {
        padding: 0;
      }
    }
  }
</style>
