<template>
  <b-modal
    v-model="isComponentModalActive"
    has-modal-card
    trap-focus
    :destroy-on-hide="false"
    aria-role="dialog"
    aria-label="Example Modal"
    close-button-aria-label="Close"
    aria-modal
  >
    <template #default="props">
      <!-- <modal-form v-bind="formProps" @close="props.close"></modal-form> -->

      <form action="">
        <div class="modal-card" style="width: auto">
          <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
            <button type="button" class="delete" @click="props.close" />
          </header>
          <section class="modal-card-body">
            <b-field label="Email">
              <b-input
                type="email"
                :value="email"
                placeholder="Your email"
                required
              >
              </b-input>
            </b-field>

            <b-field label="Password">
              <b-input
                type="password"
                :value="password"
                password-reveal
                placeholder="Your password"
                required
              >
              </b-input>
            </b-field>

            <b-checkbox>Remember me</b-checkbox>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="props.close" />
            <b-button label="Login" type="is-primary" @click="login" />
            <b-button label="Logout" type="is-primary" @click="logout" />
          </footer>
        </div>
      </form>
    </template>
  </b-modal>
</template>

<script>
  export default {
    data() {
      return {
        isComponentModalActive: true,
        email: null,
        password: null,
      }
    },
    methods: {
      login() {
        this.$auth.loginWith("laravelJWT", {
          data: {
            email: "adx@adx.lv",
            password: "vissbumbas",
          },
        });
      },
      logout() {
        this.$auth.logout();
      },
    },
  };
</script>

<style scoped lang="scss">
</style>
