.choose-category-image {
	height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.c1040container {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

.choose-category p {
	font-size:  25px;
	font-weight: 300;
	color:  $ui-blue;
	line-height:  1.2;
	text-transform: uppercase;

  @include mobile {
    font-size: rem(20);
  }
}

.choose-category {
	position: relative;
	cursor: pointer;
  	display: block;

	&:after {
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		content: '';
		position: absolute;
		left: 50%;
		margin-left: -100px;
		top: 80px;
		background-color: $lighter-beige;
		z-index: 1;
		opacity: 0;
		transition: .5s all;
	}

	p, svg {
		position: relative;
		z-index: 2;
	}

	p, svg path {
		transition: .5s all;
	}
}

@media (hover: hover) {
	.choose-category:hover {
		p {
			color: $ui-dark-blue;
		}
	
		svg path {
			stroke: $ui-dark-blue;
		}
	
		&:after {
			opacity: 1;
		}
	}
}
.choose-category.is-active {
	p {
		color: $ui-dark-blue;
	}

	svg path {
		stroke: $ui-dark-blue;
	}

	&:after {
		opacity: 1;
	}
}
