body section.blog-page {
  background-color: $light-beige;
  overflow: hidden;

  h1 {
    color: #8c080c;
    font-size: 45px;
    line-height: 1.5;
    font-weight: 300;
  }
}

body section.single-page {
  h1 {
    margin-bottom: 20px;
  }
}

.blog-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li {
    margin-right: 30px;
  }

  a {
    color: #020202;
    font-size: 18px;
    transition: all .5s;

    &:hover,
    &.nuxt-link-active,
    &.is-active {
      color: #8c080c;
    }
  }
}

.blog-card {
  margin-bottom: 30px;

  @include mobile {
    .image-wrapper {
      margin-bottom: rem(-40);
    }
  }
}

.blog-filter-div.container {
  margin-bottom: 30px;
  margin-top: 20px;
}

.blog-card img {
  width: 100% !important;
  max-width: rem(900);
  margin: 2rem auto;
  margin-left: 0;
}

.blog-card span {
  font-size: 12px;
  color: #020202;
}

.blog-card button > span {
  color: inherit;
}

.blog-card h4 {
  color: #2B2A29;
  font-size: rem(40px);
  line-height: 1;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blog-card h3 {
  color: #2B2A29;
  font-size: rem(20px);
  line-height: 1;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-card h2 {
  color: #8c080c;
  font-size: rem(45px);
  line-height: 1;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blog-card p,
.blog-card .text-content {
  color: #272726;
  font-size: rem(16);
  line-height: 1.5;
  margin-bottom: 1rem;

  @include mobile {
    font-size: $font-size;
    line-height: 1.2;
    p:has(img){
      margin-left: -1rem;
      margin-right: -1rem;
    }
    iframe {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

.blog-card .read-more {
  color: #2B2A29;
  font-size: 16px;
  margin-top: unset;
  position: relative;
  transition: all .5s;

  svg {
    position: absolute;
    bottom: -36px;
    left: -5px;
    opacity: 0;
    transition: all .5s;
  }

  @media (hover: hover) {
    &:hover {
      color: #8c080c;

      svg {
        opacity: 1;
      }
    }
  }
}

.container.blog-cards {
  margin-bottom: 60px;
}

.prev-item {
  margin-left: 45px;
  display: block;

  span {
    color: #8c080c;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-top: 10px;
  }

  @include mobile {
    float: left;
  }
}

.next-item {
  margin-right: 45px;
  display: block;

  @include mobile {
    float: right;
  }

  span {
    color: #8c080c;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-top: 10px;
  }
}

@include mobile {
  .blog-page {
    .columns, .column {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .blog-page .column.blog-image-column {
    margin-left: -3rem;
    margin-right: -3rem;

    margin-left: -1rem;
    margin-right: -1rem;
  }
}
