.checkout-page {

  .discount-input {
    .button {
      margin-top: -17px;
    }

    label {
      margin-top: -6px;
      width: 55%;

      @include tablet {
        margin-top: -16px;
      }

      @include fullhd {
        margin-top: -6px;
      }
    }
  }

  &>.columns {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .checkout-summary-column {
    background: $light-beige;

    @include fullhd {
      padding-left: rem(64);
    }

    @include mobile {
      order: 1;
    }
  }

  .checkout-form-column {
    @include mobile {
      order: 2;
    }
  }

  .checkout {
    &__big-heading {
      font-size: rem(48);
      line-height: 110%;
      padding-top: rem(140);

      @include mobile {
        font-size: 2rem;
        padding-top: 0;
      }
    }

    &__small-heading {
      font-size: rem(24);
      line-height: 160%;
    }
  }

  &__form,
  &__summary {
    @include xs-only {
      // padding: 0 0.75rem;
    }
  }

  &__summary {
    @include sm-up {
      // padding-right: rem(40);
    }
  }


  @include mobile {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
