html, body {
  &.has-navbar-fixed-top {
    padding-top: 0 !important
  }
  &.has-navbar-fixed-bottom {
    padding-bottom: 0 !important
  }
}

.home-background {
  // background-color: $primary;
  // padding: 184px 0 152px;
  background-size: cover;
  background-position: top center;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 850px;

  position: relative;

  @media(max-width: 600px) {
    min-height: 100vh;
    height: auto;

    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .home-background {
    background-position: calc(100% + 180px) center;
  }

  .home-background {
    position: relative;
    // padding-top: 75px;
  }
}

.legal-notice-block {
  padding-top: 65px;
  background-color: #f8f5ef;

  img {
    margin-top: 65px;
    margin-bottom: 65px;
    @include mobile {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  & .textual-content > p {
    font-size: 16px;
  }
}
