.report-page {

  .report-title {

  }
  p {
    font-size: 1rem;
  }
}

.report-box {
	max-width: 1300px;
	margin: 0 auto;
	padding-bottom: 5em;
	.report-image {
		width: 100%;
		height: 800px;
    // max-height: 70vh;

		object-fit: cover;
		object-position: center;
	}
	.report-title {
		margin-top: 2em;
		line-height: 63.8px;
		font-size: 3.625rem;
	}
	.report-text {
		line-height: 25.6px;
		font-size: 1rem;
		margin-top: 2em;
	}
	.order-data {
		margin-top: 3em;
		.report-payment-title {
			font-size: 1.5rem;
			line-height: 24px;
			margin-bottom: 1.5em;
		}
		.report-info-box {
			label {
				margin-bottom: 2em;
				font-size: 0.75rem;
				font-weight: 500;
				color: #707A93;
			}
			p {
				font-size: 1rem;
				line-height: 22.4px;
				font-weight: 500;
			}
		}
	}
}
