.shop-page {}

.shop-page {
  // background-color: $light-beige;
  background-color: $lighter-beige;

  .navbar.navbar-white {
    background-color: $light-beige !important;
  }
}

.full-container {
  max-width: 100%;
}

.shop-page {
  .category-chooser {
    margin-bottom: rem(50);
  }

  .choose-category {
    text-align: center;
    margin-bottom: rem(40);

    @include mobile {
      margin-bottom: rem(20);
    }
  }


  .choose-category:after {
    background-color: #fff;
  }

  .choose-category-box {
    // position: relative;
  }

  .choose-category-subbox {
    display: block;
    margin-top: rem(65);
    display: none;
    text-align: center;


    a {
      position: relative;
      font-size: rem(16px);

      svg {
        transition: all 0.5s;
        opacity: 0;
      }

      &:hover,
      &.is-active {
        svg {
          opacity: 1;
        }
      }
    }

    span,
    svg {
      display: block;
      margin: 0 auto;
    }

    &.show {
      display: block;
    }

    @include mobile {
      position: relative;
      margin-top: rem(35);
      z-index: 1;

      & > ul > li {
        margin-bottom: rem(30);
      }
      a {
        padding: rem(5) 0;
        &.nuxt-link-active {
          text-decoration: underline;
        }
      }
      a svg {
        display: none;
      }
    }
  }

  .image-div {
    background-color: transparent;
    position: relative;
    img {
      max-height: 60vh;
    }
  }

  .favorite-item-icon {
    cursor: pointer;

    @media (hover: hover) {
      path {
        fill: #020202;
      }
    }
    &.is-active {
      path {
        fill: #020202;
      }
    }
  }

  .product-div {
    text-align: center;
    /* background: radial-gradient(circle, rgb(241 229 206) 00%, rgb(241 229 206 / 0%) 65%); */
  }

  .product-div span {
    color: #8c080c;
    font-size: 25px;
    line-height: 1;
    display: block;
    margin-top: 15px;
  }

  .product-div .price-span {
    color: #020202;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .shop-padder {
    padding: 45px 50px;
    padding: 0px 50px 45px;
  }

  @include mobile {
    .shop-category {
      .choose-category-image {
        height: rem(150);
      }
    }
  }
}

.single-product {
  h3 {
    font-size: 45px;
    color: #8c080c;
    line-height: 1;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    color: #8c080c;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: #020202;
  }

  .products-slider-block .carousel-wrapper .carousel-wrapper-big .slide-productsslider:after {
    display: none;
  }

  .products-slider-block .carousel-wrapper .carousel-wrapper-small {
    margin-top: 0;
  }

  .products-slider-block .carousel-wrapper {
    padding-top: 0;
  }

  .product-properties {
    display: flex;
    flex-wrap: wrap;
    &:not(.color-list) {
      gap: 20px;
    }

    li {

      span,
      svg,
      .option-image {
        display: block;
        color: #020202;
        font-size: 12px;
        text-align: center;
        width: 100px;
      }
    }

  }

  .common-select-fields {

    .select {
      display: block;
      width: 100%;
    }

    select,
    .select.is-empty select {
      background-color: transparent;
      border: none;
      font-size: 18px;
      color: #8c080c;
      outline: none;
      box-shadow: none;
      border: 1px solid #8c080c;
      background-color: transparent;
      display: block;
      width: 100%;
      border-radius: 25px;
      // text-transform: uppercase;

      @media (hover: hover) {
        &:focus,
        &:hover {
          box-shadow: none;
          border-color: #8c080c;
        }
      }
    }

    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #8c080c;
    }
  }

  .left-radius.is-close.common-select-fields select {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .right-radius.is-close.common-select-fields select {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .choose-properties-for-product {
    max-width: 400px;
  }

  .product-info-text {
    text-align: center;
    font-size: 18px;
    color: #1D1D1D;
  }

  .combined-product-row {
    margin-bottom: rem(80);

    @include mobile {
      margin-bottom: rem(40);
    }
  }
}



.you-may-like {
  img {
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  .title {
    display: block;
    text-align: center;
    color: #8c080c;
    font-size: 18px;
    margin-top: 10px;
    height: 60px;
  }
}

.sizes-page section.main-content {
  .body-wrap {
    font-size: 18px;
    color: #1D1D1D;
    max-width: 640px;
    line-height: 25px;
  }

  p {
    font-size: inherit;
  }

  h1 {
    color: #8c080c;
    font-size: 45px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
}

.slider-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #020202;
}

.align-inner-items {

  span,
  svg {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    margin-left: 5px;
  }
}

.dash-after {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    border: 1px dashed #8c080c;

  }
}

.transparent-input {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-weight: inherit;

  padding: 0;
  margin: 0;

  width: auto;
  text-align: right;

  max-width: 50px;

  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
      opacity: 1;
    }

    // margin-right: -25px;
  }

  &__group {
    position: relative;
  }

  &__postspan {
    // position: absolute;
    right: 0;
  }
}

.sizes-page .b-slider.is-primary .b-slider-fill,
.sizes-page .b-slider .b-slider-track {
  background-color: RGBA(255, 51, 85, 0.08) !important;

}

.sizes-page .b-slider .b-slider-thumb-wrapper .b-slider-thumb {
  border-radius: 50%;
  background-color: #8c080c;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 0 !important;
  width: 40px !important;
  height: 40px !important;
  justify-content: center;
}

.slider-label {
  margin-bottom: 25px;
}

.basket-container {
	.button, .button.is-dark{
		background-color: transparent;
	    border-color: #020202;
    	color: #1A1919;
	}

	hr {
		background-color: #f5f5f5;
	}

	.cart-small-im {
		max-width: 150px;
		height: auto;

    @include mobile {
      max-width: unset;
    }
	}

	color: #272726;
    font-size: 14px;
    line-height: 1.5;


	.product-info-column h3 {
	    color: #2B2A29;
	    line-height: 1;
	    font-weight: 300;
	    margin-top: 10px;
	    margin-bottom: 20px;
	}

  .product-info-column h3, .product__identification {
    font-size: rem(16);
  }

  .basket{
    &__subtotal {
      &--title, &--currency {
        font-size: rem(30);
      }
    }
  }

  @include mobile {

    .has-navbar-padding {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }

    .basket{

      &__subtotal {
        &--title {
          font-size: rem(20);
        }
        &--currency {
          font-size: rem(30);
        }
      }

    }

    .product-info-column {
      .mb-5 {
        margin-bottom: 0 !important;
      }
      h3 {
        margin-bottom: 0;
        font-size: rem(20);
      }
    }

    .button {
      h3 {
        margin-top: 1px;
        margin-bottom: 1px;
      }
    }
  }


}
