<template>
  <div class="columns" v-if="giftcard">
    <div class="column is-3">
      <b-image :src="$imagor(image)" ratio="1by1" />
    </div>
    <div class="column">

      <div class="has-text-normal mb-2">
        <!-- {{ $utils.optional(type, 'title') }} -->
        {{ $t('gift_card.label') }}
      </div>

      <div class="is-flex has-text-dark is-align-items-flex-start is-justify-content-space-between mb-5">

        <h3 style="max-width: 440px; width:100%">
          {{ $utils.optional(type, 'title') }}
        </h3>

        <number-input :value="1" :max="1" @input="$store.dispatch('basket/CHANGE_COUNT')" style="opacity:0"/>

        <h3>
          {{ $utils.parseCurrency(giftcard.value) }}
        </h3>

        <a @click="$store.dispatch('basket/REMOVE_GIFT_CARD', giftcard)">
          <Trash class="mt-2" size="20" />
        </a>

      </div>

      <div class="columns">
        <div class="column is-7">
          <div class="columns is-multiline">

            <!-- <div class="column is-6">
              <div class="has-text-medium has-text-small mb-1">
                {{ $t('product.material') }}
              </div>
              <div class="has-text-primary has-text-normal has-line-height-140">
                <ColorCircle style="margin-right: 8px" :background="product.color" />{{ product.colorName }}
              </div>
            </div> -->

            <div class="column is-6" v-if="false">
              <div class="has-text-medium has-text-small mb-1">
                {{ $t('product.size') }}
              </div>
              <!-- <div class="has-text-primary has-text-normal has-line-height-140">
                {{ variation.size }}
              </div> -->
            </div>
            <div class="column is-6" v-if="false">
              <div class="has-text-medium has-text-small mb-1">
                {{ $t('product.identification') }}
              </div>
              <!-- <div class="has-text-primary has-text-normal has-line-height-140">
                {{ variation.code }}
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NumberInput from '~/components/base/NumberInput'
import Trash from '~/components/icons/Trash'
import ColorCircle from '~/components/base/ColorCircle'

export default {
  components: { ColorCircle, Trash, NumberInput },
  props: {
    giftcard: {
      type: Object,
      default: null,
    },
  },

  computed: {
    type() {
      if (this.giftcard) {
        return this.giftcard.gift_card_type;
      }

      return null
    },
    image() {
      if (this.type && this.type.images.length > 0) {
        return this.type.images[0]
      }
      return null;
    },
  }
}
</script>
