<template>
  <div class="has-text-small mb-1 item">
    <small>
      {{name}} : 
    </small>

    <div v-if="isValueObjectPlain">
      <div v-if="isValueCouldBeText">{{ valueObject }}</div>
      <div v-else class="color-image" :style="getAttributeValue">&nbsp;</div>
    </div>

    <div v-else-if="valueObject">
      <template v-if="valueObject.value_type == 'mediafinder'">
        <b-image
          class="color-image"
          :src="$utils.mediaLibraryUrl(valueObject.color.mediafinder)"
          :rounded="true"
        ></b-image>
      </template>

      <template v-else-if="valueObject.value_type == 'custom'">
        Custom
      </template>

      <template v-else-if="valueObject.value_type == 'colorpicker'">
        <div class="color-image" :style="{'background-color': valueObject.color.colorpicker}"></div>
      </template>

      <template v-else>
        <span v-if="valueObject.name"> {{ valueObject.name }}</span>
      </template>
    </div>
  </div>
</template>

<script>
const _split = function(value) {
  return (typeof value === 'string')
    ? value.split(':')
    : [value];
}

export default {
  props: {
    attributevalue: {
      type: [Number, String],
      default: null,
    },
    attributeid: {
      type: [Number, String],
      default: null,
    },
    attribute: {
      type: Object,
      default: () => null,
    },
  },

  computed: {
    name() {
      if (this.attribute) {
        return this.attribute.title
      }
    },

    valueObject() {
      const attributevalue = _split(this.attributevalue)
      const values = this.attribute?.values || null

      if (attributevalue[1]) {
        return attributevalue[1]
      }

      if (values) {
        return Object.values(values)?.find(val => val.name === attributevalue[0] || val.slug === attributevalue[0])
      }

      return attributevalue[0]
    },

    isValueObjectPlain() {
      return typeof this.valueObject === 'string'
    },
    
    getAttributeValue() {
      return {
        'background-color': this.valueObject,
        'background-image': `url(${this.$utils.mediaLibraryUrl(this.valueObject)})`,
      }
    },

    isValueCouldBeText() {
      return typeof this.valueObject === 'string' && !this.valueObject.startsWith('#') && !this.valueObject.startsWith('/')
    },
  },    
}
</script>

<style scoped lang="scss">
.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > small {
    display: block;
    margin-right: 10px;
  }
}
.color-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px transparent;
  transition: all;

  background-size: cover;

  width: 15px;
  height: 15px;

  flex-shrink: 0;
}
</style>
