<template>
  <div v-if="product">
    <div class="columns" >
      <div class="column is-3 ">
        <nuxt-link :to="transletedProductLink">
          <b-image class="cart-small-im" :src="$imagor(variation.image, 500)" />
        </nuxt-link>
      </div>

      <div class="column product-info-column">
        <div class="has-text-normal mb-2">
          {{ $utils.optional(product, 'type.title') }}
        </div>

        <div class="is-flex has-text-dark is-align-items-flex-start is-justify-content-space-between mb-5">

          <h3 class="has-text-weight-bold mb-0" style="max-width: 440px; width:100%">
            <nuxt-link :to="transletedProductLink">
              {{ product.name }}
            </nuxt-link>
          </h3>
        </div>

        <div class="columns">
          <div class="column is-12">
            <div class="columns is-multiline">

              <div class="column is-12">

                <BasketProductAttribute v-for="(item) in attributes" :key="item.id" :attributevalue="item.value"
                  :attributeid="item.id" :attribute="item.attr" />
              </div>

              <div class="column is-6">
                <div class="product__identification has-text-medium has-text-small mb-1 has-text-weight-semibold">
                  {{ $t('product.identification') }}
                </div>
                <div class="has-text-primary has-text-normal has-line-height-140">
                  {{ variation.code }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="is-flex br-numberinput is-justify-content-space-between is-align-items-center">
          <number-input :value="basketItem.count"
            @input="$store.dispatch('basket/CHANGE_COUNT', { variation: variation, count: $event, basketItem: basketItem })" />

          <h3>
            {{ $utils.parseCurrency(basketItem.price, basketItem.count) }}
          </h3>

          <a @click="$store.dispatch('basket/REMOVE_PRODUCT', { variation: variation, basketItem: basketItem })">
            <Trash class="mt-2" size="20" />
          </a>
        </div>
      </div>

    </div>

    <div class="additional-products" v-if="upsellProductList && upsellProductList.length">
      <h4>{{$t('basket.upsell_title')}}</h4>

      <div class="columns" >
        <ProductInList v-for="(b, index) in upsellProductList" class="column post is-narrow"
          :product="b" :key="b.id"
          :col="2"
          no-favourite
          no-scroll
        />
      </div>
    </div>
  </div>
</template>

<script>
import _get from "lodash/get";
import _find from "lodash/find";
import _each from "lodash/each";
import NumberInput from '~/components/base/NumberInput'
import Trash from '~/components/icons/Trash'
import ColorCircle from '~/components/base/ColorCircle'
import BasketProductAttribute from '~/components/pages/basket/BasketProductAttribute.vue'
import ProductInList          from '~/components/partial/ProductInList'

export default {
  components: {
    ColorCircle,
    Trash,
    NumberInput,
    BasketProductAttribute,
    ProductInList
  },

  props: {
    basketItem: {
      type: Object,
      default: null,
    },
    basketItemIndex: {
      type: Number,
      default: null,
    }
  },

  data() {
    return {
      upsellProductList: null,
      upsellProductListLastLoaded: null,

    }
  },

  methods: {
    loadUpsellProducts() {
      this.$axios.$get(`/api/v1/products/related/upsell/${this.variation.id}`)
        .then( (response_data) => {
          if (!response_data.error && response_data.data) {
            this.upsellProductList = response_data.data;
            this.upsellProductListLastLoaded = new Date;
          }
        })
    },
  },

  computed: {
    product() {
      return this.basketItem.product
    },
    variation() {
      return this.basketItem.variation
    },

    attributes() {
      const allAttributes = this.product.product_attributes;
      const attributes_in_cart = this.basketItem.variation_data.attributes;

      return allAttributes
        .map(attr => ({
          id: attr.id,
          value: attributes_in_cart[attr.id],
          attr,
        }))
        .filter(attr => !!attr.value)
    },

    transletedProductLink() {
      return this.localePath({
        name: 'product-list',
        params: {
          list: this.variation.id,
        }
      })
    }
  },

  mounted() {
    this.loadUpsellProducts()
  },
}
</script>

<style lang="scss" scoped>
.additional-products {
  h4 {
    color: #8c080c;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
</style>
