<template>
  <div>
    <h2 v-html="$t('basket.shoping_card')"></h2>
    <!-- <basket-subtotal />
    <a v-if="basketCount" class="is-flex has-text-primary has-text-weight-semibold" style="margin-top: 30px" @click="$store.dispatch('basket/EMPTY_LIST')">
      <Trash size="20" class="mr-2" />
      {{ $t('basket.empty_button') }}
    </a> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Trash from '~/components/icons/Trash'
import BasketSubtotal from './BasketSubtotal'

export default {
  components: { BasketSubtotal, Trash },
  computed: {
    ...mapGetters({
      basketCount: 'basket/count'
    })
  }
}
</script>
