<template>
  <div>
    <div class="basket__subtotal--title has-text-medium has-text-small has-text-weight-semibold mb-1">
      {{ $t('basket.subtotal') }}
    </div>
    <div class="is-flex is-align-items-center pb-1">
      <h3 class="basket__subtotal--currency pb--3">
        {{ $utils.parseCurrency(subtotal) }}
      </h3>
      <div class="is-flex-grow-1" />

      <NuxtLink class="btn mr-4" style="height:auto;" :to="localePath({ name: 'shop' })">Turpināt iepirkties</NuxtLink>
      <NuxtLink class="btn" style="height:auto;" :to="localePath({ name: 'checkout' })">{{ $t('basket.checkout') }}</NuxtLink>
    </div>
    <hr class="is-grey-alt">
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      subtotal: 'basket/subtotal',
      basketCount: 'basket/count'
    })
  }
}
</script>
