<template>
  <div class="columns is-multiline">
    <template v-if="totalLength > 0">

      <basket-product
        v-for="(item, i) in basktList" :key="i"
        class="column is-full"
        :basketItem="item"
      />

      <basket-gift-card
        v-for="(giftcard, i) in basketGiftCards" :key="`gc-${giftcard.id}`"
        class="column is-full"
        :giftcard="giftcard"
      />

      <basket-subtotal class="column is-7 is-offset-5" />

    </template>
    <h3 v-else>
      <div @click="emptyList">
        {{ $t('basket.empty') }}
      </div>
    </h3>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import BasketProduct from './BasketProduct'
import BasketGiftCard from './BasketGiftCard'
import BasketSubtotal from './BasketSubtotal'
export default {
  components: { BasketSubtotal, BasketProduct, BasketGiftCard },
  computed: {
    // ...mapState({
    //   basktList: state => state.basket.list
    // }),
    ...mapGetters({
      basktList: 'basket/list',
      basketGiftCards: 'basket/giftCardList',
      subtotal: 'basket/subtotal',
      basketCount: 'basket/count',
    }),

    totalLength() {
      return this.basktList.length + this.basketGiftCards.length;
    }
  },

  methods: {
    emptyList() {
      $store.dispatch('basket/EMPTY_LIST')
    },
  },

  created() {
    this.$store.dispatch('basket/loadCart');
  },

}
</script>
