<template>
  <section class="shop-page container">
    <div class="standart-section-offset">
      <Breadcrumbs />
      <div class="full-container shop-padder">
        <h1 class="mb-4 is-size-2">{{ $t('favourites.page_title') }}</h1>
      </div>
      <div class="full-container shop-padder">

        <div class="columns is-multiline">
          <div class="column is-12">
            <div v-if="$store.getters['favorite/getFavorites']" class="columns is-multiline">
              <VariationInList v-for="(variation, index) in $store.getters['favorite/getFavorites']" :key="index"
                :variation="variation" :col="3" :favorite-id="variation.pivot.id" class="column post is-narrow">
                <template #footer>
                  <IconsClose class="close-button" @click="() => removeFavorite(variation.pivot.id)" />
                </template>
              </VariationInList>
            </div>

            <div v-else>
              <h2 class="mb-4 is-size-3 text-align-center">{{ $t('favourites.no_favourites') }}</h2>
              <div class="text-align-center next-step mt-6">
                <NuxtLink class="btn" :to="localePath({ name: 'shop' })">
                  {{ $t('favourites.browse_products') }}
                </NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<style lang="scss" scoped>
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
</style>

<script>
import Breadcrumbs from "~/components/base/Breadcrumbs"
import VariationInList from "~/components/partial/VariationInList"
import IconsClose from "~/components/icons/Close"

export default {
  middleware: ['auth', 'fetchFavorites'],

  components: {
    Breadcrumbs,
    VariationInList,
    IconsClose,
  },

  methods: {
    async removeFavorite(id) {
      this.$store.dispatch('favorite/removeFavorite', id)
    },
  }

}
</script>
