<template>
  <section class="about-page blog-page container">
      <div class="standart-section-offset">
        <Breadcrumbs />

        <div class="light-beige">
          <div class="container">
            <ProfileForm />
          </div>
        </div>
      </div>
    </section>
</template>

<script>
import ProfileForm from "~/components/pages/profile/ProfileForm.vue"
import Breadcrumbs from "~/components/base/Breadcrumbs.vue"

export default {
  middleware: 'auth',
  nuxtI18n: {
    paths: {
      en: '/profile',
      lv: '/profils',
    }
  },
  components: {
    ProfileForm,
    Breadcrumbs,
  },
}
</script>
