<template>
  <div>
    <Nav />

    <main>
      <section class="main-content">
        <Nuxt keep-alive />
      </section>

      <Footer />
    </main>

    <b-loading is-full-page v-model="basketIsLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<style lang="scss" scoped>
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>

<script>
import { mapGetters } from 'vuex'

import Nav from '../components/base/Nav'
import Footer from '../components/base/Footer'

export default {
  components: { Footer, Nav },

  created() {
    setInterval(this.heartbeat, 30 * 1000)
  },

  mounted() {
    this.heartbeat()
  },

  methods: {
    async heartbeat() {
      this.$store.dispatch('basket/loadCart')
      await this.$axios.$get('/api/v1/heartbeat')
    }
  },

  // watch route change
  watch: {
    '$route'() {
      // window.scrollTo({ top: 0, behavior: 'smooth' })
    }
  },

  computed: {
    ...mapGetters({
      basketIsLoading: 'basket/isLoading'
    }),
  },
}
</script>