<template>
  <section class="blog-page container">
    <div class="standart-section-offset">
      <Breadcrumbs />
      <!-- <div class="container">
        <h1>{{ $t('nav.blog') }}</h1>
      </div> -->
      <div class="container compact blog-filter-div">
        <div class="columns is-multiline is-vcentered">

          <div class="column is-9">
            <ul class="blog-filter">
              <li v-for="c in categories" :key="c.id">
                <nuxt-link :to="localePath({
                    name: 'blog-category_slug',
                    params: {
                      category_slug: c.slug
                    }
                  })"
                >
                  {{ c.title }}
                </nuxt-link>
              </li>
            </ul>
          </div>

          <div class="column is-3">
            <b-field>
              <b-input
                class="search-input"
                placeholder="Meklēt"
                type="search"
                icon-right="magnify"
                v-model="searchQuery"
              >
              </b-input>
            </b-field>
          </div>
        </div>
      </div>
      <div class="container compact blog-cards">
        <template v-for="(post, index) in filteredNews">
          <BlogPost :key="post.id" :post="post" class="column post is-narrow" />
        </template>
      </div>
    </div>
  </section>
</template>

<script>
  import _filter                from "lodash/filter";

  import Background             from "~/components/pages/home/Background";
  import Breadcrumbs            from "~/components/base/Breadcrumbs";
  import InfoSlider             from "~/components/pages/home/InfoSlider";
  import AboutUs                from "~/components/pages/home/AboutUs";
  import HowToOrderInfo         from "~/components/pages/home/HowToOrderInfo";
  import ChooseProductCategory  from "~/components/pages/home/ChooseProductCategory";
  import ProductsSlider         from "~/components/pages/home/ProductsSlider";
  import BlogPost               from "~/components/partial/BlogPost";

  export default {
    name: "Blog",

    components: {
      BlogPost,
      Background,
      InfoSlider,
      AboutUs,
      HowToOrderInfo,
      ChooseProductCategory,
      ProductsSlider,
      Breadcrumbs,
    },

    head() {
      return {
        bodyAttrs: {
          class: "blog-page",
        },
      };
    },

    async asyncData({ $axios, params }) {
      const news = await $axios.$get("/api/v1/news/posts/all");
      const categories = await $axios.$get("/api/v1/news/posts/categories");
      return {
        news: news.data,
        categories: categories.data,
      };
    },

    data() {
      return {
        news: null,
        categories: null,
        selectedCategories: [],

        searchQuery: null,
      };
    },

    computed: {
      filteredNews() {
        const searchQuery = this.searchQuery;
        const _containsQuery = this._containsQuery;



        if (searchQuery && searchQuery.length > 2) {
          const news = _filter(this.news, (post) => {
            return _containsQuery(post, searchQuery);
          })

          return news;
        }

        return this.news;
      }
    },

    methods: {
      _containsQuery(post, query) {
        let found = false;

        if (!found && post.slug) {
          found = post.slug.indexOf(query) > -1
        }

        return found;
      }
    },
  };
</script>
