<template>
  <section class="about-page blog-page gift-card-page">
    <div class="standart-section-offset">
      <Breadcrumbs />

      <div class="light-beige">
        <div class="container">
          <div class="columns is-multiline is-centered">
            <div class="column is-5">
              <GiftCardForm
                :giftCardType="giftCardType"
                :type="type"
                :images="images"
                :firstPrice="firstPrice"
                :maxCount="maxCount"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
import Breadcrumbs  from '~/components/base/Breadcrumbs'
import GiftCardForm from "~/components/pages/gift-card/gift-card-form.vue";

export default {
  components: {
    Breadcrumbs,
    GiftCardForm,
  },

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
    const [
      giftCardType,
    ] = await Promise.all([
      $axios.$get(`/api/v1/giftcards/type/${params.type}`),
    ]);

    if (giftCardType.error) {
      error(404, "No Such Page");
    }

    let firstPrice = 25;
    let maxCount   = 1;

    if (giftCardType.data.layout_type == "countable") {
      firstPrice = giftCardType.data.prices_for_countable_type[0];
      maxCount = giftCardType.data.prices_for_countable_type.length;
    }

    return {
      giftCardType: giftCardType.data,
      type: giftCardType.data.slug,
      images: giftCardType.data.images,

      firstPrice,
      maxCount,
    };
  },

  methods: {

    onSubmit: function () {
      this.$refs.form.validate().then((success) => {
        if (success) {
          let card = this.form;
          card.morePersons = this.morePersons;
          card.type_id = this.giftCardType.id;

          this.$store.dispatch('basket/ADD_GIFT_CARD', card )
            .then((r) => {
              this.empty();

              this.toast(
                "Karte pievienota grozam",
                "is-success"
              );

            })
            .catch((err) => {
              this.toast(
                err.message,
                "is-danger"
              );
            })

        } else {
          this.toast(
            "Pārbaudi formas laukus - kaut kas nav labi!",
            "is-danger"
          );
        }
      });
    },

  },
};
</script>
