<template>
  <section class="radi-pats">
    <div class="has-navbar-padding">
      <div class="radi-pats-container">
        <div class="columns">
          <div class="column is-4">
            <div class="radi-pats-box">
              <h1 class="radi-title">{{ $t("gift_card.title") }}</h1>
              <b-tabs v-model="activeTab" vertical class="radi-pats-list">
                <b-tab-item v-for="(section, index) in sections" :key="`title${index}`">
                  <template #header>
                    <span @click="goto(`content${index}`)" v-html="section.title.replace('<br>', '')"></span>
                  </template>
                </b-tab-item>
              </b-tabs>
            </div>
          </div>
          <div class="column is-8">
            <!-- <template v-for="(section, index) in sections" >
                <intersect :threshold="[0.5]" @enter="activeTab = index">
                  <ContentBox
                    :key="`content${index}`"
                    :id="`content${index}`"
                    :title="section.title"
                    :text="section.body"
                    :image="getFirstImage(section)"
                    :to="localePath({
                      name: 'gift-card-type',
                      params: {type: section.slug}
                    })"

                    :is-reverse="(index%2 == 1)"
                  />
                </intersect>
            </template> -->

          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import ContentBox from "~/components/pages/radi/ContentBox";
// import Intersect from 'vue-intersect'

export default {
  components: {
    // ContentBox,
    // Intersect,
  },

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios, localePath}) {

    const [
      giftCardTypes,
    ] = await Promise.all([
      $axios.$get(`/api/v1/giftcards/type`),
    ]);

    if (giftCardTypes.error) {
      error(404, "No Such Page");
    }

    if (giftCardTypes.data.length < 1) {
      error(404, "No Such Page");
    }

    return redirect(localePath({
      name: 'gift-card-type',
      params: {
        type: giftCardTypes.data[0].slug,
      }
    }));

    return {
      sections: giftCardTypes.data,
    };
  },

  data() {
    return {
      activeTab: -1,
    };
  },

  methods: {
    getFirstImage(section) {
      if (section.images && section.images.length > 0) {
        return section.images[0];
      }

      return null;
    },

    goto(id) {
      this.$utils.scrollTo(id, -180);
    },
  },
}
</script>
