<template>
  <section class="about-page blog-page">
    <div class="standart-section-offset">
      <div class="columns is-multiline is-vcentered">
        <div class="column is-12">
          <div class="container">
            <div class="blog-card">
              <h2>{{ $t('error.title') }}</h2>
              <div class="text-content" v-html="parsedText"></div>
              <div>{{ error }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['error'],
  head() {
    return {
      bodyAttrs: {
        class: 'single-page blog-page'
      }
    }
  },
  computed: {
    parsedText() {
      return this.$t('error.text')
        .replace('[code]', JSON.stringify(this.error?.statusCode))
        .replace('[error]', this.error?.message)
    }
  }
}
</script>
