<template>
  <section class="about-page blog-page">
    <div class="standart-section-offset">
      <div class="container">
        <Breadcrumbs />
      </div>

      <!-- <div class="light-beige">
        <div class="container">
          <div class="columns is-multiline is-vcentered">
            <div class="column is-7">
              <img :src="employees[0].image.path" alt="" />
            </div>
            <div class="column is-5">
              <h3 class="common-h3">{{employees[0].title}}</h3>
              <div class="textual-content"  v-html="employees[0].body">
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <AboutUs :employees="employees" />

      <!-- <div class="light-beige">
        <div class="container">
          <div class="columns is-multiline is-vcentered">
            <div class="column is-7">
              <img :src="employees[2].image.path" alt="" />
            </div>
            <div class="column is-5">
              <h3 class="common-h3">{{employees[2].title}}</h3>
              <div class="textual-content"  v-html="employees[2].body">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lighter-beige app-block">
        <div class="container">
          <div class="columns is-multiline is-vcentered">

            <div class="column is-5">
              <h3 class="common-h3">{{employees[3].title}}</h3>
              <div class="textual-content"  v-html="employees[3].body">
              </div>

            </div>
            <div class="column is-7 has-text-right">
              <img :src="employees[3].image.path" alt="" />
            </div>
          </div>
        </div>
      </div> -->

      <!-- <AboutUsBottom :employees="employees" /> -->
    </div>
  </section>
</template>

<script>

import Breadcrumbs from '../components/base/Breadcrumbs'
import AboutUs from '../components/pages/home/AboutUs2.vue'


export default {
  name: 'HomePage',
  components: {
    Breadcrumbs,
    AboutUs,
  },
  nuxtI18n: {
    paths: {
      en: '/about',
      lv: '/par-mums',
    }
  },
  async asyncData ({ $axios, params }) {
    const [
      employees,
      //jobs,
      //projects,
    ] = await Promise.all([
      $axios.$get('/api/v1/about/employees'),
      //$axios.$get('/api/v1/about/jobs'),
      //$axios.$get('/api/v1/about/projects'),
    ]);

    return {
      employees: employees.data,
      //jobs: jobs.data,
      //projects: projects.data
    }
  },

  data() {
    return {
      // employees: null,
      //jobs: null,
      //projects: null,
    }
  },
  head () {
    return {
      bodyAttrs: {
        class: 'single-page blog-page'
      }
    }
  }
}
</script>
