<template>
  <div class="container basket-container container">
    <div class="has-navbar-padding">
      <section class="basket-page">
        <div class="columns is-variable is-8 blog-card">
          <div class="column is-12">
            <basket-sidebar />
          </div>
        </div>
        <div class="columns is-variable is-8">
          <div class="column is-12">
            <div>
              <basket-products />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import BasketSidebar from '~/components/pages/basket/BasketSidebar'
import BasketProducts from '~/components/pages/basket/BasketProducts'
export default {
  components: { BasketProducts, BasketSidebar },
  nuxtI18n: {
    paths: {
      en: '/basket',
      lv: '/grozs',
    }
  },
  async fetch () {
    await this.$store.dispatch('basket/loadCart');
  },

  methods: {},

  mounted() {
    const $store = this.$store;

    setTimeout(() => {
      $store.dispatch('basket/loadCart');
    }, 200);
  },
  head () {
    return {
      bodyAttrs: {
        class: 'single-page shop-page'
      }
    }
  }
}
</script>
