<template>
  <div class="has-navbar-padding">
    <section class="checkout-page container">
      <div class="columns">
        <div class="checkout-form-column    column is-7 ">
          <CheckoutForm :paymentMethods="paymentMethods" :deliveryMethods="deliveryMethods" @submit="submit" @refresh="onRefresh" />
        </div>
        <div class="checkout-summary-column column is-offset-1 is-4 mb-3">
          <CheckoutSummary @refresh="onRefresh" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import CheckoutForm from '~/components/pages/checkout/CheckoutForm'
import CheckoutSummary from '~/components/pages/checkout/CheckoutSummary'

import _each from "lodash/forEach"

export default {
  components: { CheckoutSummary, CheckoutForm },
  nuxtI18n: {
    paths: {
      en: '/checkout',
      lv: '/apmaksa',
    }
  },
  head: {
    link: [
      {
        rel: 'stylesheet',
        href: 'https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css',
      },
    ],
  },

  async asyncData({
    $axios,
    redirect,
    error,
    localePath,
  }) {
    const [
      paymentMethods,
    ] = await Promise.all([
      $axios.$get("/api/v1/payments/methods"),
    ])

    return {
      paymentMethods: paymentMethods.data,
      deliveryMethods: [],
    };
  },

  data: () => ({
    paymentMethods: [],
    deliveryMethods: [],
  }),

  async fetch() {
    const [
      paymentMethods,
      deliveryMethods,
    ] = await Promise.all([
      this.$axios.$get("/api/v1/payments/methods"),
      this.$axios.$get("/api/v1/deliveries/methods"),
    ])

    this.paymentMethods = paymentMethods.data
    this.deliveryMethods = deliveryMethods.data
  },
  fetchOnServer: false,

  methods: {
    async submit(formObject) {
      const formData = new FormData()

      this.$store.commit("basket/START_LOADING")

      _each(formObject, (value, key) => {
        formData.append(key, value)
      })

      this.$axios.$post('/api/v1/orders/place_order', formObject, {})
        .then(async(response) => {
          const order = response.data

          if (order.payment_link) {
            this.$buefy.toast.open({ message: this.$t('checkout.accepted'), duration: 5000, type: 'is-success' })
            await this.$store.dispatch('basket/EMPTY_LIST')
            this.$store.commit("basket/START_LOADING") // because it stoped at emptying list
            window.location.href = order.payment_link
          } else {
            this.$buefy.toast.open({ message: this.$t('checkout.server_error'), duration: 5000, type: 'is-danger' })
            this.$store.commit("basket/STOP_LOADING")
          }
        })
        .catch(function (error) {
          this.$buefy.toast.open({ message: this.$t('checkout.server_error'), duration: 5000, type: 'is-danger' })
          this.$store.commit("basket/STOP_LOADING")
        })
    },
    onRefresh() {
      this.$fetch()
    },
  },

  mounted() {
    const notEnoughItems = this.basktList < 1
    if (notEnoughItems) {
      this.$router.push(this.localePath({name: 'shop'}))
    }
  },

  computed: {
    ...mapGetters({
      basktList: 'basket/count',
    })
  },

  watch: {
    basktList(list) {
      if (list.length < 1) {
        this.$router.push(this.localePath({
          name: 'basket'
        }))
      }
    }
  }
}
</script>
