<template>
    <section class="about-page blog-page mb-6 container">
        <div class="standart-section-offset">
            <Breadcrumbs />
            <div class="columns is-multiline is-vcentered is-centered">
                <div class="column is-11">
                    <div class="container">
                        <div class="blog-card">
                            <h2>{{ getPageContent.name }}</h2>
                            <div class="text-content" v-html="getPageContent.body"></div>

                            <h2 class="is-size-4 text-align-center mt-6">
                                {{ $t("contacts.form") }}
                            </h2>

                            <!-- on complete -->
                            <div v-if="showValidationText" class="my-6">
                                <div class="text-align-center mt-4" v-html="$t('contacts.complete')">
                                </div>

                                <div class="column is-12 mt-4">
                                    <div class="text-align-center next-step">
                                        <nuxt-link :to="localePath({ name: 'index' })" class="btn">{{ $t("contacts.go_home")
                                        }}</nuxt-link>
                                    </div>
                                </div>
                            </div>

                            <!-- contact form -->
                            <ValidationObserver v-slot="{ invalid, errors }" ref="form" v-else>

                                <div class="text-content has-text-centered" v-html="$t('contacts.note')"></div>

                                <form class="" @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="reset">
                                    <div class="columns is-multiline mb-4">
                                        <div class="column is-6">
                                            <ValidationProvider :name="$t('contacts.name')" rules="required"
                                                v-slot="{ errors }" ref="nameValidator">
                                                <br-input v-model="formdata.name" :label="$t('contacts.name')"
                                                    :error="errors[0]" isLabelOnInput autocomplete="name" />
                                                <div v-if="errors[0]" class="error mt-4">
                                                    {{ errors[0] }}
                                                </div>
                                            </ValidationProvider>
                                        </div>

                                        <div class="column is-6">
                                            <ValidationProvider :name="$t('contacts.mail')" rules="required|email"
                                                v-slot="{ errors }" ref="mailValidator">
                                                <br-input v-model="formdata.email" :label="$t('contacts.mail')"
                                                    :error="errors[0]" isLabelOnInput autocomplete="email" />
                                                <div v-if="errors[0]" class="error mt-4">
                                                    {{ errors[0] }}
                                                </div>
                                            </ValidationProvider>
                                        </div>

                                        <div class="column is-12">
                                            <ValidationProvider :name="$t('contacts.message')" rules="required"
                                                v-slot="{ errors }" ref="messageValidator">
                                                <br-textarea v-model="formdata.message" :label="$t('contacts.message')"
                                                    :error="errors[0]" isLabelOnInput  />
                                                <div v-if="errors[0]" class="error mt-4">
                                                    {{ errors[0] }}
                                                </div>
                                            </ValidationProvider>
                                        </div>

                                        <div class="column is-12">
                                            <div class="text-align-center next-step">
                                                <b-button class="has-text-normal is-dark" @click="onSubmit">{{
                                                    $t("contacts.send")
                                                }}</b-button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </ValidationObserver>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";

import Background from "../components/pages/home/Background";
import Breadcrumbs from "../components/base/Breadcrumbs";
import InfoSlider from "../components/pages/home/InfoSlider";
import AboutUs from "../components/pages/home/AboutUs";
import AboutUsBottom from "../components/pages/home/AboutUsBottom";
import HowToOrderInfo from "../components/pages/home/HowToOrderInfo";
import ChooseProductCategory from "../components/pages/home/ChooseProductCategory";
import ProductsSlider from "../components/pages/home/ProductsSliderV2";
import SimpleSlider from "../components/partial/SimpleSlider";
import BrInput from '~/components/base/BrInput'
import BrTextarea from '~/components/base/BrTextarea'
import Notice from '~/components/base/Notice'

export default {
    name: "ContactsPage",
    nuxtI18n: {
    paths: {
      en: '/contacts',
      lv: '/kontakti',
    }
  },
    components: {
        Background,
        InfoSlider,
        AboutUs,
        AboutUsBottom,
        HowToOrderInfo,
        ChooseProductCategory,
        ProductsSlider,
        Breadcrumbs,
        SimpleSlider,
        ValidationProvider,
        ValidationObserver,
        BrInput,
        BrTextarea,
        Notice,
    },
    data: () => ({
        pages: null,
        formdata: {
            name: null,
            email: null,
            message: null,
        },

        showValidationText: false, // on complete
    }),
    computed: {
        getPageContent() {
            return this.pages.find((page) => String(page.id) === "8");
        },
    },
    methods: {
        onSubmit() {
            this.$refs.form.validate().then((success) => {
                if (success) {
                    this.$axios
                        .post("/api/v1/bboxdigiplugins/subscriptions/new-message", {
                            ...this.formdata,
                            body: this.formdata.message,
                        })
                        .then((data) => {
                            this.showValidationText = true
                        })
                        .catch((error) => {
                            const data = error.response.data
                            this.toast(`Server error: ${data.error}`, "is-danger")
                        })
                } else {
                    this.toast(
                        this.$t("contacts.error"),
                        "is-danger"
                    );
                }
            });
        },

        handleSubmit() {
            this.onSubmit()
        },

        toast(message, type) {
            type = type || "is-success";

            this.$buefy.toast.open({
                duration: 5000,
                message: message,
                // position: 'is-bottom',
                type: type,
            });
        },
    },
    async asyncData({ $axios, params }) {
        const [pages] = await Promise.all([
            $axios.$get("/api/v1/content/pages-section/all"),
        ]);

        return {
            pages: pages.data,
        };
    },
    head() {
        return {
            bodyAttrs: {
                class: "single-page blog-page",
            },
        };
    },
};
</script>

<style lang="scss" scoped>
div.br-input {
    border-width: 0px;
}
</style>
