<template>
  <section class="home-page">
    <Background />
    <InfoSlider :employees="forInfoSlider" />
    <AboutUs :block="forAboutUs[0]" />
    <HowToOrderInfo />
    <ChooseProductCategory />
    <ProductsSlider :images="frontpageimages" />

    <InstagramFeed />
    <LegalNotice />

    <div class="follow">
      <nuxt-link
        class="btn"
        :to="localePath({ name: 'shop' })"
        style="display: flex; align-items: center"
      >
        {{ $t('shop.go_to_shop') }}
      </nuxt-link>

      <a class="btn px-1 py-1" href="http://m.me/swimbepeldkostimi" target="_blank" >
        <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.4873 34.9824C19.638 36.806 23.3443 37.4215 26.9152 36.7141C30.4862 36.0067 33.678 34.0247 35.8956 31.1377C38.1132 28.2507 39.2053 24.6556 38.9681 21.0229C38.731 17.3901 37.1809 13.9676 34.6068 11.3934C32.0327 8.8192 28.6103 7.26902 24.9777 7.03188C21.3451 6.79474 17.7503 7.88683 14.8634 10.1045C11.9765 12.3222 9.99461 15.5142 9.28724 19.0853C8.57988 22.6564 9.19531 26.3629 11.0188 29.5137L9.0642 35.3496C8.99075 35.5699 8.98009 35.8062 9.03342 36.0322C9.08674 36.2581 9.20194 36.4648 9.3661 36.6289C9.53026 36.7931 9.7369 36.9083 9.96285 36.9616C10.1888 37.015 10.4251 37.0043 10.6454 36.9309L16.4873 34.9824Z" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16 23.7143L22.5 22L24.4736 25L33 20.2857L26 22L24.1304 19L16 23.7143Z" fill="white" stroke="white" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </section>
</template>

<script>
import Background from '../components/pages/home/Background'
import InfoSlider from '../components/pages/home/InfoSlider'
import AboutUs from '../components/pages/home/AboutUs'
import HowToOrderInfo from '../components/pages/home/HowToOrderInfo'
import ChooseProductCategory from '../components/pages/home/ChooseProductCategory'
import ProductsSlider from '../components/pages/home/ProductsSlider'
import LegalNotice from '../components/partial/LegalNotice'

import InstagramFeed from '~/components/partial/InstagramProfileFeed'

export default {
  name: 'HomePage',
  components: {
    Background,
    InfoSlider,
    AboutUs,
    HowToOrderInfo,
    ChooseProductCategory,
    ProductsSlider,
    LegalNotice,
    InstagramFeed
  },
  async asyncData({ $axios, params }) {
    const [
      employees,
      //jobs,
      //projects,
      productcategories,
      frontpageimages
    ] = await Promise.all([
      $axios.$get('/api/v1/about/employees'),
      //$axios.$get('/api/v1/about/jobs'),
      //$axios.$get('/api/v1/about/projects'),
      $axios.$get('/api/v1/products/get-categories'),
      $axios.$get('/api/v1/content/galleries/front-page')
    ])

    return {
      forAboutUs: employees.data.filter((e) => e.id == 2),
      forInfoSlider: employees.data.filter(
        (e) => e.id == 1 || e.id == 3 || e.id == 4
      ),
      //jobs: jobs.data,
      //projects: projects.data,
      productcategories: productcategories.data,
      frontpageimages: frontpageimages.data
    }
  },
  data() {
    return {
      employees: null,
      //jobs: null,
      //projects: null,
      productcategories: null
    }
  }
}
</script>


<style lang="scss" scoped>
.follow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 0.5rem;

  .btn {
    display: flex;
    align-items: center;

    &:hover {
      background: #F2EDE4 !important;

      path {

        &:first-child {
          stroke: #8C080C;
          fill: #8C080C;
        }
      }
    }
  }
}
</style>
