<template>
  <section class="about-page blog-page container">
    <div class="standart-section-offset">
      <Breadcrumbs />

      <div class="light-beige">
        <div class="container">
          <div class="columns is-multiline is-centered">
            <div class="column is-5">
              <Auth></Auth>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Auth from "~/components/auth/Auth";
import Breadcrumbs from '~/components/base/Breadcrumbs';

export default {

  components: {
    Auth,
    Breadcrumbs
  },

  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
    $axios,
    localePath,
  }) {
    let activationSuccessfull = false;

    if (query["activate"]) {
      try {
        const response = await $axios.$post("/api/activate", {
          code: query["activate"],
        });

        if (response.user) {
          activationSuccessfull = true;
        }

      } catch (error) {
        console.log(error);
      }
    }

    return {
      activationSuccessfull,
    }
  },

  mounted() {
    const me = this;

    if (this.activationSuccessfull) {
      setTimeout(() => {
        me.$utils.toast(me.$t('global.activation_successfull'));
      }, 500);
    }
  },

};
</script>

<style scoped lang="scss">
</style>
