<template>
    <div class="hero is-fullheight"></div>
</template>

<script>
export default {
    mounted() {
        if (this.$auth.loggedIn) {
            this.$auth.logout()
        }

        this.$nextTick(() => {
            window.location.href = this.localePath({
                name: 'index'
            })
        })
    }
}
</script>
