<template>
    <section class="about-page blog-page">
        <div class="standart-section-offset">
            <Breadcrumbs />

            <ValidationObserver v-slot="{ invalid, errors }" ref="form" v-if="!sent">
                <form @submit.prevent="onSubmit" @reset.prevent="reset">

                    <div class="light-beige">
                        <div class="container">
                            <div class="columns is-multiline is-centered">
                                <div class="column is-5">

                                    <h2>{{ $t('auth.password_recovery_info') }}</h2>

                                    <div class="column is-12">
                                        <ValidationProvider :name="$t('auth.email')"
                                            rules="required|email|unique-recovery-email" v-slot="{ errors }"
                                            ref="emailValidator">
                                            <br-input v-model="formdata.email" :label="$t('auth.email')" :error="errors[0]"
                                                isLabelOnInput autocomplete="username" />
                                            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
                                        </ValidationProvider>
                                    </div>

                                    <div class="column is-12">
                                        <div class="text-align-center next-step">
                                            <b-button v-if="!invalid" class="btn" native-type="submit">{{
                                                $t('auth.restore_password')
                                            }}</b-button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ValidationObserver>
            <div v-else>
                <div class="columns is-flex-direction-column is-multiline is-centered">
                    <h2 class="is-size-4 text-align-center mt-6 fixspacing"> {{ $t('auth.recovery_sent') }}</h2>

                    <div class="text-align-center mt-6" v-html="$t('auth.recovery_sent_info')"></div>

                    <div class="column is-12 mt-6 mb-6">
                        <div class="text-align-center next-step">
                            <nuxt-link :to="localePath({ name: 'index' })" class="btn">{{ $t('auth.go_home') }}</nuxt-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Auth from "~/components/auth/Auth"
import Breadcrumbs from '~/components/base/Breadcrumbs'
import BrInput from '~/components/base/BrInput'

import { ValidationProvider, ValidationObserver, extend } from "vee-validate"

export default {

    components: {
        Auth,
        Breadcrumbs,
        BrInput,
        ValidationProvider,
        ValidationObserver
    },
    nuxtI18n: {
    paths: {
      en: '/recover_password',
      lv: '/atjaunot_paroli',
    }
  },
    data: () => ({
        formdata: {
            email: null,
        },
        sent: false,
    }),

    mounted() {
        extend('unique-recovery-email', {
            validate: async value => {
                const response = await fetch(`/api/v1/user/has_user`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: value
                    })
                })
                const { exists } = await response.json()
                return exists || this.$t('auth.email_doesnt_exists')
            },
            message: this.$t('auth.email_doesnt_exists'),
        })
    },

    methods: {
        async onSubmit() {
            this.$store.commit('basket/START_LOADING')
            const response = await fetch('/api/v1/user/init-pass-reset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: this.formdata.email
                })
            })

            this.$store.commit('basket/STOP_LOADING')

            const { error } = await response.json()
            if (error) {
                this.$buefy.toast.open({
                    duration: 5000,
                    message: this.$t('auth.recovery_error'),
                    type: 'is-danger'
                })
            } else {
                this.sent = true
            }
        }
    },
}
</script>