<template>
  <section class="about-page blog-page">
    <div class="standart-section-offset">
      <Breadcrumbs />

      <ValidationObserver v-slot="{ invalid, errors }" ref="form" v-if="!sent" :bails="false">
        <form @submit.prevent="onSubmit" @reset.prevent="reset">

          <div class="light-beige">
            <div class="container">
              <div class="columns is-multiline is-centered">
                <div class="column is-5">

                  <h2>{{ $t('auth.recovery_query') }}</h2>

                  <div class="column is-12">
                    <ValidationProvider :name="$t('auth.password')" rules="required|lengthcheck" v-slot="{ errors }"
                      vid="password_field" ref="passwordValidator">
                      <br-input type="password" v-model="formdata.password" :label="$t('auth.password')"
                        :error="errors[0]" isLabelOnInput autocomplete="new-password" />
                      <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
                    </ValidationProvider>
                  </div>

                  <div class="column is-12">
                    <ValidationProvider :name="$t('auth.password_confirmation')" rules="required|confirmed:password_field"
                      v-slot="{ errors }">
                      <br-input type="password" v-model="formdata.password_confirmation"
                        :label="$t('auth.password_confirmation')" :error="errors[0]" autocomplete="new-password"
                        isLabelOnInput />
                      <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
                    </ValidationProvider>
                  </div>

                  <div class="column is-12">
                    <div class="text-align-center next-step">
                      <b-button v-if="!invalid" class="btn" native-type="submit">{{
                        $t('auth.recovery_set_new_password')
                      }}</b-button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </ValidationObserver>
      <div v-else>
        <div class="columns is-flex-direction-column is-multiline is-centered">
          <h2 class="is-size-4 text-align-center mt-6 fixspacing"> {{ $t('auth.password_recovered') }}</h2>

          <div class="text-align-center mt-6" v-html="$t('auth.password_recovered_info')"></div>

          <div class="column is-12 mt-6 mb-6">
            <div class="text-align-center next-step">
              <nuxt-link :to="localePath({ name: 'login' })" class="btn">{{ $t('auth.login_button') }}</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Breadcrumbs from '~/components/base/Breadcrumbs'
import BrInput from '~/components/base/BrInput'

import { ValidationProvider, ValidationObserver, extend } from "vee-validate"

export default {

  components: {
    Breadcrumbs,
    BrInput,
    ValidationProvider,
    ValidationObserver
  },

  async asyncData({ query, redirect }) {
    const code = query["reset"]
    return code ? { code } : redirect('/lv')
  },

  data: () => ({
    formdata: {
      password: null,
      password_confirmation: null,
    },
    sent: false,
  }),
  mounted() {
    extend('lengthcheck', {
      validate: value => {
        if (value.length < 8) {
          return this.$t('auth.password_length_error')
        }
        return true
      },
      message: 'The {_field_} must be at least 8 characters'
    })
  },

  methods: {
    async onSubmit() {
      this.$store.commit('basket/START_LOADING')

      const response = await fetch('/api/v1/user/finish-pass-reset', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          code: this.code,
          password: this.formdata.password,
          password_confirmation: this.formdata.password_confirmation
        })
      })

      this.$store.commit('basket/STOP_LOADING')

      let hasError = false
      try {
        const { error, message } = await response.json()
        if (error) {
          hasError = true
          this.$buefy.toast.open({
            duration: 5000,
            message: message,
            type: 'is-danger'
          })
        }
      } catch (error) {
        hasError = true
        this.$buefy.toast.open({
          duration: 5000,
          message: this.$t('auth.reset_error'),
          type: 'is-danger'
        })
      }

      if (!hasError) {
        this.sent = true
      }
    }
  },
}
</script>