<template>
  <section class="about-page blog-page container">
    <div class="standart-section-offset">
      <Breadcrumbs />
      <div class="columns is-multiline is-vcentered is-centered" >
        <div class="column is-11">
            <div class="container">
              <div class="blog-card">
                <h2>{{ pages[3].name }}</h2>
                <div class="text-content" v-html="pages[3].body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
import Background from '../components/pages/home/Background'
import Breadcrumbs from '../components/base/Breadcrumbs'
import InfoSlider from '../components/pages/home/InfoSlider'
import AboutUs from '../components/pages/home/AboutUs'
import AboutUsBottom from '../components/pages/home/AboutUsBottom'
import HowToOrderInfo from '../components/pages/home/HowToOrderInfo'
import ChooseProductCategory from '../components/pages/home/ChooseProductCategory'
import ProductsSlider from '../components/pages/home/ProductsSlider'

export default {
  name: 'HomePage',
  nuxtI18n: {
    paths: {
      en: '/rules',
      lv: '/noteikumi',
    }
  },
  components: { Background, InfoSlider, AboutUs,AboutUsBottom, HowToOrderInfo, ChooseProductCategory, ProductsSlider, Breadcrumbs },
  async asyncData ({ $axios, params }) {
    const [
      pages,
      //jobs,
      //projects,
    ] = await Promise.all([
      $axios.$get('/api/v1/content/pages-section/all'),
      //$axios.$get('/api/v1/about/jobs'),
      //$axios.$get('/api/v1/about/projects'),
    ]);

    return {
      pages: pages.data,
      //jobs: jobs.data,
      //projects: projects.data
    }
  },

  data() {
    return {
      pages: null,
      //jobs: null,
      //projects: null,
    }
  },
  head () {
    return {
      bodyAttrs: {
        class: 'single-page blog-page'
      }
    }
  }
}
</script>
