<template>
  <section class="shop-page single-product sizes-page">
    <div class="standart-section-offset">
      <Breadcrumbs />
      <div class="container fluid-container shop-padder" v-if="sizesFound">
        <div class="columns is-multiline">
          <ValidationObserver v-slot="{ invalid, errors }" ref="productuserSizesValiadtor">
            <div class="column is-12">
              <h1>{{ $t('sizes.title') }}</h1>

              <div class="body-wrap">
                <p>
                  <span>{{ $t('sizes.info') }}</span>

                  <b-tooltip class="tooltip-main" type="is-light" position="is-right" style="display: inline-block">
                    <template v-slot:content>
                      <b-image class="tooltip-image"
                        :src="require(`~/assets/img/measurements_beginning.svg`)"></b-image>
                    </template>

                    <IconsInfo />
                  </b-tooltip>
                </p>
              </div>

              <div v-if="isLoading" class="columns is-6 mt-4">
                <div v-for="item in 2" :key="`loading-key-${item}`" class="column is-6 mt-4">
                  <div class="slider-label mb-6" v-for="item in 6" :key="`loading-item-${item}`">
                    <div class="align-inner-items" style="width: 100%">
                      <b-skeleton :animated="true"></b-skeleton>
                    </div>
                  </div>
                </div>
              </div>

              <div v-else class="columns is-multiline is-centered is-6">
                <div v-for="(item, index) in sizingCartList" :key="index" class="column is-6 mt-4 p-6-desktop">
                  <div class="images columns is-2">
                    <img class="column is-6" :src="$imagor(item.variation.image, 500)" alt="" />
                    <img class="column is-6" :src="$imagor(item.variation.secondary_image, 500)" alt="" />
                  </div>

                  <div v-for="(size, sizeindex) in item.product.usersizes" :key="`${index}-${size.id}`"
                    class="size-input-slider-wrap">
                    <div class="slider-label">
                      <p class="align-inner-items">
                        <span>{{ size.name }}:</span>

                        <b-tooltip class="tooltip-main" type="is-light" position="is-right">

                          <template v-slot:content>
                            <b-image class="tooltip-image" :src="$imagor(size.image, 1000)"></b-image>
                          </template>

                          <IconsInfo />
                        </b-tooltip>
                      </p>
                      <p class="dash-after transparent-input__group is-flex">
                        <input class="transparent-input" type="number" v-model="sizeObject[size.slug]" />&nbsp;
                        <span class="transparent-input__postspan"> cm </span>
                      </p>
                    </div>
                    <div class="slider">
                      <ValidationProvider :name="size.name" rules="required|min_value:1" v-slot="{ errors }">
                        <b-field>
                          <b-slider v-model="sizeObject[size.slug]" indicator :min="0" :max="230"
                            :tooltip="false"></b-slider>
                        </b-field>

                        <div v-if="errors[0]" class="error mt-4">
                          <small>{{ $t('sizes.validation.error') }}</small>
                        </div>
                      </ValidationProvider>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ValidationObserver>
        </div>

        <div class="text-align-center next-step mt-6 mb-6">
          <div>
            <a __to="backLink" class="pink-color" @click="$router.back()">{{ $t('nav.back') }} -</a>

            <span class="spacer"></span>

            <button class="btn" @click="validateAndContinue">
              {{ $t('shop.add_to_cart') }}
            </button>
          </div>
        </div>
      </div>

      <div v-else class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1>{{ $t('sizes.no_sizes_found_title') }}</h1>
            <div>{{ $t('sizes.no_sizes_found_text') }}</div>            
          </div>
          <div class="text-align-center next-step mt-6 mb-6">
            <NuxtLink class="btn" :to="localePath({ name: 'shop' })">{{ $t('sizes.no_sizes_found_button') }}</NuxtLink>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>

<script>
import Background from '~/components/pages/home/Background'
import Breadcrumbs from '~/components/base/Breadcrumbs'
import InfoSlider from '~/components/pages/home/InfoSlider'
import AboutUs from '~/components/pages/home/AboutUs'
import HowToOrderInfo from '~/components/pages/home/HowToOrderInfo'
import ChooseProductCategory from '~/components/pages/home/ChooseProductCategory'
import ProductsSlider from '~/components/pages/home/ProductsSlider'
import OpenedProductSlider from '~/components/pages/shop/OpenedProductSlider'
import ShopMenu from '~/components/pages/shop/ShopMenu'
import IconsInfo from '~/components/icons/Info'

import { ValidationProvider, ValidationObserver } from 'vee-validate'

export default {
  name: 'HomePage',
  nuxtI18n: {
    paths: {
      en: '/sizes',
      lv: '/izmeri',
    }
  },
  components: {
    Background,
    InfoSlider,
    AboutUs,
    HowToOrderInfo,
    ChooseProductCategory,
    ProductsSlider,
    Breadcrumbs,
    ShopMenu,
    OpenedProductSlider,
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    sizeObject: {},
    isLoading: true
  }),

  head: () => ({
    bodyAttrs: {
      class: 'single-page shop-page sizes-page'
    }
  }),

  async fetch() {
    this.isLoading = true

    const savedSizes = await this.$axios.$get('/api/v1/swimbe/user/sizes').then(res => res.data)
    this.isLoading = false

    if (!savedSizes) {
      return
    }

    savedSizes.forEach(size => {
      this.sizeObject[size.slug] = parseInt(size.pivot.value) || 0
    })
  },

  fetchOnServer: false,

  computed: {
    sizingCartList() {
      return this.$store.state.forSizingBasket.items
    },
    sizesFound() {
      return this.sizingCartList.length > 0
    },
  },

  methods: {
    addToCartAndContinue() {
      this.$store.commit('basket/START_LOADING')

      const productLine = this.sizingCartList.map(item => {
        item.variation_data['sizes'] = this.collectSizesForProduct(item)

        return this.$store.dispatch('basket/ADD_PRODUCT', item)
      })

      Promise.all(productLine)
        .then((r) => {
          this.$utils.toast(this.$t('Prece pievienota grozam'), 'is-success')
          this.$store.commit('basket/STOP_LOADING')

          this.$router.push(this.localePath({
            name: 'basket'
          }))
        })
        .catch((err) => {
          this.$store.commit('basket/STOP_LOADING')
          this.$utils.toast(this.$t(err.message), 'is-danger')
        })
    },

    validateAndContinue() {
      this.$refs.productuserSizesValiadtor.validate().then((success) => {
        if (success) {
          this.addToCartAndContinue()
        } else {
          this.$utils.toast(this.$t('sizes.not_enough'), 'is-danger')
        }
      })
    },

    collectSizesForProduct(item) {
      return item.product?.usersizes.map(size => ({
        id: size.id,
        slug: size.slug,
        value: this.sizeObject[size.slug]
      })) || []
    },

    sliderType(errors) {
      return errors[0] ? 'is-danger' : null
    },

    sliderMessage(errors) {
      return errors[0] ? errors[0] : null
    }
  }
}
</script>

<style lang="scss" scoped>
.local-spacer {
  height: 10vh;
}

.error {
  color: red;
  text-align: right;
}

.tooltip-main {
  cursor: pointer;
}

.tooltip-main::v-deep {
  .tooltip-content {
    background: #f2ede4;
    left: calc(100% + 10px + 2px);

    &::before {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #f2ede4 !important;
      // border-right-color: #F2EDE4 !important;
    }
  }
}

.tooltip-image {
  width: 10rem;
  padding: 10px;
}
</style>import { map } from 'core-js/core/array'
