<template>
  <b-tabs position="is-centered" class="block pt-0" v-model="activeTab">

    <b-tab-item :label="$t('auth.login_button')">
      <p class="mb-4" v-if="$te('auth.login_text')" v-html="$t('auth.login_text')">  </p>

      <Login></Login>
      <div class="has-text-centered">
        <NuxtLink :to="localePath({ name: 'recover_password' })">{{ $t('auth.restore_password') }}</NuxtLink>
      </div>
    </b-tab-item>

    <b-tab-item :label="$t('auth.register_button')">
      <p class="mb-4" v-if="$te('auth.register_text')" v-html="$t('auth.register_text')">  </p>

      <Register></Register>
      <div class="has-text-centered">
        <NuxtLink :to="localePath({ name: 'recover_password' })">{{ $t('auth.restore_password') }}</NuxtLink>
      </div>
    </b-tab-item>
  </b-tabs>
</template>

<script>
import Login from "~/components/auth/Login"
import Register from "~/components/auth/Register"

export default {
  components: {
    Login,
    Register,
  },

  data: () => ({
    activeTab: 0,
  }),
}
</script>

<style scoped lang="scss">
.block {
  padding: 2rem;
}
</style>
