<template>
  <ValidationObserver v-slot="{ invalid, errors }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="reset">

      <div class="columns is-multiline mb-4">

        <div class="column is-12">
          <ValidationProvider :name="$t('auth.email')" rules="required|email" v-slot="{ errors }" ref="emailValidator">
            <br-input v-model="formdata.email" :label="$t('auth.email')" :error="errors[0]" isLabelOnInput
              autocomplete="username" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="column is-12">
          <ValidationProvider :name="$t('auth.password')" rules="required" v-slot="{ errors }" ref="passwordValidator">
            <br-input type="password" v-model="formdata.password" :label="$t('auth.password')" :error="errors[0]"
              isLabelOnInput autocomplete="current-password" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="column is-12">
          <div class="text-align-center next-step">
            <b-button class="btn" native-type="submit">{{ $t('auth.login_button') }}</b-button>
          </div>
        </div>

      </div>
    </form>


  </ValidationObserver>
</template>

<script>
import BrInput from '~/components/base/BrInput'
import Notice from '~/components/base/Notice'

import { ValidationProvider, ValidationObserver } from "vee-validate"

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BrInput,
    Notice,
  },

  data: () => ({
    formdata: {
      email: null,
      password: null,
    },
  }),

  mounted() {
    const isLogged = this.$auth.loggedIn
    if (isLogged) {
      this.$router.push(this.localePath({
        name: 'profile'
      }))
    }
  },

  methods: {
    onSubmit() {
      this.$refs.form
        .validate()
        .then(success => {
          this.$store.commit("basket/START_LOADING")

          if (success) {
            this.$auth.loginWith("main", {
              data: this.formdata,
            }).then(() => {
              this.$buefy.toast.open({ message: this.$t('auth.login_success'), type: 'is-success', duration: 5000 })
              // reload page
              this.$router.go()
            }).catch((error) => {
              const data = error.response.data
              this.$buefy.toast.open({ message: this.$t(data.error), type: 'is-danger', duration: 5000 })
            })
          } else {
            this.$buefy.toast.open({ message: this.$t('auth.login_error'), type: 'is-danger', duration: 5000 })
          }

          this.$store.commit("basket/STOP_LOADING");
        })
        .catch((data) => {
          this.$buefy.toast.open({ message: this.$t('auth.login_error'), type: 'is-danger', duration: 5000 })
          this.$store.commit("basket/STOP_LOADING");
        })
    },

    handleSubmit() {
      this.onSubmit()
    },

    clearForm() {
      this.formdata.email = null
      this.formdata.password = null
    },
  },
}
</script>

