<template>
  <div>
    <div v-if="showValidationText">
      <h2 class="is-size-4 text-align-center mt-6 fixspacing"> {{ $t('auth.confirmation_email_sent_title') }} </h2>

      <div class="text-align-center mt-6" v-html="$t('auth.confirmation_email_sent_text')"></div>

      <div class="column is-12 mt-6 mb-6">
        <div class="text-align-center next-step">
          <nuxt-link :to="localePath({ name: 'index' })" class="btn">{{ $t('auth.go_home') }}</nuxt-link>
        </div>
      </div>
    </div>
    <ValidationObserver v-slot="{ invalid, errors }" ref="form" v-else>
      <form @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="reset">

        <div class="columns is-multiline mb-4">

          <div class="column is-12">
            <ValidationProvider :name="$t('auth.email')" rules="required|email|unique-email" v-slot="{ errors }"
              ref="emailValidator">
              <br-input v-model="formdata.email" :label="$t('auth.email')" :error="errors[0]" isLabelOnInput
                autocomplete="username" />
              <div v-if="errors[0]" class="error mt-4">
                {{ errors[0] }}
                <NuxtLink v-if="emailInUse" :to="localePath({ name: 'recover_password' })">{{ $t('auth.restore_password') }}</NuxtLink>
              </div>
            </ValidationProvider>
          </div>

          <div class="column is-12">
            <ValidationProvider :name="$t('auth.password')" rules="required" v-slot="{ errors }" vid="password_field"
              ref="passwordValidator">
              <br-input type="password" v-model="formdata.password" :label="$t('auth.password')" :error="errors[0]"
                isLabelOnInput autocomplete="new-password" />
              <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>

          <div class="column is-12">
            <ValidationProvider :name="$t('auth.password_confirmation')" rules="confirmed:password_field"
              v-slot="{ errors }">
              <br-input type="password" v-model="formdata.password_confirmation" :label="$t('auth.password_confirmation')"
                :error="errors[0]" autocomplete="new-password" isLabelOnInput />
              <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>

          <div class="column is-12">
            <ValidationProvider :name="$t('auth.gdpr')" rules="agree_to_gdpr" v-slot="{ errors }">
              <b-checkbox v-model="formdata.gdpr" class="mr-0 is-float-right">
                {{ $t('auth.gdpr') }}
                <NuxtLink class="rules" :to="localePath({ name: 'rules' })">{{ $t('auth.gdpr_rules') }}</NuxtLink>
              </b-checkbox>
              <div v-if="errors[0]" class="error mt-4">{{ $t(errors[0]) }}</div>
            </ValidationProvider>
          </div>

          <div class="column is-12">
            <div class="text-align-center next-step">
              <b-button class="btn" @click="onSubmit">{{ $t('auth.register_button') }}</b-button>
            </div>
          </div>

        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import BrInput from '~/components/base/BrInput'
import Notice from '~/components/base/Notice'

import { ValidationProvider, ValidationObserver, extend } from "vee-validate"

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BrInput,
    Notice,
  },

  data: () => ({
    formdata: {
      email: null,
      password: null,
      password_confirmation: null,
      gdpr: false,
    },
    showValidationText: false,
    emailInUse: false,
  }),

  mounted() {
    this.emailInUse = false
    extend('unique-email', {
      validate: async value => {
        const response = await fetch(`/api/v1/user/has_user`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            email: value
          })
        })
        const { exists } = await response.json()
        this.emailInUse = exists
        return !exists || this.$t('auth.email_in_use')
      },
      message: this.$t('auth.email_in_use'),
    })
  },

  methods: {
    onSubmit() {
      this.$refs.form
        .validate()
        .then(success => {
          if (success) {
            this.$store.commit("basket/START_LOADING")
            this.onRegister()
          } else {
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('auth.register_error'),
              type: 'is-danger'
            })
          }
        })
    },

    onRegister() {
      this.$axios
        .post('api/signup', this.formdata)
        .then((data) => {
          this.showValidationText = true
          this.$store.commit("basket/STOP_LOADING")
          this.clearForm()
        })
        .catch((error) => {
          this.$store.commit("basket/STOP_LOADING")
          const err = error.response?.data?.error || 'Unknown error'
          this.$buefy.toast.open({
            duration: 5000,
            message: this.$t(err),
            type: 'is-danger'
          })
        })
    },

    handleSubmit() {
      this.onSubmit()
    },

    clearForm() {
      this.formdata.email = null
      this.formdata.password = null
      this.formdata.password_confirmation = null
    },
  },
}
</script>

<style scoped lang="scss">
.fixspacing {
  line-height: 136%;
}
a.rules {
  color: #8c080c;
}
</style>
