<template>
<div class="columns pb-6">

  <div class="column is-12">
    <h1 class="gift-card-title">
      {{ giftCardType.title }}
    </h1>

    <div class="body" v-html="giftCardType.body"></div>

    <ValidationObserver v-slot="{ invalid, errors }" ref="form">
      <div class="form-box" @submit.prevent="handleSubmit(onSubmit)">

        <div class="columns" v-if="!morePersons">

          <div class="column is-6">
            <ValidationProvider
              :name="$t('gift_card.name')"
              rules="required|max:14"
              v-slot="{ errors }"
            >
              <br-input
                v-model="form.name"
                :label="$t('gift_card.name')"
                :maxlength="14"
              />
              <div v-if="errors[0]" class="error mt-4">
                {{ errors[0] }}
              </div>
            </ValidationProvider>
          </div>
          <div class="column is-6">
            <ValidationProvider
              :name="$t('gift_card.email')"
              rules="required|email"
              v-slot="{ errors }"
            >
              <br-input
                v-model="form.email"
                :label="$t('gift_card.email')"
              />
              <div v-if="errors[0]" class="error mt-4">
                {{ errors[0] }}
              </div>
            </ValidationProvider>
          </div>
        </div>

        <div class="columns" v-if="!morePersons">
          <div class="column is-full">
            <ValidationProvider
              :name="$t('gift_card.receiver')"
              rules="max:14"
              v-slot="{ errors }"
            >
              <br-input
                v-model="form.receiver"
                :maxlength="14"
                :label="$t('gift_card.receiver')"
              />
              <div v-if="errors[0]" class="error mt-4">
                {{ errors[0] }}
              </div>
            </ValidationProvider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <h4 class="gift-card-info">
              {{ $t("gift_card.price") }}
            </h4>
          </div>
        </div>

        <div class="columns is-multiline is-mobile">

          <template>
            <!-- <div class="column is-3">
              <ValidationProvider
                :name="$t('gift_card.value')"
                rules="required|gift-card-value"
                v-slot="{ errors }"
                v-if="!morePersons"
              >
                <br-input
                  v-model="priceInteger"
                  :label="$t('gift_card.value')"
                  class="br-input--is-focused"
                  :disabled="giftCardType.layout_type != 'default'"
                />
                <div v-if="errors[0]" class="error mt-4">
                  {{ errors[0] }}
                </div>
              </ValidationProvider>
            </div> -->


            <!-- <div class="column is-12" style="display:flex; "> -->

            <div
              v-for="(item, index) in valueArray" :key="index"
              class="column is-4"
            >
              <div
                class="gift-btn" style="width:100%"
                :class="{'is-active': (!morePersons && priceInteger == item.value) }"
                @click="priceInteger = item.value; morePersons = false"
              >
                <div class="inner">
                  <span class="digit"> {{ item.value }} </span>
                  <span class="currency"> EUR </span>
                </div>
              </div>
            </div>
            <!-- </div> -->

          </template>

          <!-- <template v-if="giftCardType.layout_type == 'countable' && false">
            <div class="column">
              <div class="is-flex is-align-items-center pb-1">

                <h3 class="pt-3">
                  {{ $utils.parseCurrency(priceInteger * 100) }}
                </h3>

                <div class="is-flex-grow-1" />

                <ValidationProvider
                  :name="$t('gift_card.count')"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <number-input v-model="form.count" :max="maxCount" class="" @input="count_change"/>
                </ValidationProvider>

              </div>

              <hr class="is-grey-alt">
            </div>
          </template> -->

        </div>

        <div class="columns" v-if="!morePersons">
          <div class="column is-full">
            <ValidationProvider
              :name="$t('gift_card.message')"
              rules="max:130"
              v-slot="{ errors }"
            >
              <br-textarea
                v-model="form.message"
                :maxlength="130"
                :placeholder="$t('gift_card.message')"
              />
              <div v-if="errors[0]" class="error mt-4">
                {{ errors[0] }}
              </div>
            </ValidationProvider>
          </div>
        </div>

        <div class="columns" v-if="!morePersons">
          <div class="column submit-box">

            <button class="btn submit-btn" @click="onSubmit">
              <p>{{ $t("gift_card.add_to_cart") }}</p>
              <!-- <p class="ml-3">{{$utils.parseCurrency(priceInteger * 100)}}</p> -->
            </button>

          </div>
        </div>

      </div>
    </ValidationObserver>
  </div>

</div>
</template>

<script>

import ArrowLeft from "~/components/icons/ArrowLeft";
import ArrowRight from "~/components/icons/ArrowRight";
import BrInput from "~/components/base/BrInput";
import BrTextarea from "~/components/base/BrTextarea";
import NumberInput from "~/components/base/NumberInput";
import { ValidationProvider, ValidationObserver } from "vee-validate";

export default {

  components: {
    ArrowRight,
    ArrowLeft,
    BrInput,
    BrTextarea,
    ValidationProvider,
    ValidationObserver,
    NumberInput,
  },

  props: {
    giftCardType: {
      type: Object,
      default: () => null,
    },
    type: {
      type: String,
    },

    images: {
      type: Array,
      default: () => null,
    },

    firstPrice: null,
    maxCount: null,
  },

  data() {
    return {
      options: {
        arrows: false,
        infinite: true,
        focusOnSelect: true,
        adaptiveHeight: true,
      },

      // images: [
      //   { image: require("~/assets/img/gift_card/gift_card.png") },
      //   { image: require("~/assets/img/gift_card/gift_card.png") },
      // ],

      form: {
        value: 0,
        name: "",
        email: "",
        receiver: "",
        message: "",
        count: 1,
        need_hardcover: null,
      },

      nextPrice: 48,

      morePersons: false,
      activeArrayValue: 0,
    };
  },

  mounted() {
  },
  computed: {
    priceInteger: {
      set(value, oldValue) {
        this.form.value = this.parseMoney(value);
      },

      get() {
        if ( this.form.value == null ) {
          this.form.value = this.parseMoney(this.firstPrice)
        }

        return this.form.value
      },
    },

    valueArray() {
      if ( this.giftCardType.layout_type == "countable" ) {
        const prices = [];

        this.giftCardType.prices_for_countable_type.forEach((element, index) => {
          prices.push({
            title: element.title ?? index+1,
            count: index+1,
            value: this.parseMoney(element),
          });
        });

        return prices;
      } else {
        return [
          {value: 25},
          {value: 50},
          {value: 75},
          {value: 100},
          {value: 125},
          {value: 150},
        ];
      }
    }
  },

  methods: {
    mock() {
      this.form = {
        type_id: 1,
        value: 100,
        name: "Guntis",
        email: "adx@adx.lv",
        receiver: "Guntis 2",
        message: "Nezinu",
      };
    },

    empty() {
      this.$refs.form.reset();

      this.form = {
        value: this.firstPrice,
        name: "",
        email: "",
        receiver: "",
        message: "",
        count: 1,
      };
    },

    add_value(new_value) {
      this.form.value = this.parseMoney(new_value);
    },

    onSubmit: function () {
      this.$refs.form.validate().then((success) => {
        if (success) {
          let card = this.form;
          card.morePersons = this.morePersons;
          card.type_id = this.giftCardType.id;

          this.$store.dispatch('basket/ADD_GIFT_CARD', card )
            .then((r) => {
              this.empty();

              this.toast(
                "Karte pievienota grozam",
                "is-success"
              );

            })
            .catch((err) => {
              this.toast(
                err.message,
                "is-danger"
              );
            })

        } else {
          this.toast(
            "Pārbaudi formas laukus - kaut kas nav labi!",
            "is-danger"
          );
        }
      });
    },

    parseMoney: function (value = '') {
      if (value == null || value == '') {
        value = 0;
      }

      if (value.price) {
        return parseInt(value.price.replace('.', ','));
      }

      try {
        return parseInt(value.replace('.', ','));
      } catch (error) {}

      return value;
    },

    count_change() {
      this.priceInteger = this.form.count;
    },

    /**
     * type: is-white, is-black, is-light, is-dark, is-primary, is-info, is-success, is-warning, is-danger
     */
    toast(message, type) {
      type = type || 'is-success';

      this.$buefy.toast.open({
          duration: 5000,
          message: message,
          // position: 'is-bottom',
          type: type
      })
    }
  },
}
</script>

<style scoped lang="scss">
.gift-card-title {
  line-height: 1;
  margin-bottom: 1.5rem;
}
.body {
  line-height: 1.2;
  margin-bottom: 4rem;
}
.gift-btn {
  position: relative;
  border: 1px solid #8c080c;
  border-radius: 100%;
  cursor: pointer;

  transition: background 200ms;

  .inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #8c080c;

    transition: color 200ms;

    .digit {
      font-size: 3rem;
      line-height: 1;
    }

    .currency {
      font-size: 1rem;
      line-height: 1;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  &.is-active {
    background-color: #8c080c;

    .inner {
      color: #F2EDE4;
    }
  }
}
</style>
