.choose-circle {
	margin-bottom: rem(20);
  height: rem(120);

}

.c850container {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.how-to-order-info-block {
	p {
		line-height: 1.5;
	}

  .block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > p {
      display: flex;
      min-height: rem(54);
      justify-content: center;
      align-items: center;
    }
  }
}
