<template>
  <ValidationObserver v-slot="{ invalid, errors }" ref="form">
    <div class="checkout-page__form" @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="reset">
      <h1 class="checkout__big-heading" style="margin-bottom: 64px" v-html="$t('checkout.form')"></h1>

      <h4 class="mb-4"><span class="star"> *</span> - {{ $t('checkout.star') }}</h4>

      <h3 class="checkout__small-heading mb-4">
        {{ $t('checkout.contact') }}<span class="star"> *</span>
      </h3>

      <!-- Top Main info -->
      <div class="columns is-multiline mb-4">
        <div class="column is-12">
          <ValidationProvider :name="$t('checkout.email')"
            :rules="$auth.loggedIn ? '' : 'required|email|unique-checkout-email'" v-slot="{ errors }"
            ref="emailValidator">
            <br-input v-model="checkout.email" :label="$t('checkout.email')" :error="errors[0]" isLabelOnInput
              :disabled="$auth.loggedIn" />
            <div v-if="errors[0]" class="error mt-4">
              {{ errors[0] }}
              <NuxtLink v-if="emailInUse" :to="localePath({ name: 'recover_password' })">{{ $t('auth.restore_password') }}
              </NuxtLink>
            </div>
          </ValidationProvider>
        </div>

        <div class="column is-6">
          <ValidationProvider :name="$t('checkout.first_name')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.name" :label="$t('checkout.first_name')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="column is-6">
          <ValidationProvider :name="$t('checkout.last_name')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.lastname" :label="$t('checkout.last_name')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="column is-3">
          <ValidationProvider :name="$t('checkout.phone_prefix')" rules="" v-slot="{ errors }" ref="phonePrefixValidator">
            <br-input v-model="checkout.phone_prefix" :label="$t('checkout.phone_prefix')" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
        <div class="column is-9">
          <ValidationProvider :name="$t('checkout.phone_number')" rules="required|phone" v-slot="{ errors }"
            ref="phoneValidator">
            <br-input v-model="checkout.phone" :label="$t('checkout.phone_number')" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="column is-full">
          <b-select expanded v-model="checkout.country_code" class="br-select-outlined"
            :placeholder="$t('checkout.country')">
            <template v-for="(country, index) in countries">
              <option :value="country.code" :key="`checkout.country_code${index}`">
                {{ country.name }}
              </option>
            </template>
          </b-select>
        </div>
      </div>

      <div class="is-flex" style="margin-bottom: 64px" v-if="false">
        <div class="has-line-height-140" v-html="$t('checkout.user_checkout_discount_info')"></div>
      </div>

      <div class="is-flex is-justify-content-flex-end mb-4" v-if="false">
        <ValidationProvider :name="$t('checkout.sub_title')" rules="" v-slot="{ errors }" ref="subscribeValidator">
          <b-checkbox v-model="checkout.subscribe" class="mr-0 is-float-right">
            {{ $t('checkout.sub_title') }}
          </b-checkbox>
          <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
        </ValidationProvider>
      </div>



      <!-- Delivery Type -->
      <div class="columns mt-6 pt-4">
        <div class="column is-full mb-6">
          <ValidationProvider :name="$t('checkout.shiping_method')" rules="required" v-slot="{ errors }">
            <ShippingList v-model="checkout.delivery" @onSetMetadata="setDeliveryMetadata" @input="setDelivery"
              :methods="deliveryMethods" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
      </div>

      <!-- Is Business or Presonal -->
      <div class="columns is-multiline mb-2">
        <div class="column is-6">
          <BrRadio v-model="checkout.is_business" :native-value="false">
            {{ $t('checkout.is_personal') }}
          </BrRadio>
        </div>
        <div class="column is-6">
          <BrRadio v-model="checkout.is_business" :native-value="true">
            {{ $t('checkout.is_business') }}
          </BrRadio>
        </div>
      </div>

      <!-- [HIDE IF NOT BUSINESS] Address info -->
      <h3 v-if="checkout.is_business && false" class="checkout__small-heading mb-4">
        {{ $t('checkout.delivery_address') }} <!-- <span class="star"> *</span> -->
      </h3>

      <!-- [HIDE IF NOT BUSINESS] Address info -->
      <div v-if="checkout.is_business" class="columns is-multiline mb-4">
        <div class="column is-12" v-if="checkout.is_business">
          <ValidationProvider :name="$t('checkout.business_name')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.business_name" :label="$t('checkout.business_name')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
        <div class="column is-12" v-if="checkout.is_business">
          <ValidationProvider :name="$t('checkout.reg_nr')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.reg_nr" :label="$t('checkout.reg_nr')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div v-if="false" class="column is-12">
          <!-- <ValidationProvider :name="$t('checkout.address')" rules="required" v-slot="{ errors }"> -->
          <br-input v-model="checkout.address" :label="$t('checkout.address')" :error="errors[0]" />
          <!-- <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div> -->
          <!-- </ValidationProvider> -->
        </div>

        <div v-if="false" class="column is-8">
          <!-- <ValidationProvider :name="$t('checkout.city')" rules="required" v-slot="{ errors }"> -->
          <br-input v-model="checkout.city" :label="$t('checkout.city')" :error="errors[0]" />
          <!-- <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div> -->
          <!-- </ValidationProvider> -->
        </div>
        <div v-if="false" class="column is-4">
          <!-- <ValidationProvider :name="$t('checkout.zip_code')" rules="required" v-slot="{ errors }"> -->
          <br-input v-model="checkout.zip_code" :label="$t('checkout.zip_code')" :error="errors[0]" />
          <!-- <div v-if="errors[0]" class="error mt-4">{{errors[0]}}</div> -->
          <!-- </ValidationProvider> -->
        </div>

        <!-- <div class="column is-6">
          <b-select expanded v-model="checkout.state" class="br-select-outlined" :placeholder="$t('checkout.state')" disabled="true" />
        </div> -->

        <!-- <div class="column is-4">
          <br-input v-model="checkout.code" :label="$t('checkout.country_code')" />
        </div> -->
      </div>

      <!-- [HIDE IF NOT BUSINESS] Is Billing address different -->
      <div v-if="checkout.is_business" class="columns">
        <div class="column is-full">
          <div class="is-flex is-justify-content-flex-start">
            <b-checkbox v-model="checkout.is_different_billing_adress" class="mr-0">
              {{ $t('checkout.is_different_adress') }}
            </b-checkbox>
          </div>
        </div>
      </div>

      <!-- Billing address -->
      <div class="columns is-multiline" v-if="checkout.is_different_billing_adress">
        <div class="column is-full mt-2">
          <h3 class="checkout__small-heading">
            {{ $t('checkout.billing') }} <span class="star"> *</span>
          </h3>
        </div>
        <div class="column is-full">
          <ValidationProvider :name="$t('checkout.address')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.billing_address" :label="$t('checkout.address')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
        <div class="column is-8">
          <ValidationProvider :name="$t('checkout.city')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.billing_city" :label="$t('checkout.city')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
        <div class="column is-4">
          <ValidationProvider :name="$t('checkout.zip_code')" rules="required" v-slot="{ errors }">
            <br-input v-model="checkout.billing_zip_code" :label="$t('checkout.zip_code')" :error="errors[0]" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
        <div class="column is-full">
          <b-select expanded v-model="checkout.billing_country_code" class="br-select-outlined"
            :placeholder="$t('checkout.country')">
            <template v-for="(country, index) in countries">
              <option :value="country.code" :key="`checkout.billing_country_code${index}`">
                {{ country.name }}
              </option>
            </template>
          </b-select>
        </div>
      </div>

      <!-- Payment Type -->
      <div class="columns">
        <div class="column is-full my-6">
          <ValidationProvider :name="$t('checkout.payment_method')" rules="required" v-slot="{ errors }">
            <PaymentList v-model="checkout.payment" @onSetMetadata="setPaymentMetadata" @input="setPayment"
              :methods="paymentMethods" />
            <div v-if="errors[0]" class="error mt-4">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>
      </div>

      <h3 class="checkout__small-heading mb-4">
        {{ $t('checkout.notes') }}
      </h3>

      <div class="mb-4">
        {{ $t('checkout.additional') }}
      </div>

      <div class="mb-6">
        <textarea v-model="checkout.comment" class="br-textarea" :placeholder="$t('checkout.please_let')"
          style="width: 100%; max-width: 100%; height: 200px" />
      </div>

      <div class="columns">
        <div class="column is-full my-6">
          <div class="mb-2">
            <ValidationProvider :name="$t('checkout.agree_to_rules')" rules="agree_to_rules" v-slot="{ errors }">
              <b-checkbox v-model="checkout.agree_to_rules" class="mr-0">
                <span>
                  {{ $t('checkout.agree_to_rules') }}
                </span>
                <NuxtLink target="_blank" :to="localePath({ name: 'rules' })" class="button-with-underline rules-link">
                  {{ $t('checkout.agree_to_rules_linkname') }}
                </NuxtLink>
              </b-checkbox>
              <div v-if="errors[0]" class="error mt-4">{{ $t(errors[0]) }}</div>
            </ValidationProvider>
          </div>
        </div>
      </div>

      <div class="is-flex is-align-items-center pb-1">

        <NuxtLink :to="localePath({ name: 'basket' })">
          {{ $t('checkout.return') }}
        </NuxtLink>
        <div class="is-flex-grow-1" />

        <a @click="onSubmit" class="btn" style="height:auto;">
          {{ $t('checkout.proceed') }}
        </a>

      </div>

      <hr class="is-grey-alt">
    </div>
  </ValidationObserver>
</template>
<script>
import BrInput from '~/components/base/BrInput'
import SelectableBox from '~/components/base/SelectableBox'
import Notice from '~/components/base/Notice'
import BrRadio from '~/components/base/BrRadio'

import ShippingList from './partials/ShippingList'
import PaymentList from './partials/PaymentList'

import { ValidationProvider, ValidationObserver, extend } from "vee-validate";

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BrRadio,
    BrInput,
    Notice,
    ShippingList,
    PaymentList,
    SelectableBox,
  },

  props: {
    paymentMethods: Array,
    deliveryMethods: Array,
  },

  data() {
    return {
      emailInUse: false,
      countries: [],
      checkout: {
        email: this.$auth.user?.email || null,
        name: this.$auth.user?.name || null,
        lastname: this.$auth.user?.surname || null,
        phone: this.$auth.user?.mobile || null,
        phone_prefix: this.$auth.user?.phone ? this.$auth.user.phone.replace(this.$auth.user.mobile, '') : null,
        is_business: this.$auth.user?.is_business === "1" || false,
        country_code: this.$auth.user?.shipping_address?.country?.code || "LV",

        business_name: this.$auth.user?.company || null,
        reg_nr: this.$auth.user?.reg_nr || null,
        address: this.$auth.user?.shipping_address?.address || null,
        city: this.$auth.user?.shipping_address?.city || null,
        zip_code: this.$auth.user?.shipping_address?.zip_code || null,

        is_different_billing_adress: !this.$auth.user?.shipping_address_same_as_billing || false,
        billing_address: this.$auth.user?.billing_address?.address || null,
        billing_city: this.$auth.user?.billing_address?.city || null,
        billing_zip_code: this.$auth.user?.billing_address?.zip_code || null,
        billing_country_code: this.$auth.user?.billing_address?.country?.code || "LV",

        delivery: null,
        delivery_meta: null,

        payment: null,
        payment_meta: null,

        comment: null,

        agree_to_rules: false,
        subscribe: false,
      }
    }
  },

  async fetch() {
    this.countries = await this.$axios.$get("/api/v1/deliveries/countries").then(res => res.data)
  },

  mounted() {
    this.emailInUse = false
    extend('unique-checkout-email', {
      validate: async value => {
        const response = await fetch(`/api/v1/user/has_user`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            email: value
          })
        })
        const { exists } = await response.json()
        this.emailInUse = exists
        return !exists || this.$t('auth.email_in_use')
      },
      message: this.$t('auth.email_in_use'),
    })
  },

  methods: {
    _get_user() {
      return {
        email: this.checkout.email,
        subscribe: this.checkout.subscribe,
        business_name: this.checkout.business_name,
        reg_nr: this.checkout.reg_nr,
        name: this.checkout.name,
        lastname: this.checkout.lastname,
        address: this.checkout.address,
        city: this.checkout.city,
        zip_code: this.checkout.zip_code,
        country_code: this.checkout.country_code,
        phone: this.checkout.phone,
      }
    },

    setDeliveryMetadata(e) {
      this.checkout.delivery_meta = e
    },
    setPaymentMetadata(e) {
      this.checkout.payment_meta = e
    },

    setDelivery(delivery) {
      this.$store.dispatch('basket/SET_DELIVERY', delivery)
    },

    setPayment(payment) {
      this.$store.dispatch('basket/SET_PAYMENT', payment)
    },

    onSubmit: function () {
      this.$refs.form.validate()
        .then(success => {
          if (success) {
            this.$emit('submit', this.checkout)
          } else {
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('shop.error'),
              type: 'is-danger'
            })
          }
        })
    },

    checkForJumisDiscount() {
      const user = this._get_user()
      this.$store.dispatch('basket/ADD_USER_DISCOUNT', user)
    },

    updateDelivery() {
      const user = this._get_user()

      this.$store.dispatch('basket/UPDATE_COUNTRY', user)
        .then((cart) => {
          this.checkout.delivery = null
          this.checkout.delivery_meta = null

          this.$emit('refresh')
        })
    },

    checkForSubscribeDiscount() {
      const user = this._get_user()

      this.$store.dispatch('basket/ADD_SUBSCRIBED_DISCOUNT', user)
    },

    reset() {

    },
  },

  watch: {
    'checkout.country_code': function (newValue, oldValue) {
      this.updateDelivery()
    },
  }
}
</script>

<style lang="scss" scoped>
.star {
  color: red;
}

.rules-link {
  color: red;
}</style>
